%div#help_develop_proposal
	%style
		:sass
			div#help_develop_proposal
				width: 505px
				li
					margin-bottom: .5em
			
	%h2 You can help develop a proposal
		
	%div.help_intro	
		%p Helping is easy and rewarding and you will earn points for your participation.  Those who earn at least 1000 participation points will be submitted in a drawing for a gift certificate of $100!
		
		%p
			Everyone is invited to help answer What, Why, and How these proposals will improve our campus.
			We do this together by suggesting and rating the talking points that are the building blocks for a shared answer to each question.
		%ol
			%li Click one of the proposal questions to see the worksheet where you can work with others and earn points by:
			%ul
				%li Rate each talking point
				%li Ask questions about the talking points or suggest improvements
				%li Select up to 5 talking points you most prefer for each question  
				%li Suggest a talking point that can help provide a more complete answer to the question
				%li Edit the talking points created by others
				%li 
					Click here to see
					%b= link_to "detailed instructions", help_quick_instructions_path, {:remote=>true}
					
			%li Invite others to participate by clicking on the link Invite Friends
			%li 
				Share this site to other students through Facebook and social media. Each proposal has a 
				%b share 
				link.
		%p
			%b VOTE 
			– Starting April 1, you will have $100 to allocate to your favorite project ideas.  The maximum allocation to one idea is $40.  Please utilize your full allocation. Your vote will help determine the winners of the 4 grants.  Winners will be announced Tuesday, May 1st after the live presentations of each project team.
			
		%p 
			%b Join us 
			live Tuesday, May 1st 2-5pm for the project presentations, food, fun and final vote.  Winners of the grants and the $100 participation gift certificate will be announced. 
		
	- if @member.id == 0 || @member.first_name.nil?
		%h3 We need to know what you think!	
	- else
		%h3 #{@member.first_name}, we need to know what you think!	

	-#%p
		You can also watch our
		= link_to 'intro video', {},:rel=>'prettyPhoto', :href=>'http://vimeo.com/29348381', :title=>'2029 CivicEvolution Intro'
		or visit our
		#{link_to "visual help page", help_path, {:remote=>true}}

	%p 
		= link_to "Return to home page", home_path, {:class=>'cancel'}
		
	