%div.help_page
	- content_for(:script) do
		= javascript_include_tag 'jquery.scrollTo-min.js'
		:javascript
			$(function(){

				var win_width = $(window).width();
				var win_height = $(window).height();

				var dialog = $('div.help_page');
				$('div.help_tabs').height( win_height - 80)
				dialog.find('div.help_tabs > div').height( win_height - 112 );
				dialog.find('div.toc, div.viewer').height( win_height - 130 );
				dialog.find('div.viewer').width( $('div.help_page').width() - $('div.toc').width() - 60 );

				dialog.find('div.help_tabs').tabs();
				if(#{params[:topic] ? true : false}){
					dialog.find('div.help_tabs').tabs('select',1);
				}

				$('div.help_page').find('div.toc a, a.intro').die('click').live('click',
					function(){
						try{
							if( $('div#tab_help_toc').is(':visible') == false ){
								$('a#help_toc').click();
							}
							var id = this.href.match(/topic=(\w+)/)[1]
							var show_intro_link = $(this).hasClass('intro') ? true : false;
							$('div.viewer').load('/help/help_topic?id=' + id, 
								function(){
									$('div.viewer').scrollTop(0);
									if(show_intro_link){
										$('div.viewer').append('<p><a href="#" id="'  + id + '" class="intro_return">Return to intro</a></p>');
									}
								}
							);
							$('div.toc a').removeClass('selected');
							$('div.toc a[href$=' + id + ']').addClass('selected');
						}catch(e){}
						return false;
					}
				);
				
				$('div.help_page').find('a.intro_return').die('click').live('click',
					function(){
						try{
							var id = this.id;
							$('div.viewer').load('/help/help_topic?id=Introduction', 
								function(){
									var link = $('div.viewer').find('a[href$=' + id + ']');
									$('div.viewer').scrollTo(link,300);
									link.parent().effect('highlight',3000);
								}
							);
							$('div.toc a').removeClass('selected');
							$('div.toc a:first').addClass('selected');
						}catch(e){}
						return false;
					}
				);
				
			});
	%style
		:sass
			div.help_page
				position: relative
				h1,h2,h3,h4 
					width: 700px
				h4.hdr
					margin-top: 40px
					span
						font-size: .7em
						font-style: italic
						color: #888
				div.help_tabs > ul > li
					font-size: 12px
					a
						padding: .2em 1em
				div.help_tabs
					.ui-tabs-panel
						padding: 0
					ul
						width: 420px
					ul.ui-tabs-nav
						width: 100%
				p, ul, ol
					width: 500px
				li
					margin-bottom: .4em
				img
					border: 4px outset #EEE
					padding: 10px
					margin-bottom: 20px
				div.toc
					border: 1px solid #ccc
					width: 180px
					float: left
					ul
						width: auto
						padding-left: 0
						li.header
							font-weight: bold
							font-size: 1.2em
							border-bottom: 1px solid black
						li
							list-style: none
							width: auto
							margin-bottom: 8px
							a
								text-decoration: none
								&:hover
									text-decoration: underline
						
					a.selected
						font-weight: bold
					overflow: hidden
					overflow-y: scroll
					padding: 10px
				div.viewer
					float: left
					border: 1px solid #ccc
					width: auto
					overflow: scroll 
					padding: 10px
			div.ui-dialog div.ui-dialog-content		
				padding: 0
			div.ui-dialog-titlebar
				a.close_help_dialog
					position: absolute
					right: 30px
					top: 5px
			div.help_intro
				width: 500px
			div.scroll
				overflow: scroll
					
										
	%h3.title CivicEvolution help page
	%div.help_tabs
		%ul
			%li
				%a{:href=>"#tab_help_introduction"} Introduction
			%li
				%a{:href=>"#tab_help_toc", :id=>'help_toc'} Table of Contents
			%li
				%a{:href=>"#tab_help_videos"} Videos
			%li
				%a{:href=>"#tab_help_contact_us"} Contact us
				
		%div#tab_help_toc
			%div.toc
				%ul
					%li.header Help topics
					- toc.each_pair do |key,value|
						%li= link_to value, help_path(:topic=>key), {:class=> (key == default_page[:id]) ? 'selected' : '' }

	
			%div.viewer
				%h3= default_page[:title]
				= render :inline=> default_page[:haml], :type => :haml
			
			%p.clear_both
		
		%div#tab_help_introduction.scroll
			= render :inline=> introduction_haml, :type => :haml
		
		
		%div#tab_help_videos.scroll
			-#%div.videos	
				%p= link_to 'Watch our Introduction to CivicEvolution', {},:rel=>'prettyPhoto', :href=>'http://vimeo.com/29348381', :title=>'2029 CivicEvolution Intro'
				%a{:rel=>'prettyPhoto', :href=>'http://vimeo.com/29348381', :title=>'2029 CivicEvolution Intro', :id=>'play_intro_video'} 
					= image_tag 'vhelp/2029_video_placeholder.jpg', :alt=>'2029 CivicEvolution Demo Video', :title=> 'Click to play this video'
			%p Introductory video
			
			<object width="700" height="595"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=29348381&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=29348381&amp;server=vimeo.com&amp;show_title=0&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="700" height="595"></embed></object>
			
		%div#tab_help_contact_us.scroll
			= render :template=>'client_debug/request_help.html', :locals=>{:in_help=>'yes'}
		