%div#visual_help
	%style
		:sass
			div#visual_help
				width: 505px
		
	%h3 CivicEvolution Help
	%p The goal of CivicEvolution is to help us create community written and supported proposals for constructive change in our community.
	= image_tag 'vhelp/proposal_summary.jpg'
	%p A proposal answers: What change do we want to make, Why is it important to our community, How can the change be made, and Where do we start. 
	%p The answers are provided through a set of talking points developed by members of our community
	= image_tag 'vhelp/worksheet.jpg'
	
	%p A talking point is a short sentence that clearly states a single idea to be considered, discussed and rated by each of us
	%p Talking points capture the essence of our community’s conversations and ideas about each of the questions
	%p The talking points are listed in the worksheet on the left in order of community preference and you can view all of the talking points for this question by clicking the Show more link
	%p On the right is the set of talking points that have been selected and ordered to reflect the preferences of the group. These talking points will appear in the proposal to express an answer to this question.
	%p Participants with a good record of participation are allowed to edit this set of talking points.
	%p Anyone can suggest a talking point and each of us should rate how acceptable we find it
	= image_tag 'vhelp/tp_form.jpg'
	
	%p The graph indicates the relative acceptance of each talking point
	%p More green indicates acceptance and red indicates concern
	%p It is important to consider the total number of ratings, as shown above the graph
	= image_tag 'vhelp/one_talking_point.jpg'
	
	%p If you rate a talking point as neutral or unacceptable, you’ll be prompted to offer some constructive feedback in the discussion
	= image_tag 'vhelp/unacceptable_add_comment.jpg'
	
	%p Participants with a history of helpful team behavior are allowed to edit the talking points
	%p These edits should be constructive improvements on the original idea, not significant changes to it
	= image_tag 'vhelp/edit_talking_point.jpg'
	
	%p There is an edit history for each talking point so we can see how it evolves. This also helps guard against vandalism.
	= image_tag 'vhelp/talking_point_history.jpg'
	
	%p For every question, we each have the opportunity to select up to 5 talking points we most prefer
	%p When you try to select a sixth talking point, you’ll be asked to review your selections and discard one
	= image_tag 'vhelp/select_5.jpg'
	
	%p This process of suggesting, discussing, revising, rating, and preferring helps us to think together so we can find and express common ground.	
	%p A successful proposal should answer all four questions in a way that most of the community can accept and support
	%p We should endorse this idea if we support it
	= image_tag 'vhelp/endorse.jpg'
	
	%p We should also invite our friends and share this idea through our favorite social media
	%p We can also see everyone who has participated in creating this proposal, its progress and our competition to be one of the top participants
	= image_tag 'vhelp/leaderboard.jpg'
	
	%p Join the conversation right now by simply providing your email address
	= image_tag 'vhelp/join.jpg'
	
	%p Your participation will be convenient and productive with email notifications
	-# and this page that displays the new content since your last visit so you can quickly browse, rate or reply to it
	-#= image_tag 'vhelp/new_content.jpg'
	
	%p CivicEvolution makes it easy to think together as a community 
	%p Join us now!
	
	%p
		= link_to "Close", home_path, {:class=>'cancel'}
