<p>
  <b>Initiative:</b>
  <%=h @team.initiative_id %>
</p>

<p>
  <b>Org:</b>
  <%=h @team.org_id %>
</p>

<p>
  <b>Title:</b>
  <%=h @team.title %>
</p>

<p>
  <b>Problem statement:</b>
  <%=h @team.problem_statement %>
</p>

<p>
  <b>Solution statement:</b>
  <%=h @team.solution_statement %>
</p>

<p>
  <b>Status:</b>
  <%=h @team.status %>
</p>

<p>
  <b>Min members:</b>
  <%=h @team.min_members %>
</p>

<p>
  <b>Max members:</b>
  <%=h @team.max_members %>
</p>

<p>
  <b>Timezone:</b>
  <%=h @team.timezone %>
</p>

<p>
  <b>Lang:</b>
  <%=h @team.lang %>
</p>

<p>
  <b>Config:</b>
  <%=h @team.config_id %>
</p>

<p>
  <b>Public face:</b>
  <%=h @team.public_face %>
</p>

<p>
  <b>Public face rating threshold:</b>
  <%=h @team.public_face_rating_threshold %>
</p>

<p>
  <b>Archived:</b>
  <%=h @team.archived %>
</p>

<p>
  <b>Signup mode:</b>
  <%=h @team.signup_mode %>
</p>

<p>
  <b>Join test:</b>
  <%=h @team.join_test %>
</p>

<p>
  <b>Join code:</b>
  <%=h @team.join_code %>
</p>

<p>
  <b>Approve join:</b>
  <%=h @team.approve_join %>
</p>

<p>
  <b>Send invites:</b>
  <%=h @team.send_invites %>
</p>

<p>
  <b>Approve invites:</b>
  <%=h @team.approve_invites %>
</p>

<p>
  <b>Admin groups:</b>
  <%=h @team.admin_groups %>
</p>

<p>
  <b>Country:</b>
  <%=h @team.country %>
</p>

<p>
  <b>State:</b>
  <%=h @team.state %>
</p>

<p>
  <b>County:</b>
  <%=h @team.county %>
</p>

<p>
  <b>City:</b>
  <%=h @team.city %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>