%div#presence
	- if !@member.nil? && @member.id > 0
		= image_tag @member.photo.url('36'), {:class=>'i36 signin_pic', :title=> "#{@member.first_name} #{@member.last_name.slice(0)}", :id=>@member.ape_code}
	- else
		= image_tag '/images/members_default/36/m.jpg', {:class=>'i36 signin_pic', :title=> "Visitor", :id=>0}
		
%div#chat_log
= form_tag( chat_path, {:id=>'chat_form', :class=>'chat_form', :remote=>true, :autocomplete=>'off'}) do
	= hidden_field_tag :team_id, params[:team_id]
	- if @member.nil? || @member.id == 0
		= text_field_tag :msg, 'You must be signed in to chat', {:disabled=>true}
		= submit_tag 'Send', {:disabled => true }
	- else 
		= text_field_tag :msg
		= submit_tag 'Send'