%div#presence
	- if !@member.nil? && @member.id > 0
		= image_tag @member.photo.url('36'), {:class=>'i36 signin_pic', :title=> "#{@member.first_name} #{@member.last_name.slice(0)}", :id=>@member.ape_code}
%div#chat_log
= form_tag( chat_path, {:id=>'chat_form', :class=>'chat_form', :remote=>true, :autocomplete=>'off'}) do
	= hidden_field_tag :team_id, params[:team_id]
	= text_field_tag :msg
	= submit_tag 'Send', {:disable_with => 'Sending…'}