%div.right_master
	%div.help.fix_ht
		%p
			= link_to "Help", short_help_path(tab: 0), {:remote=>true}
			&bull;
			= link_to "Video", short_help_path(tab: 1), {:remote=>true}
			&bull;
			= link_to "Contact us", short_help_path(tab: 2), { :remote => true}	
		
	= render :partial => 'right_panel/member'	
	
	%div.how_to.corner	
		%div.pc= image_tag @team.organizer.photo.url(:small), {:class=>'i36'}
		%p.pc 
			%b #{@team.organizer.first_name} #{@team.organizer.last_name} 
			needs your help developing this proposal.
		%p 
			#{@team.organizer.first_name} will compose and refine answers for each question based on our ideas, comments and ratings.
			Here's how you can help:
		%ul.cta
			%li Rate the proposal and answers
			%li Endorse this proposal
			%li Rate the new ideas
			%li Share your ideas
			%li Add your comments
		
	%div.tools.corner	
		%ul
			%li.video	
				Watch our
				= link_to "video", short_help_path(tab: 1), {:remote=>true}
			%li.invite
				= link_to "Invite your friends ", invite_friends_form_path(@team.id), {:class=>'invite', :remote=>true}

			%li.follow
				= link_to "Follow this proposal", notification_settings_form_path(@team.id), {:remote=>true}

			%li.endorse
				= link_to "Go to endorsements",{},{:class=>'endorse_this_proposal'}

			%li.print
				= link_to "Print", print_proposal_path(@team)	
		
			%li.share
				%div.tools	
					/AddThis Button BEGIN
					%div.addthis_toolbox.addthis_default_style
						%a.addthis_button{:href=>"http://addthis.com/bookmark.php?v=250"}Share
						%a.addthis_button_facebook
						%a.addthis_button_twitter
						-#%a.addthis_button_googlebuzz
						%a.addthis_button_email
						%span.addthis_separator
						%a.addthis_button_facebook_like
					-#= javascript_tag %Q|var addthis_config = {"data_track_clickback":true};|
					-#= javascript_include_tag 'http://s7.addthis.com/js/250/addthis_widget.js#username=civicevolution'
					/AddThis Button END
		
			

	%div.suggested_action.corner
		= render( :template => 'plan/new_content')
	
		-#%p.label
			Suggested action for you
		-#%div.suggestion
			= image_tag 'completed_off.gif', :title => 'Click here when you have completed the task'
			%p.action
				-#Rate 3 new talking points and read 5 new comments
				Please rate all of the talking points in this proposal
			%p.controls
				= link_to "Show me how", help_path(:topic=>'Rating_talking_points'), { :class=> 'show_me', :id=>'Rating_talking_points', :remote=>true}
				-#= link_to "Next action", request_help_path, { :class=> 'next'}
			
	-#%div.page_context.corner
		%p.label
			Progress report for this proposal
		%table
			%tbody
				%tr.stripe
					%td= pluralize( @team.participants.size, 'participant')
				- if @team.stats
					-	PARTICIPATION_EVENT_POINTS.values.find_all{|pep| pep['summary_order'] && pep['summary_order'].to_i != 0}.sort{|a,b| a['summary_order'].to_i<=>b['summary_order'].to_i}.each do |stat|
						%tr{:class=>cycle('','stripe')}
							%td
								= pluralize(@team.stats[stat['col_name']], stat['summary_title']) 					

	-#%div.page_context.corner
		%p.label
			Participants
		%table
			%tbody
				- @team.participants.sort{|a,b| b[:points]<=>a[:points]}.each do |participant|
					%tr
						%td
							%img{:src=>participant.photo.url(:small),:class=>'i36'}	
						%td	
							%b= participant.first_name
							%br
								#{participant[:points]} points
	
			
		
	-#%div.list_tabs.tabs.hide
		%p.label
			Selected talking points
		%ul.list_tabs
			%li
				%a.q_tab{:href=>"#tab_curated_q1"} Q1
				= link_to image_tag('transparent16.gif',{:title=>'Click to close worksheet', :class=>'close_worksheet'}), question_summary_path(0), :remote=>true, :class=>'close_worksheet'
			
	%div.activity_chat.corner
		%p.label
			Chat with these people
		= render :partial=> 'right_panel/chat_form'