%div.right_master
	%div.help.fix_ht
		%p
			= link_to "Help", help_path, {:remote=>true}
			&bull;
			= link_to "Contact us", request_help_path, { :remote => true}
		
	= render :partial => 'right_panel/member'	
	
	%div.suggested_action.corner
		= render( :template => 'plan/new_content')
	
		-#%p.label
			Suggested action for you
		-#%div.suggestion
			= image_tag 'completed_off.gif', :title => 'Click here when you have completed the task'
			%p.action
				-#Rate 3 new talking points and read 5 new comments
				Please rate all of the talking points in this proposal
			%p.controls
				= link_to "Show me how", help_path(:topic=>'Rating_talking_points'), { :class=> 'show_me', :id=>'Rating_talking_points', :remote=>true}
				-#= link_to "Next action", request_help_path, { :class=> 'next'}
			
	-#%div.page_context.corner
		%p.label
			Progress report for this proposal
		%table
			%tbody
				%tr.stripe
					%td= pluralize( @team.participants.size, 'participant')
				- if @team.stats
					-	PARTICIPATION_EVENT_POINTS.values.find_all{|pep| pep['summary_order'] && pep['summary_order'].to_i != 0}.sort{|a,b| a['summary_order'].to_i<=>b['summary_order'].to_i}.each do |stat|
						%tr{:class=>cycle('','stripe')}
							%td
								= pluralize(@team.stats[stat['col_name']], stat['summary_title']) 					

	-#%div.page_context.corner
		%p.label
			Participants
		%table
			%tbody
				- @team.participants.sort{|a,b| b[:points]<=>a[:points]}.each do |participant|
					%tr
						%td
							%img{:src=>participant.photo.url(:small),:class=>'i36'}	
						%td	
							%b= participant.first_name
							%br
								#{participant[:points]} points
	
			
		
	-#%div.list_tabs.tabs.hide
		%p.label
			Selected talking points
		%ul.list_tabs
			%li
				%a.q_tab{:href=>"#tab_curated_q1"} Q1
				= link_to image_tag('transparent16.gif',{:title=>'Click to close worksheet', :class=>'close_worksheet'}), question_summary_path(0), :remote=>true, :class=>'close_worksheet'
			
	%div.activity_chat.corner
		%p.label
			Chat with these people
		= render :partial=> 'right_panel/chat_form'