- popup ||= false
- tabindex_mult = popup ? 100 : 1
%div#sign_in_form
	- if flash[:notice]
		%p.error= flash[:notice]

	= form_tag( {:action => 'sign_in_post'}, {:class=>'signin_form'}) do
		= hidden_field_tag :team_id, team_id
		- if !popup
			= hidden_field_tag :in_right_panel, 1
		%table{:border=>0, :cellspacing=>0}
			%tr.signin
				%td.lbl
					%label{:for=>"email"} Email:
				%td.input{:colspan=>2}
					= text_field_tag :email, params[:email], :tabindex => 1 * tabindex_mult

			%tr.signin
				%td.lbl
					%label{:for=>"password"} Password:
				%td.input{:colspan=>2}
					= password_field_tag :password, params[:password], :tabindex => 2 * tabindex_mult
					= link_to 'Forgot?', {}, {:class=>'tgl_sign_in', :id=>'reset', :rel=>'nofollow', :tabindex => -1 * tabindex_mult}
			%tr.signin
				%td
				%td.stay{:colspan=>2}
					= check_box_tag 'stay_signed_in', 'stay_signed_in', false, :onclick => 'warn_sign_in(this)', :tabindex => 3 * tabindex_mult
					Stay signed in 
					%p.signin_warn.hide
						We'll keep you signed in
						%br
						Don't use this on a public computer
			%tr.signin
				%td
				%td.button
					= submit_tag "Sign In", :name=>'sign_in', :tabindex => 4 * tabindex_mult, 'data-disable-with' => 'Submitting…'
					
			%tr.signin
				%td.lbl.ta_left{:colspan=>3}
					New to CivicEvolution?
					= link_to 'Sign up now', {}, {:class=>'tgl_sign_in', :id=>'signup', :rel=>'nofollow', :tabindex => -1 * tabindex_mult}

			%tr.signup
				%td.lbl.ta_left{:colspan=>3, :style=>'color: #444'}
					%label Enter your email address to join CivicEvolution right now
					
			%tr.signup
				%td.lbl
					%label{:for=>"email_join"} Email:
				%td.input{:colspan=>2}
					= text_field_tag :email_join, params[:email_join], :tabindex => 5 * tabindex_mult
		
			%tr.signup
				%td
				%td.button
					= submit_tag "Create my account", :name=>'join', :tabindex => 6 * tabindex_mult, 'data-disable-with' => 'Submitting…'
				
			%tr.signup 
				%td.lbl.ta_left{:colspan=>3}
					Already have an account?
					= link_to 'Sign in now', {}, {:class=>'tgl_sign_in', :id=>'signin', :rel=>'nofollow', :tabindex => -1 * tabindex_mult}
					
			%tr.reset	
				%td.lbl
					%label{:for=>"email_reset"} Email:
				%td.input{:colspan=>2}
					= text_field_tag :email_reset, params[:email_reset], :tabindex => 7 * tabindex_mult

			%tr.reset
				%td
				%td.button
					= submit_tag "Reset password", :name=>'reset', :tabindex => 8 * tabindex_mult, 'data-disable-with' => 'Submitting…'

			%tr.reset 
				%td.lbl.ta_left{:colspan=>3}
					I remember, 
					= link_to 'Sign in now', {}, {:class=>'tgl_sign_in', :id=>'signin', :rel=>'nofollow', :tabindex => -1 * tabindex_mult}

			%tr.reset
				%td.lbl.ta_left{:colspan=>3}
					New to CivicEvolution?
					= link_to 'Sign up now', {}, {:class=>'tgl_sign_in', :id=>'signup', :rel=>'nofollow', :tabindex => -1 * tabindex_mult}
