%div#notification_settings

	%h4= @team.title
	- if @notification_setting.nil?
		%p You are not participating or following any proposals at this time
		%p
			Please return to the 
			= link_to home_path
	- else	
		
		= form_for @notification_setting, :as => :notification_setting, :url => notification_settings_post_path(@team.id), :html => {:class=>'update_notification_settings', :remote=>true} do |form|

			%table
				%tr
					%td Please email me updates 
					%td{:colspan=>2}
						= form.select( :follow_freq, [['Immediately', 'i'], ['Hourly', 'h'], ['Daily', 'd'], ['Weekly','w'], ['Never','n']])
						-#= form.select( :follow_freq, [['When I should review this proposal again','c'],['Immediately', 'i'], ['Hourly', 'h'], ['Daily', 'd'], ['Weekly','w'], ['Never','n']])
				%tr
					%td
					%td 
						= submit_tag "Update settings for this proposal", :name=>'invite_friends', :alias=>'Please'
					%td 	
						= link_to 'Cancel', plan_path(@team), {:class=>'cancel', :style=>'margin-left: 10px'}
