%div#notification_settings
	%h2 I want to follow this proposal:

	%h3= @team.title
	- if @notification_setting.nil?
		%p You are not participating or following any proposals at this time
		%p
			Please return to the 
			= link_to home_path
	- else	
		
		= form_for @notification_setting, :as => :notification_setting, :url => notification_settings_post_path(@team.id), :html => {:class=>'update_notification_settings', :remote=>true} do |form|

			%h3 
				Please email me updates 

				= form.select( :follow_freq, [['When I should review this proposal again','c'],['Immediately', 'i'], ['Hourly', 'h'], ['Daily', 'd'], ['Weekly','w'], ['Never','n']])
			%p.submit
				= submit_tag "Update settings for this proposal", :name=>'invite_friends', :alias=>'Please'
				= link_to 'Return to proposal', plan_path(@team), {:class=>'cancel'}
		
		%hr
		%p.other_ideas Manage the settings for the other proposals in which you participate:
		= form_tag( notification_settings_form_path, {:remote=>true} ) do
			%p.other_ideas_sel
				-#= select_tag( :team_id, @teams,{:style=>'max-width: 500px'})
				= select_tag( :team_id, options_for_select(@teams) )
				= submit_tag "Manage settings for selected proposal"
					
	%style
		:sass
			div#notification_settings
				p.follow
					font-weight: bold
				p.follow_description
					margin: -16px 0 0 24px
				p.other_ideas
					margin: 40px 0 0 0
					font-weight: bold
				p.other_ideas_sel
					margin-top: 6px
				input[type='submit']
					font-size: 1.2em

