%style
	:sass
		body, p, ol, ul, td, textarea
			font-family: verdana, arial, helvetica, sans-serif
			font-size:   13px
			
		p.details
			margin: 0

		div.endorsements
			div.comment.show_all
				display: none
			img
				display: none
			a
				font-weight: bold
				text-decoration: none
				color: black
			div.timeago
				display: none
				
		.stripe
			background-color: #ddd
		h2.plan
			margin: 24px 0 4px 0
		p.plan_intro
			margin-top: 0
		div.question_hdr
			margin-left: 20px
		h3.question
			float: left
			margin-right: 6px
			max-width: 500px
			
		ul
			margin-left: 0
			li.theme
				list-style-type: none
	
		div.summary
			margin: 0 40px 0 20px
		ul
			margin-bottom: 0
			li	
				font-size: 1em
		.clear_both
			clear: both
		div.page-break
			&.supporters, &.details
				margin-left: 20px
				h2.section_hdr
					margin-left: -20px
				
		@media print	
			body
				width: 100%
				margin: 0 
				float: none	

			.page-break
				page-break-before: always

			p.no_themes
				font-style: italic
				margin-left: 20px
				margin-bottom: 2em	
			p.participant
				margin: 0 0 .5em 0
			div.no_print
				display: none

		@media screen
			body
				width: 600px
				margin: 2em
				div.page
					width: 600px
				h3.question
					margin-bottom: 0
				
			p.no_themes
				font-style: italic
				margin-left: 20px
				margin-bottom: 2em	

			div.participants
				margin-bottom: 4em
			p.participant
				margin: 0 0 .5em 0
			div.page-break
				&.supporters, &.details
					margin-top: 40px
					margin-left: 20px



%div.proposal_page
	%div.no_print
		%button{:onclick=>'window.print();'} Print this page



	%div.intro
		%h1.home_title 
			%span #{team.title}
			
		%p.details Project coordinator: #{@team.organizer.first_name} #{@team.organizer.last_name}	
		%p.details Created: #{team.created_at.strftime("%m/%d/%Y")}

		%h2 Our vision
		%div.summary
			:markdown
				#{@team.solution_statement}

	%h2.plan.section_hdr Our Plan
	%p.plan_intro 
		The answers to these questions were composed by the project coordinator, #{@team.organizer.first_name} #{@team.organizer.last_name}, by weaving together the ideas and comments of the participants.
	
	- team.question_ideas.sort {|a,b| a.order_id <=> b.order_id }.each do |question|
		%div.question_hdr
			%h3.question Q#{question.order_id}:
			%h3.question= question.text
			%p.clear_both
		
		- if question.themes.detect{|t| t.visible && t.version > 0}.nil?
			%p.no_themes No answer has been provided for this question
		- else
			%ul.talking_points.themes
				- question.themes.sort {|a,b| a.order_id <=> b.order_id }.each do |theme|
					- if theme.version > 0 && theme.visible
						%li.theme.talking_point{id: theme.id}
							:markdown
								#{theme.text}

%div.page-break.supporters
	= render :partial => 'endorsements/endorsements', :locals=> {endorsements: @endorsements, team_id: @team.id, print: true}

%div.page-break.details
	%h2.section_hdr Proposal development details
	
	%h4 This proposal was developed by 
	%div.participants
		%p #{team.organizer.first_name} #{team.organizer.last_name}, who initially suggested this idea for change, working with
		- team.participants.select{|p| p.id	!= team.org_id}.sort{|y,x| x.stats[:points] <=> y.stats[:points] }.each do |participant|
			%p.participant
				= participant.first_name
				= participant.last_name
	
	
	%h4 Participation statistics for developing this proposal
	%table
		%tbody
			%tr.stripe
				%td Participants
				%td= team.participants.size
			%tr
				%td Endorsements
				%td= @endorsements.size
				
			- if team.stats
				-	PARTICIPATION_EVENT_POINTS.values.find_all{|pep| pep['summary_order'] && pep['summary_order'].to_i != 0}.sort{|a,b| a['summary_order'].to_i<=>b['summary_order'].to_i}.each do |stat|
					%tr{:class=>cycle('','stripe')}
						%td= stat['summary_title'].pluralize.capitalize
						%td= team.stats[stat['col_name']]
						-#= pluralize(team.stats[stat['col_name']], stat['summary_title']) 					
