<p>
  <b>Title:</b>
  <%=h @initiative.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @initiative.description %>
</p>

<p>
  <b>Min members:</b>
  <%=h @initiative.min_members %>
</p>

<p>
  <b>Max members:</b>
  <%=h @initiative.max_members %>
</p>

<p>
  <b>Max teams per member:</b>
  <%=h @initiative.max_teams_per_member %>
</p>

<p>
  <b>Limit access:</b>
  <%=h @initiative.limit_access %>
</p>

<p>
  <b>Access code:</b>
  <%=h @initiative.access_code %>
</p>

<p>
  <b>Can propose team:</b>
  <%=h @initiative.can_propose_team %>
</p>

<p>
  <b>Prescreen proposals:</b>
  <%=h @initiative.prescreen_proposals %>
</p>

<p>
  <b>Timezone:</b>
  <%=h @initiative.timezone %>
</p>

<p>
  <b>Lang:</b>
  <%=h @initiative.lang %>
</p>

<p>
  <b>Config:</b>
  <%=h @initiative.config_id %>
</p>

<p>
  <b>Public face:</b>
  <%=h @initiative.public_face %>
</p>

<p>
  <b>Public face rating threshold:</b>
  <%=h @initiative.public_face_rating_threshold %>
</p>

<p>
  <b>Join test:</b>
  <%=h @initiative.join_test %>
</p>

<p>
  <b>Approve join:</b>
  <%=h @initiative.approve_join %>
</p>

<p>
  <b>Send invites:</b>
  <%=h @initiative.send_invites %>
</p>

<p>
  <b>Approve invites:</b>
  <%=h @initiative.approve_invites %>
</p>

<p>
  <b>Admin groups:</b>
  <%=h @initiative.admin_groups %>
</p>

<p>
  <b>Country:</b>
  <%=h @initiative.country %>
</p>

<p>
  <b>State:</b>
  <%=h @initiative.state %>
</p>

<p>
  <b>County:</b>
  <%=h @initiative.county %>
</p>

<p>
  <b>City:</b>
  <%=h @initiative.city %>
</p>


<%= link_to 'Edit', edit_initiative_path(@initiative) %> |
<%= link_to 'Back', initiatives_path %>