%div.theming_page_outer{class: (question.team && question.team.org_id == @member.id) ? '' : 'no_theme' }
	%div.theming_page

		%div.theme_cols_window_outer.fancy-scrollbar
			%div.theme_cols_window
				%div.auto-scroll.left
				%div.auto-scroll.right
				
				%div.theme_col.unthemed_ideas.fancy-scrollbar{ id:  'unthemed_ideas'}
						
					%h3 New ideas
					%ul.sortable_ideas
						- random_ind = rand.to_s.scan(/\d/)[1..20]
						- 1.times do
							- question.unthemed_ideas.each do |idea|
								%li.idea_post_it
									%div{class: "R#{random_ind.pop} post-it", id: idea.id}
										%p.idea= idea.text
										%div.status
											= image_tag 'delete_icon_16t.gif', :class=>"delete"
											-# if idea.comments.size > 0
												= image_tag('comment-sketch.gif')
												= idea.comments.size
												
											%div.comments
												= image_tag('comment-sketch.gif')
												%div.counts
													%div.new
														0 new
													%div.total
														0 total
											
											= image_tag('magnify.gif', class: 'magnify')
											
			
				- 1.times do
					- question.themes.each do |theme|
						- random_ind = rand.to_s.scan(/\d/)[1..20]
						%div.theme_col.themes.fancy-scrollbar{ id:  theme.id }
							
							%ul.sortable_ideas
								%li.theme_post_it
									%div{class: "R#{random_ind.pop} post-it", id: theme.id}
										= form_tag edit_theme_path(theme.id), :class=>'std_form edit_theme', id: theme.id, :remote=>true do 
											%div.edit_theme
												= text_area_tag :text, theme.text, :class=>'theme autosize', :size=>"1x2", :fixed_rows=>true
											%p.form_controls
												= submit_tag "Save", :name=>'add_idea', 'data-disable-with'=>'Submitting...'
												= link_to 'Cancel', '#', {:class=>'cancel', :rel=>'nofollow'}

										%p.idea= theme.text
										%div.status
											= image_tag 'blue-pencil-24.png', :class=>"edit"
											- if theme.version == 0
												= image_tag 'delete_icon_16t.gif', :class=>"delete"
											-# if theme.comments.size > 0
												= image_tag('comment-sketch.gif')
												= theme.comments.size
											%div.comments
												= image_tag('comment-sketch.gif')
												%div.counts
													%div.new
														0 new
													%div.total
														0 total
											
											= image_tag('magnify.gif', class: 'magnify')
											
										
								- 1.times do 
									- question.themed_ideas.select{|idea| idea.parent_id == theme.id}.each do |idea|
										%li.idea_post_it
											%div{class: "R#{random_ind.pop} post-it", id: idea.id}
												%p.idea= idea.text
												%div.status
													= image_tag 'delete_icon_16t.gif', :class=>"delete"
													-#= image_tag 'blue-clipboard-24.gif', class: 'clipboard'
													-# if idea.comments.size > 0
														= image_tag('comment-sketch.gif')
														= idea.comments.size
													%div.comments
														= image_tag('comment-sketch.gif')
														%div.counts
															%div.new
																0 new
															%div.total
																0 total
													
													= image_tag('magnify.gif', class: 'magnify')
													
				- if question.themes.size == 0
					%div.intro_instruction
						- if question.unthemed_ideas.size == 0
							%h3 No ideas have been suggested yet
							%p 
								= link_to "Return", {}, class: 'close_theming_page', id: question.id
								to the proposal page and enter a few ideas under each question 
							%p
								The new ideas will then appear under this 
								%b Idea theming 
								tab where the proposal coordinator(s) can transparently sort the ideas and create the themes guided by the community's comments and ratings
							%p 
								The themes created on this page will also appear under the
								%b Theme editing
								tab and on the main proposal page
								
						- else
							%h3 Group ideas and create themes
							%p In this page you can start to create groups of ideas. 
							%ol 
								%li Start by dragging an idea from the "New ideas" column on the left
								%li Green flags will appear at the top of the columns when you start to drag an idea
								%li Drop an idea on the green flag to start a new group
								%li A purple post-it will appear at the top of each group
								%li Put the mouse over the purple post-it to expose the pencil icon.
								%li Click the pencil icon to give the group a name
								
				%div.theme_col.parked_ideas.fancy-scrollbar{ id:  'parked_ideas'}
					%h3 Parked ideas
					%ul.sortable_ideas
						- random_ind = rand.to_s.scan(/\d/)[1..20]
						- question.parked_ideas.each do |idea|
							%li.idea_post_it
								%div{class: "R#{random_ind.pop} post-it", id: idea.id}
									%p.idea= idea.text
									%div.status
										= image_tag 'delete_icon_16t.gif', :class=>"delete"
										-# if idea.comments.size > 0
											= image_tag('comment-sketch.gif')
											= idea.comments.size
										%div.comments
											= image_tag('comment-sketch.gif')
											%div.counts
												%div.new
													0 new
												%div.total
													0 total
										
										= image_tag('magnify.gif', class: 'magnify')
										
				
