%div.idea_details.popup.fancy-scrollbar{ idea_id: idea.id, question_id: idea.question_id}
	- if !Rails.env.production?
		= stylesheet_link_tag "ce/idea_details"
	%div.answer_details_outer
		%div.answer_details	
			%div.details_left
				%h3.popup_nav
					- if params[:act] == 'add_new_answer'
						Create a new answer
					- elsif idea.siblings.count > 1
						= link_to image_tag('details_prev.png'), view_idea_details_path(idea.id, act: 'view_theme', nav: 'prev'), {class: 'view_question', rel: 'nofollow', remote: true }
						Answer #{idea.order_id} of #{idea.siblings.count}
						= link_to image_tag('details_next.png'), view_idea_details_path(idea.id, act: 'view_theme', nav: 'next'), {class: 'view_question', rel: 'nofollow', remote: true }
					- else
						Answer #{idea.order_id} of #{idea.siblings.count}
		
				- if idea.visible == false
					%h3.warn This idea is not displayed in the proposal answer as set by the project coordinator
				%ul.answer
					%li.theme_post_it
						%div{class: "R#{idea.id.to_s.match(/\d$/)[0]} post-it"}
							%div.inner
								:markdown
									#{idea.text}
								- if !idea.attachments.empty?
									%div.attachments
										- idea.attachments.each do |att|
											- icon_url = att.attachment_content_type.match(/image/i) ? att.attachment(:icon) : '/assets/doc_icon.gif'
											%div.attachment
												= link_to "#{att.attachment.url.to_s}", target: '_blank' do
													=image_tag(icon_url, title: att.attachment_file_name)
													%p= att.attachment_file_name
										%p.clear
							
				
					%p.timestamp
						- if @member.id == idea.team.org_id
							= link_to "Edit", edit_theme_path(idea.id, act: 'edit_answer_popup', question_id: params[:question_id]||idea.question_id), class: "edit_answer edit", remote: true
						
						Version #{idea.version}
						-# if idea.version > 1
							= link_to "View history", {}
							
							#{time_ago_in_words(idea.updated_at)} ago
					
				= render( partial: 'rating', locals: { idea: idea, tool_tip: 'rate answer' } )			
				
				%h4.sub_sec_hdr.discussion{idea_id: idea.id}
					%span Discuss this answer
					%div.comments
						= image_tag('comment-sketch.gif', title: 'Number of comments')
						%div.counts
							%div.new
								0 new
							%div.total
								0 total
				%p.clear_both
		
				= render( partial: 'idea_discussion', locals: { idea: idea } )			

				= link_to 'Close', {}, class:'close_dialog'

			- if idea.id > 0
				%div.constituent_ideas
					- random_ind = rand.to_s.scan(/\d/)[1..20]
					%h4.sub_sec_hdr.ideas_discussion{idea_id: idea.id}
						%span Ideas
						%div.comments
							= image_tag('comment-sketch.gif', title: 'Number of comments')
							%div.counts
								%div.new
									0 new
								%div.total
									0 total
					%p.clear_both
				
					%div.theme_col.themes.fancy-scrollbar
						%ul.sortable_ideas
							- idea.theme_ideas.each do |idea|
								%li.idea_post_it
									= render partial: 'ideas/post_it', locals: {idea: idea, random_ind: random_ind}
		
				%div.constituent_idea_details
					- if !constituent_idea.nil?
						= render template: 'ideas/idea_details', locals: { idea: constituent_idea, question: question }, formats: [:html] 
