%div.idea_details
	- if !Rails.env.production?
		= stylesheet_link_tag "ce/idea_details"

	- question ||= idea.question
	- case
		- when params[:act] = 'review_unrated_ideas'
			%h3.popup_nav
				= pluralize(question.unrated_ideas.count, 'Unrated Idea')
			
		- when idea.is_theme
			%h3 Theme
		
		- when idea.parent_id.nil?
			%h3.popup_nav
				- if idea.siblings.count > 1
					= image_tag('left-arrow.gif', class: 'prev', id: idea.id)
					Unthemed idea of #{idea.siblings.count}
					= image_tag('right-arrow.gif', class: 'next', id: idea.id)
				- else
					Unthemed idea of #{idea.siblings.count}
		
		- else
			%h3.popup_nav
				- if idea.siblings.count > 1
					= image_tag('left-arrow.gif', class: 'prev', id: idea.id)
					Idea #{idea.order_id} of #{idea.siblings.count}
					= image_tag('right-arrow.gif', class: 'next', id: idea.id)
				- else
					Idea #{idea.order_id} of #{idea.siblings.count}
		

	%div.navigation
		%div.proposal
			%a.item{href: {}, id: idea.team.id, title: idea.team.title}
		%div.questions
			- idea.team.questions.each do |question|
				%a.item{href: {}, id: question.id, title: question.text, class: question.id == idea.question_id ? 'current' : ''}
			
		%div.themes
			- idea.question.themes.each do |theme|
				- if idea.is_theme
					%a.item{href: {}, id: theme.id, title: theme.text, class: theme.id == idea.id ? 'current' : ''}
				- else
					%a.item{href: {}, id: theme.id, title: theme.text, class: theme.id == idea.parent_id ? 'current' : ''}
				
		
		%div.ideas
			- ( idea.is_theme ? idea.ideas : idea.siblings ).each do |sibling|
				- if idea.is_theme
					%a.item{href: {}, id: sibling.id, title: sibling.text }
				- else
					%a.item{href: {}, id: sibling.id, title: sibling.text, class: sibling.id == idea.id ? 'current' : '' }
		
		
	%div.details_left
		%h3.question= question.text
		
		%ul
			- if idea.is_theme
				%li.theme_post_it
					%div{class: "R#{idea.id.to_s.match(/\d$/)[0]} post-it"}
						%p.idea= idea.text
						-#%div.status
							-#= image_tag 'delete_icon_16t.gif', :class=>"delete"
							-#= image_tag 'blue-clipboard-24.gif', class: 'clipboard'
						
				%p.timestamp
					#{time_ago_in_words(idea.updated_at)} ago,
					Version #{idea.version}
					-# if idea.version > 1
						= link_to "View history", {}
			- else
				%li.idea_post_it
					%div{class: "R#{idea.id.to_s.match(/\d$/)[0]} post-it"}
						%p.idea= idea.text
						%div.status
							= image_tag 'delete_icon_16t.gif', :class=>"delete"
							-#= image_tag 'blue-clipboard-24.gif', class: 'clipboard'
						
				%p.timestamp
					#{time_ago_in_words(idea.updated_at)} ago
					
		%div.rater.corner
			- if my_rating.nil?
				%p.label.please-rate 
					%span Please rate this #{idea.is_theme ? 'theme' : 'idea' }
			-else
				%p.label
					%span Your rating on this #{idea.is_theme ? 'theme' : 'idea' }
			%div.rater_faces
				= image_tag('rater/yuck.gif', class: 'yuck')		
				= image_tag('rater/meh.gif', class: 'meh')		
				= image_tag('rater/good.gif', class: 'good')		
				= image_tag('rater/great.gif', class: 'great')		
			
			%div.theme_slider{id: idea.id}		
		
			%p.results
				- votes = idea.idea_ratings.size
				%span.vote_count
					= pluralize(votes,'vote')
				- if votes > 1
					= link_to "View results", {}

		= form_tag add_idea_comment_path(idea.id), :class=>"std_form add_comment", id: idea.id, :remote=>true do 
			%div.add_idea
				= text_area_tag :text, '', class: 'answer autosize empty', size: "1x2", fixed_rows: true, placeholder: 'Write your comment...'
			
			%p.form_controls
				= submit_tag "Add comment", :name=>'endorse', 'data-disable-with'=>'Submitting...'
				%span.char_ctr 1500 characters
				= link_to 'Clear', '#', {:class=>'clear', :rel=>'nofollow'}

			%p.clear
			
		= submit_tag "Follow this discussion", :name=>'endorse', 'data-disable-with'=>'Submitting...'
		
		%div.activity_stream
			- idea.comments.each do |comment|
				= render( :partial=> 'ideas/comment', :locals=>{:comment=>comment}, formats: [:html]  )
		
		
	-#%div.details_right
		%div.right_buttons
			= button_tag "Edit"
			= button_tag "Browse ideas"
			= button_tag "Theme page"
			= button_tag "Format answer"
			= button_tag "Add comment"
			= button_tag "Follow"
			= button_tag "Browse attachments"

