%div.idea_details
	- if !Rails.env.production?
		= stylesheet_link_tag "ce/idea_details"

	- question ||= idea.question
	- case
		- when params[:act] == 'view_question'
			%h3.popup_nav
				- if idea.siblings.count > 1
					= link_to image_tag('details_prev.gif'), view_idea_details_path(idea.id, act: 'view_question', nav: 'prev'), {class: 'view_question', rel: 'nofollow', remote: true }
					Question #{idea.order_id} of #{idea.siblings.count}
					= link_to image_tag('details_next.gif'), view_idea_details_path(idea.id, act: 'view_question', nav: 'next'), {class: 'view_question', rel: 'nofollow', remote: true }
				- else
					Question #{idea.order_id} of #{idea.siblings.count}
				
				
		- when params[:act] == 'review_unrated_ideas'
			%h3.popup_nav
				= pluralize(question.unrated_ideas.count, 'Unrated Idea')

		- when params[:act] == 'view_team'
			%h3.popup_nav Team details

			
		- when idea.role == 2
			%h3.popup_nav
				- if idea.siblings.count > 1
					= link_to image_tag('details_prev.gif'), view_idea_details_path(idea.id, act: 'view_theme', nav: 'prev'), {class: 'view_question', rel: 'nofollow', remote: true }
					Theme #{idea.order_id} of #{idea.siblings.count}
					= link_to image_tag('details_next.gif'), view_idea_details_path(idea.id, act: 'view_theme', nav: 'next'), {class: 'view_question', rel: 'nofollow', remote: true }
				- else
					Theme #{idea.order_id} of #{idea.siblings.count}
			
		
		- when idea.parent_id.nil?
			%h3.popup_nav
				- if idea.siblings.count > 1
					= link_to image_tag('details_prev.gif'), view_idea_details_path(idea.id, act: 'view_unthemed_idea', nav: 'prev'), {class: 'view_question', rel: 'nofollow', remote: true }
					Unthemed idea #{idea.order_id} of #{idea.siblings.count}
					= link_to image_tag('details_next.gif'), view_idea_details_path(idea.id, act: 'view_unthemed_idea', nav: 'next'), {class: 'view_question', rel: 'nofollow', remote: true }
				- else
					Unthemed idea of #{idea.siblings.count}
		
		- else
			%h3.popup_nav
				- if idea.siblings.count > 1
					= link_to image_tag('details_prev.gif'), view_idea_details_path(idea.id, act: 'view_idea', nav: 'prev'), {class: 'view_question', rel: 'nofollow', remote: true }
					Idea #{idea.order_id} of #{idea.siblings.count}
					= link_to image_tag('details_next.gif'), view_idea_details_path(idea.id, act: 'view_idea', nav: 'next'), {class: 'view_question', rel: 'nofollow', remote: true }
				- else
					Idea #{idea.order_id} of #{idea.siblings.count}
		

	%div.navigation
		%div.proposal
			%a.item{href: {}, id: idea.team.idea.id, title: idea.team.title}
		%div.questions
			- idea.question.siblings.each do |question|
				- if idea.role == 3
					%a.item{href: {}, id: question.id, title: question.text, class: question.id == idea.id ? 'current' : ''}
				- else
					%a.item{href: {}, id: question.id, title: question.text, class: question.id == idea.question_id ? 'current' : ''}
				
					-#%a.item{href: {}, id: question.id, title: question.text, class: question.id == idea.question_id ? 'current' : ''}
			
		%div.themes
			- idea.question.themes.each do |theme|
				- if idea.role == 2
					%a.item{href: {}, id: theme.id, title: theme.text, class: theme.id == idea.id ? 'current' : ''}
				- else
					%a.item{href: {}, id: theme.id, title: theme.text, class: theme.id == idea.parent_id ? 'current' : ''}
				
		
		%div.ideas
			- if idea.role < 3
				- ( idea.role == 2 ? idea.theme_ideas : idea.siblings ).each do |sibling|
					- if idea.role == 2
						%a.item{href: {}, id: sibling.id, title: sibling.text }
					- else
						%a.item{href: {}, id: sibling.id, title: sibling.text, class: sibling.id == idea.id ? 'current' : '' }
		%div.clear_both
		
		
	%div.details_left
		- if idea.role == 4
			%h3.question= idea.team.title
			- if @member.id == idea.team.org_id
				= link_to "edit", team_edit_path(idea.team.id, target: 'title'), class: "edit_title", remote: true
			
		- else 
			%h3.question= question.text
		
		%ul
			- case
				- when idea.role == 4
					%li.team_post_it
						%div{class: "R#{idea.id.to_s.match(/\d$/)[0]} post-it"}
							%p.idea= idea.team.solution_statement
							%div.status
								- if @member.id == idea.team.org_id
									= link_to "edit", team_edit_path(idea.team.id, target: 'summary'), class: "edit_summary", remote: true
								-#= image_tag 'delete_icon_16t.gif', :class=>"delete"
								-#= image_tag 'blue-clipboard-24.gif', class: 'clipboard'

				- when idea.role == 3
					%li.question_post_it
						%div{class: "R#{idea.id.to_s.match(/\d$/)[0]} post-it"}
							%p.idea= idea.text
							-#%div.status
								-#= image_tag 'delete_icon_16t.gif', :class=>"delete"
								-#= image_tag 'blue-clipboard-24.gif', class: 'clipboard'

			
				- when idea.role == 2
					%li.theme_post_it
						%div{class: "R#{idea.id.to_s.match(/\d$/)[0]} post-it"}
							%p.idea= idea.text
							-#%div.status
								-#= image_tag 'delete_icon_16t.gif', :class=>"delete"
								-#= image_tag 'blue-clipboard-24.gif', class: 'clipboard'
						
					%p.timestamp
						#{time_ago_in_words(idea.updated_at)} ago,
						Version #{idea.version}
						-# if idea.version > 1
							= link_to "View history", {}
				- else
					%li.idea_post_it
						%div{class: "R#{idea.id.to_s.match(/\d$/)[0]} post-it"}
							%p.idea= idea.text
							%div.status
								= image_tag 'delete_icon_16t.gif', :class=>"delete"
								-#= image_tag 'blue-clipboard-24.gif', class: 'clipboard'
						
				%p.timestamp
					#{time_ago_in_words(idea.updated_at)} ago
					
		%div.rater.corner
			- if my_rating.nil?
				%p.label.please-rate 
					- case idea.role
					- when 1
						%span Please rate this idea
					- when 2
						%span Please rate this theme
					- when 3
						%span Please rate this overall answer
					- when 4
						%span Please rate this proposal
						
			-else
				%p.label
					- case idea.role
					- when 1
						%span Your rating for this idea
					- when 2
						%span Your rating for this theme
					- when 3
						%span Your rating for this overall answer
					- when 4
						%span Your rating for this proposal
					
			%div.rater_faces
				= image_tag('rater/yuck.gif', class: 'yuck')		
				= image_tag('rater/meh.gif', class: 'meh')		
				= image_tag('rater/good.gif', class: 'good')		
				= image_tag('rater/great.gif', class: 'great')		
			
			%div.theme_slider{id: idea.id, my_rating: my_rating.nil? ? 50 : my_rating.rating }		
		
			%p.results
				- votes = idea.idea_ratings.size
				%span.vote_count
					= pluralize(votes,'vote')
				- if votes > 1
					= link_to "View results", {}

		= form_tag add_idea_comment_path(idea.id), :class=>"std_form add_comment", id: idea.id, :remote=>true do 
			%div.add_idea
				= text_area_tag :text, '', class: 'answer autosize empty', size: "1x2", fixed_rows: true, placeholder: 'Write your comment...'
			
			%p.form_controls
				= submit_tag "Add comment", :name=>'endorse', 'data-disable-with'=>'Submitting...'
				%span.char_ctr 1500 characters
				= link_to 'Clear', '#', {:class=>'clear', :rel=>'nofollow'}

			%p.clear
			
		-#= submit_tag "Follow this discussion", :name=>'endorse', 'data-disable-with'=>'Submitting...'
		
		%div.activity_stream
			- idea.comments.each do |comment|
				= render( :partial=> 'ideas/comment', :locals=>{:comment=>comment}, formats: [:html]  )

