%div.idea_details
	= stylesheet_link_tag "ce/idea_details"
	-#= link_to "Close", {}, class: 'simplemodal-close'
	%div.details_left
		%h3 Show the details for idea ##{idea.id}
		
		%ul
			- if idea.is_theme
				%li.theme_post_it
					%a{href: '#', class: "R#{idea.id.to_s.match(/\d$/)[0]}"}
						%p.idea= idea.text
				%p.timestamp
					#{time_ago_in_words(idea.updated_at)} ago,
					Version #{idea.version}
					-# if idea.version > 1
						= link_to "View history", {}
			- else
				%li.idea_post_it
					%a{href: '#', class: "R#{idea.id.to_s.match(/\d$/)[0]}"}
						%p.idea= idea.text
						= image_tag 'delete_icon_16t.gif', :class=>"delete"
				%p.timestamp
					#{time_ago_in_words(idea.updated_at)} ago
		%div.rater_faces
			= image_tag('rater/yuck.gif', class: 'yuck')		
			= image_tag('rater/meh.gif', class: 'meh')		
			= image_tag('rater/good.gif', class: 'good')		
			= image_tag('rater/great.gif', class: 'great')		
			
			%div.theme_slider{id: idea.id}		
		
		%p.timestamp
			- votes = 37
			= pluralize(votes,'vote')
			- if votes > 1
				= link_to "View results", {}

		= form_tag add_idea_comment_path(idea.id), :class=>'std_form suggest_idea', :remote=>true do 
			%div.add_idea
				= text_area_tag :text, '', class: 'answer autosize empty', size: "1x2", fixed_rows: true, placeholder: 'Write your comment...'
			
			%p.form_controls
				= submit_tag "Add comment", :name=>'endorse', 'data-disable-with'=>'Submitting...'
				%span.char_ctr 200 characters
				= link_to 'Clear', '#', {:class=>'clear', :rel=>'nofollow'}

			%p.clear
		
		%div.activity_stream
			- idea.comments.each do |comment|
				-#%p	#{comment.author.first_name} #{comment.author.last_name}

				- if comment.anonymous == 't'
					- name = 'Anonymous'
					- pic_src = '/assets/members_default/36/m.jpg'
				- else
					- name = comment.author.first_name + ' ' + comment.author.last_name
					- pic_src = comment.author.photo.url('36')


				- if comment['new']
					%span.new_com New
					
				%img{:src=>pic_src,:class=>'i36'}		
				
				%p= name					
							
				%p= comment.text				
				%p.timestamp
					#{time_ago_in_words(comment.updated_at)} ago
		
		
	%div.details_right
		%div.right_buttons
			= button_tag "Edit"
			= button_tag "Browse ideas"
			= button_tag "Theme page"
			= button_tag "Format answer"
			= button_tag "Add comment"
			= button_tag "Follow"
			= button_tag "Browse attachments"

