- popup = params[:act] == 'review_idea' || params[:act] == 'review_unrated_ideas' || idea.parent_id.nil? || idea.parent_id == 0
- idea.order_id ||= 1
%div.idea_details{ idea_id: idea.id, question_id: idea.question_id, class: popup ? 'popup' : '' }
	- if params[:act] == 'review_idea'
		%h3.popup_nav 
			Thanks, your idea has been added to the 
			= link_to 'post-its wall', {}, class: 'goto_theming_page'
		
	
	- else
		- case 
			- when params[:act] == 'review_unrated_ideas'
				- item_name = 'Unrated idea'
				- items_count = question.unrated_ideas.count
				- item_num = 1
			- when idea.parent_id.nil?
				- item_name = 'New idea'
				- items_count = idea.siblings.count
				- item_num = 1
			- when idea.parent_id == 0
				- item_name = 'Parked idea'
				- items_count = idea.siblings.count
				- item_num = idea.order_id
			- else
				- item_name = 'Idea'
				- items_count = idea.siblings.count
				- item_num = idea.order_id
				
		%h3.popup_nav
			- if params[:act] == 'review_unrated_ideas'
				#{item_name} #{item_num} of #{items_count}
			- elsif params[:act] == 'my_new_idea_popup'
				My new idea
			- elsif items_count > 1
				= link_to image_tag('details_prev.png'), view_idea_details_path(idea.id, act: 'view_idea', nav: 'prev'), {class: 'view_question', rel: 'nofollow', remote: true }
				#{item_name} #{item_num} of #{items_count}
				= link_to image_tag('details_next.png'), view_idea_details_path(idea.id, act: 'view_idea', nav: 'next'), {class: 'view_question', rel: 'nofollow', remote: true }
			- else
				#{item_name} #{item_num} of #{items_count}
			
			- if popup
				= link_to 'Close', {}, class:'close_dialog'
			- else
				= link_to 'Return to answer', {}, class:'return_to_answer_details'
		
	%ul
		%li.idea_post_it
			%div{class: "R#{idea.id.to_s.match(/\d$/)[0]} post-it"}
				%p.idea= idea.text
				- if !idea.attachments.empty?
					%div.attachments
						- idea.attachments.each do |att|
							- icon_url = att.attachment_content_type.match(/image/i) ? att.attachment(:icon) : '/assets/doc_icon.gif'
							%div.attachment
								= link_to "#{att.attachment.url.to_s}", target: '_blank' do
									=image_tag(icon_url, title: att.attachment_file_name)
									%p= att.attachment_file_name
						%p.clear
				%div.status
					= image_tag 'delete_icon_16t.gif', :class=>"delete"
					-#= image_tag 'blue-clipboard-24.gif', class: 'clipboard'
			
	%p.timestamp
		#{time_ago_in_words(idea.updated_at)} ago
			
	- if params[:act] == 'review_idea'			
		%div.acknowledge_new_idea
			%ul
				%li Please be sure to rate your idea and add any comments that might help people understand it better or make a case for it	
				%li
					Your idea has been added to the 
					= link_to 'post-its wall', {}, class: 'goto_theming_page'
					where others can rate and discuss it and the project coordinator will use it help compose answers to this question
		
	= render( partial: 'rating', locals: { idea: idea, tool_tip: 'rate idea' } )			
	
	%h4.sub_sec_hdr.discussion{idea_id: idea.id}
		%span Discuss this idea
		%div.comments
			= image_tag('comment-sketch.gif', title: 'Number of comments')
			%div.counts
				%div.new
					0 new
				%div.total
					0 total
	%p.clear_both
	
	= render( partial: 'idea_discussion', locals: { idea: idea } )			

	- if popup
		= link_to 'Close', {}, class:'close_dialog'
	- else
		= link_to 'Return to answer', {}, class:'return_to_answer_details'