= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var question = $('div.question_summary[id="#{question.id}"]');	
	var form = question.find('form.suggest_idea');
	form.find('textarea').val('').focus();
	form.find('p.warn').remove();
	form.find('div#errorExplanation').remove();
	
	form.find('input[name="attachments"]').val( '' );
	
	var attachments = form.find('div.attachments');
	attachments.find('div.attachment').hide(800, function(){
		attachments.find('div.attachment').remove();
		attachments.hide(800);
	})
	
	var unrated_ideas_link = $('<div class="ideas">#{link_to image_tag('idea-icon.gif'), view_idea_details_path(0, question_id: question.id, act: 'review_unrated_ideas' ), {class: 'view_unrated_ideas', rel: 'nofollow', remote: true } }<span class="cnt">#{question.unrated_ideas.count} new</span></div>')

	close_idea_help_popup( question.find('div.form_help_slide') );

	if( $('div.question_summary[id="#{question.id}"] h3.summary div.ideas').size() > 0 ){
		$('div.question_summary[id="#{question.id}"] h3.summary div.ideas').replaceWith(unrated_ideas_link);

	}else{
		$('div.question_summary[id="#{question.id}"] h3.summary').prepend(unrated_ideas_link);		
	}
	$.getScript('/idea/#{idea.id}/details?act=review_idea', 
		function(){
			if(!member.follow_set){
				$.getScript('/notification/' + team_id + '/settings?after_post=t');
			}
		}
	);
