= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var question = $('div.question_summary[id="#{question.id}"]');	
	var form = question.find('form.suggest_idea');
	form.find('textarea').val('');
	form.find('p.warn').remove();
	form.find('div#errorExplanation').remove();	
	$('<span class="ack">Thank you</span>').insertAfter(form.find(':submit'))
		.effect('highlight', {color: '#45BC74'},3000, function(){ $(this).remove();});

	var unrated_ideas_link = $('<div class="ideas">#{link_to image_tag('idea-icon.gif'), view_idea_details_path(0, question_id: question.id, act: 'review_unrated_ideas' ), {class: 'view_unrated_ideas', rel: 'nofollow', remote: true } }<span class="cnt">#{question.unrated_ideas.count} new</span></div>')

	close_idea_help_popup( question.find('div.form_help_slide') );

	if( $('div.question_summary[id="#{question.id}"] div.call-to-action div.ideas').size() > 0 ){
		$('div.question_summary[id="#{question.id}"] div.call-to-action div.ideas').replaceWith(unrated_ideas_link);

	}else{
		$('div.question_summary[id="#{question.id}"] div.call-to-action').prepend(unrated_ideas_link);		
	}
	$.getScript('/idea/#{idea.id}/details');
