= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var question = $('div.question_summary[id="#{question.id}"]');	
	var form = question.find('form.suggest_idea');
	form.find('textarea').val('').focus();
	form.find('p.warn').remove();
	form.find('div#errorExplanation').remove();
	
	form.find('input[name="attachments"]').val( '' );
	
	var attachments = form.find('div.attachments');
	attachments.find('div.attachment').hide(800, function(){
		attachments.find('div.attachment').remove();
		attachments.hide(800);
	})
	
	close_idea_help_popup( question.find('div.form_help_slide') );

	$('div.question_summary[id="#{question.id}"] h3.summary a.view_unrated_ideas').removeClass('hide').html( 
		"Rate #{pluralize(question.unrated_ideas.count, ' new idea')}" );

	var question_ideas_count = #{question.question_ideas.count};	
	var str = question_ideas_count == 1 ? "View 1 idea on post-its wall" : "View all " + question_ideas_count + " ideas on post-its wall"
	$('div.question_summary[id="#{question.id}"] h3.summary a.view_all_ideas').removeClass('hide').html( str );

	$.getScript('/idea/#{idea.id}/details?act=review_idea', 
		function(){
			if(!member.follow_set){
				$.getScript('/notification/' + team_id + '/settings?after_post=t');
			}
		}
	);
