%div.question_tabs{id: question.id}
	%div.theming_header
		%h3
			- if question.siblings.count > 1
				= link_to image_tag('details_prev.png'), question_post_its_wall_path(question.id, nav: 'prev'), {class: 'view_question', rel: 'nofollow', remote: true }
				Question #{question.order_id} of #{question.siblings.count} post-its wall: #{question.text}
				= link_to image_tag('details_next.png'), question_post_its_wall_path(question.id, nav: 'next'), {class: 'view_question', rel: 'nofollow', remote: true }
			- else
				Question: #{question.text}
	
	
	%div#tabs-theming
		- question.themes = question.themes.includes(:attachments)
		- question.themed_ideas = question.themed_ideas.includes(:attachments)
		= render( partial: 'ideas/post_its_wall', locals: { question: question}, content_type: 'html'  )
