%div.question_tabs{id: question.id}
	%div#tabs
		%ul
			%li
				%a{href: "#tabs-summary"}
					Discussion and rating
			%li
				%a{href: "#tabs-theming"}
					Idea Theming
					
			%li
				%a{href: "#tabs-editing"}
					Theme editing
					
		%div#tabs-summary
			%div.proposal
			
				%h3.view_question Q#{question.order_id}: #{question.text}
				
				= render :partial=> 'plan/question_theme_summary', :locals => { question: question, team: @team, link: 'no'}
				%div.idea_details
					= render( partial: 'rating', locals: { idea: question, my_rating: my_rating } )			

					= render( partial: 'idea_discussion', locals: { idea: question } )			
			
			
		%div#tabs-theming
			- question.themes = question.themes.includes(:attachments)
			- question.themed_ideas = question.themed_ideas.includes(:attachments)
			= render( partial: 'ideas/theming_page', locals: { question: question}, content_type: 'html'  )
		%div#tabs-editing
			= render( template: 'ideas/theme_final_edit', locals: {question: question}, formats: [:html]  )
