<%= form_for(@answer_diff) do |f| %>
  <% if @answer_diff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer_diff.errors.count, "error") %> prohibited this answer_diff from being saved:</h2>

      <ul>
      <% @answer_diff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :answer_id %><br />
    <%= f.text_field :answer_id %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.text_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <%= f.label :diff %><br />
    <%= f.text_field :diff %>
  </div>
  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
