%div.talking_point_comments.discussion{:id=> talking_point.id, :num_coms => talking_point.coms }
	%style
		:sass
			div.talking_point_comments
				margin: 0
			div.Comment
				width: auto
	
	%h4.question  
		Talking point discussion
		= link_to 'Close', {}, :remote=>false, :class=>'close_worksheet close_talking_point_comments', 'data-disable-with'=>'<img src="/images/wait3.gif"/>', :title=>'Click to close talking point discussion'

	%p.ques Q#{@question.order_id}: #{@question.text}

	= render :partial=> 'plan/talking_point_post_it', :locals => {:talking_point=>talking_point, :no_com_link => true}
	%p.clear_both
		- if comments.size == 0
			Add your comment or question about this talking point
		- elsif comments.size == 1
			Here is one comment about this talking point from your community
		- else 
			Here are 
			= pluralize(comments.size, 'comment')
			about this talking point from your community
	
	%div.discussion{:id=> talking_point.id, :num_coms => talking_point.coms }
	
		= render :partial=> 'plan/comment', :collection => comments
	
		= render :partial => 'plan/comment_form', :locals => {:id=>talking_point.id, :type=>'talking_points', :criteria => com_criteria}


	%p.footer
		= link_to 'Close', {}, :remote=>false, :class=>'close_worksheet close_talking_point_comments', 'data-disable-with'=>'<img src="/images/wait3.gif"/>', :title=>'Click to close talking point discussion'
