= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var tp_coms = $("#{escape_javascript(
		render( :partial=> 'comments/talking_point_comments', :formats => [:html], :locals=> {:talking_point => talking_point, :comments => comments, :com_criteria => com_criteria } )
	)}");
	
	tp_coms.hide();
	$('body').append(tp_coms);
	
	setTimeout(
		function(){
			$('div.talking_point_comments').css({top: 0, left: $('div.left_side').offset().left, width: $('div.left_side').width(), height: $('div.right_side').outerHeight()});
			tp_coms.slideDown(800);
			$('div.talking_point_comments div.discussion').height( $(window).height() - 40 );
			tp_coms.find('abbr').timeago();
			activate_text_counters_grow( tp_coms.find('textarea'), 30 );
			$('tr.comment[tp_id="#{talking_point.id}"]').each(
				function(){
					var com_id = $(this).attr('com_id');
					//console.log("hightlight com_id: " + com_id);
					$('div.Comment[id="' + com_id + '"]').find('a.com_author').before('<span class="new">New </span>');
				}
			);
			if(#{!params[:com_id].nil?}){
				var com = $('div.Comment[id="#{params[:com_id]}"]');
				$('div.discussion[id="#{talking_point.id}"]').scrollTo(com,1200);
				com.effect('highlight',{color: '#EAF8D0'},5000);				
			}
			tp_coms.find('div.Comment').each(
				function(){
					reformat_comment_quote( $(this) );
				}
			);
		},200)
	
	
	$('a.close_talking_point_comments').live('click', 
		function(){
			var el = $(this);
			var worksheet = el.closest('div.talking_point_comments');
			worksheet.slideUp(800, function(){$(this).remove();});
			return false;
		}
	)
	
	$('div.talking_point_comments.discussion[id="#{talking_point.id}"]').find('a.clear').html('Clear').die('click').live('click',
		function(){
			$(this).closest('form').find('textarea').val('');
			$(this).closest('form').find('div#errorExplanation').remove();
			return false;
		}
	);
	