= render :template => 'shared/clear_sign_in_form.js'
:plain
	var tp_coms = $("#{escape_javascript(
		render( :partial=> 'comments/talking_point_comments.html', :locals=> {:talking_point => talking_point, :comments => comments, :com_criteria => com_criteria } )
	)}");
	var tp = $('div.talking_point_entry[id="#{talking_point.id}"]')
	$('div.talking_point_comments.discussion[id="#{talking_point.id}"]').remove();
	var link = tp.find('a.tp_show_coms').html('Hide discussion');	
	var newNode = $(tp_coms).insertAfter(tp);
	activate_text_counters_grow( newNode.find('textarea'), 30 );
	// activate the link to hide the discussion
	link.bind('ajax:before', 
		function(){
			return false;
		}).bind('click', 
		function(){
			var el = $(this);
			el.unbind('ajax:before').unbind('click');
			var disc = el.closest('div.talking_point_entry').next('div.talking_point_comments');
			var com_cnt = disc.find('div.Comment').size();
			switch(com_cnt){
				case 0:
					el.html('Reply');
					break;
				case 1:
					el.html('Show 1 comment');
					break;
				default:
					el.html('Show ' + com_cnt + ' comments' );
					break;
			}
			disc.remove();
			return false;
		}
	)
	$('div.talking_point_comments.discussion[id="#{talking_point.id}"]').find('a.clear').html('Clear').die('click').live('click',
		function(){
			$(this).closest('form').find('textarea').val('');
			return false;
		}
	);
	setTimeout( function(){	$('.corner').corner()},100);