= render :template => 'shared/clear_sign_in_form.js'
:plain
	var new_com = $("#{escape_javascript(
		render( :partial => 'plan/comment.html', :object => comment )
	)}");

	var com = $('div.Comment[id="#{comment.id}"]')
	
	$('form.comment_edit_form[id="#{comment.id}"]').closest('div.ui-dialog').dialog('destroy').remove();
	
	com.replaceWith(new_com)

= render :template => 'shared/clear_sign_in_form.js'