= render :template => 'shared/clear_sign_in_form.js'
:plain
	var com = $("#{escape_javascript(render(  :partial=> 'plan/comment', :locals=>{:comment=>comment, :members => members}, :content_type => 'html'  ))}");
	var form = $('div.question_worksheet[id="#{question_id}"] div.talking_point_comments[id="#{comment.parent_id}"] form.comment_form.orig');
	form.find('textarea').val('');
	form.find('div#errorExplanation').remove();
	
	if( $('div.Comment[id="#{comment.id}"]').size()>0){
		// replace the existing one with this one
		$('div.Comment[id="#{comment.id}"]').replaceWith(com);
	}else{
		// insert this one
		form.before(com);
	}
	
	
