- if mode == 'left_side_list'
	%div{:idea_id=>live_theme.id, :class => 'live_talking_point', :themer_id=>live_theme.themer_id }
		%p.text= live_theme.text
		- if live_theme[:examples].nil?
			%p.example
				%i
					No example was selected by themer
		- else
			- live_theme[:examples].each do |talking_point|
				%p.example
					=talking_point.text
					(Table #{talking_point.group_id})
		= image_tag 'info.gif', :class=>"info"
		= image_tag 'delete_icon_16t.gif', :class=>"tp_delete"
- elsif mode =='right_side_meta_themes'			
	%div{:idea_id=>live_theme.id, :class => 'idea micro_theme', :themer_id=>live_theme.themer_id }
		%p.text= live_theme.text
		- if live_theme[:examples].nil?
			%p.example
				%i
					No example was selected by themer
		- else
			- live_theme[:examples].each do |talking_point|
				%p.example
					=talking_point.text
					(Table #{talking_point.group_id})
		= image_tag 'info.gif', :class=>"info"
		= image_tag 'delete_icon_16t.gif', :class=>"tp_delete"
