- mode ||= 'table'
%div{:idea_id=>live_talking_point.id, :class => mode=='theme' ? ( live_talking_point[:example] ? 'idea example' : 'idea' ) : 'live_talking_point' }
	%p.text= live_talking_point.text
	= image_tag 'info.gif', :class=>"info"
	- if mode == 'theme'
		%div.star
		%p.stats
			Table
			%span.table= "1-#{live_talking_point.id_letter}"
			%span.pos +#{live_talking_point.pos_votes} 
			%span.div /
			%span.neg  -#{live_talking_point.neg_votes}
	- else
		%p.stats
			Talking point #{live_talking_point.id_letter} 
			%span.pos +#{live_talking_point.pos_votes} 
			%span.div /
			%span.neg  -#{live_talking_point.neg_votes}
		