:plain
	var answer_html = #{BlueCloth.new( theme.text ).to_html.to_json};	
	var example_text = #{ theme.example_ids.to_json};
- if params[:act] == "edit_answer_popup"
	:plain
		var post_it = $('div.post-it[id="#{theme.id}"]');
		post_it.find('div.inner').html( answer_html );
		post_it.find('div.examples').html( example_text );
		
		if( $('div#live_theme_final_edit').size() > 0 ){
			console.log("Update the new theme content");
			var theme_li = $('li.theme[theme_id="#{theme.id}"]');
			theme_li.find('div.theme_text').html( answer_html );
			theme_li.find('div.example_text').html( example_text );
		}else{
			truncate_themes(post_it);
		}
		//var proposal_page_answer = $('li.theme[id="#{theme.id}"] div.answer').html( answer_html );
		//set_answer_links_target(proposal_page_answer);
		
		//console.log("Replace edited answer in edit_answer_popup");
		var popup = $('div.idea_details.popup[theme_id="#{theme.id}"]');
		popup.find('a.edit_answer').show();
		
		var answer = popup.find('ul.answer');
		answer.find('div.post-it div.inner').html( answer_html );
		
		answer.find('div.post-it div.inner').show(250);
		answer.find('div.wmd-preview').hide(250, function(){$(this).remove()});
		//console.log("remove the preview");
		answer.prev('div.edit_form').hide(250, function(){$(this).remove()});
		//set_answer_links_target(answer);

- elsif params[:act] == 'add_answer_popup'
	:plain
		var post_it = $('div.idea_details.popup div.post-it[id="0"]');
		post_it.attr('id',#{theme.id});
		var popup = post_it.closest('div.idea_details.popup');
		popup.attr('theme_id',#{theme.id});
		post_it.find('div.inner').html( answer_html );
		post_it.find('div.examples').html( example_text );
		
		var link = popup.find('a.edit_answer');
		link.attr('href', link.attr('href').replace(/\/theme\/\d+/,'/theme/#{theme.id}') );
		link.show();
		
		console.log("Insert the new theme content");
		var new_theme = $("#{escape_javascript(render( :partial=> 'ce_live/theme_for_final_edit', locals: {theme: theme, theme_letter: 'A'}, formats: [:html]  ))}");
				
		new_theme.find('span.ltr').html( int_to_letters( $('ul.themes li.theme').size() + 1 ) );
		$('ul.themes').append(new_theme)
		
		
		var answer = popup.find('ul.answer');
		answer.find('div.post-it div.inner').html( answer_html );
		
		answer.find('div.post-it div.inner').show(250);
		answer.find('div.wmd-preview').hide(250, function(){$(this).remove()});
		//console.log("remove the preview");
		answer.prev('div.edit_form').hide(250, function(){$(this).remove()});
	
