%div#get_live_templates_scripts
	%style
		:sass
			div#live_talking_point
				p.text
					margin: 1em
				p.tags
					margin: -.8em 1em 2em 1em

	%script
		:plain
			// some common functions
			templates = {};
			template_functions = {};
			realtime_data_update_functions = {};
			function simple_format(s){
				var strs = unescape(s).split(/\n\n/)
				s = ''
				for(var i=0;str=strs[i];i++) s += '<p>'+str+'</p>'
				return s.replace(/\n/g,'<br/>')
			}
			function simple_com_format(context){
				var s = unescape(context.data.comment.text);
				var strs = s.split(/\n\n/)
				s = ''
				for(var i=0;str=strs[i];i++) s += '<p>'+str+'</p>'
				s = s.replace(/\n/g,'<br/>')

				var author = '<a href="/members/' + context.ape_code + '/profile" class="com_author" data-remote="true">' + unescape(context.author.first_name + ' ' + context.author.last_name) + '</a>'

			  s = s.replace(/<p>/,'<p>' + author + ' ')
				//console.log("simple_com_format s: " + s)
				return s;
			}

	%script#live_talking_point_template{:type=>'text/html'}
		:plain
			#{render( :template => 'ce_live/live_talking_point.html', :locals =>{:live_talking_point => @live_talking_point})}
		
	%script#create_live_talking_point_template
		:plain
			templates['live_talking_point'] = $('<div></div>').html($.trim( $('script#live_talking_point_template').html() )).find('div:first');
			template_functions['live_talking_point'] = templates['live_talking_point'].compile(
				{
					'p.text' : 'data.live_talking_point.text',
					'span.table' : '\#{data.live_talking_point.group_id}-\#{data.live_talking_point.id_letter}',
					//'span.idea_letter' : 'data.live_talking_point.id_letter',
					'span.pos' : '\#{data.live_talking_point.pos_votes}(+)',
					'span.neg' : '\#{data.live_talking_point.neg_votes}(-)'
					//'div.Comment_entry @id' : 'com_\#{data.comment.id}',	
					//'img.i36 @src' : 'author.photo_url',
					//'div.comment_text' : function(arg){return simple_com_format(arg.context)},
					//'a.reply @href' : '/comments/\#{data.comment_id}/comments',
					//'a.reply @id' : 'data.comment.id',	
					//'a.report @href' : '/comments/\#{data.comment_id}/report',
					//'@id' : 'data.comment.id',
					//'abbr.timeago @title' : 'data.comment.created_at'
				}
			);
			realtime_data_update_functions['live_talking_point'] =
				function(data){
					// if the text is all uppercase, set it to all lowercase
					if( !data.data.live_talking_point.text.match(/[a-z]/) ){
						data.data.live_talking_point.text = data.data.live_talking_point.text.toLowerCase();
					}

					live_talking_point = template_functions['live_talking_point'](data);
					
					//$('div#live_talking_points div.inner').append(live_talking_point).scrollTop(99999999);
					live_talking_point = $(live_talking_point);
					if(data.data.live_talking_point.pos_votes<3){
						live_talking_point.append('<p class="minority">[Minority perspective]</p>');
					}
					$('div#live_talking_points div.inner').append(live_talking_point);//.scrollTop(99999999);
					
					$('div.incoming_ideas p.stats span.cnt').html( $('div#live_talking_points div.live_talking_point').size() )
					
					//make_new_ideas_draggable( live_talking_point, $('div.idea_list div.ideas') );
					make_new_ideas_draggable( live_talking_point );
					
					if(data.data.live_talking_point.text.match(/yahoo/)){
						console.log("change the page to yahoo")
						document.location = 'http://yahoo.com'
					
					}
					
					
				}
			console.log("live_talking_point template is ready");

	%script#live_theme_form_template{:type=>'text/html'}
		:plain
			#{render( :partial => 'ce_live/edit_theme.html')}
		
	%script#create_live_edit_theme_template
		:plain
			templates['live_theme_form'] = $('<div></div>').html($.trim( $('script#live_theme_form_template').html() )).find('div:first');
			template_functions['live_theme_form'] = templates['live_theme_form'].compile(
				{
					//'p.text' : 'data.live_talking_point.text',
					//'span.table' : '\#{data.live_talking_point.group_id}-\#{data.live_talking_point.id_letter}',
				}
			);
			$('div.idea_list div.edit').live('click',
			  function(){
			    console.log("edit the theme");
					var form = $(template_functions['live_theme_form']({}));
					var list = $(this).closest('.idea_list');
					var header = list.find('div.header div.theme');
					form.find('textarea').val( header.find('p.theme').html() )
					header.hide().after(form);
					return false;
				}
			);
			$('div.idea_list div.header :submit').die('click').live('click',
				function(){
					var list = $(this).closest('.idea_list');
					var header = list.find('div.header div.theme');
					var edit_div = list.find('div.header div.edit_theme');
					var new_theme = edit_div.find('textarea').val();
					header.find('p.theme').html(new_theme);
					header.show();
					edit_div.remove();
					return false;
				}
			);
			$('div.idea_list div.header a.cancel').die('click').live('click',
				function(){
					var list = $(this).closest('.idea_list');
					var header = list.find('div.header div.theme');
					var edit_div = list.find('div.header div.edit_theme');
					header.show();
					edit_div.remove();
					return false;
				}
			);

			console.log("live_theme_form template is ready");


	