- content_for(:script) do
	%style
		:sass
			div.session_details
				margin-left: 20px
			body
				width: 700px
			.nobreak
				white-space: nowrap
			h3.time
				margin-right: 20px
			p.report_link
				font-size: 1.2em
				
	:javascript
		var live_session_id;
		$('a.publish_link').die('click').live('click',
			function(){
				var link = $(this);
				live_session_id = link.attr('id');
				if(link.hasClass('unpublished')){
					var new_publish_status = true;
				}else{
					var new_publish_status = false;
				}
				post_theme_changes({act: 'publish_session_themes', new_publish_status: new_publish_status });
				return false;
			}
		);
		
%div#live_home
	%h3 Theming for tables: #{@tables}
	%h4 Please select one of these pages as directed by the event coordinator
	
	%table
		- @sessions.each do |session|
			- if session.session_type == 'collect'
				%tr
					%td
						%h3.time
							= session.starting_time.strftime("%H:%M") unless session.starting_time.nil?
					%td
						%h3
							= session.name
					%td
						%h3
							%span.nobreak= "(#{session.duration} min)" unless session.duration.nil?
		
				%tr
					%td
					%td{:colspan=>2}
						- if session.session_type == 'collect'
							%p= link_to "Theming: #{session.name}", live_themer_path(session.id)
	
