- content_for(:script) do
	%style
		:sass
			div.session_details
				margin-left: 20px
			body
				width: 700px
			.nobreak
				white-space: nowrap
			h3.time
				margin-right: 20px
			//p.report_link
			p a
				font-size: 1.2em
				
	:javascript
		var live_session_id;
		$('a.publish_link').die('click').live('click',
			function(){
				var link = $(this);
				live_session_id = link.attr('id');
				if(link.hasClass('unpublished')){
					var new_publish_status = true;
				}else{
					var new_publish_status = false;
				}
				post_theme_changes({act: 'publish_session_themes', new_publish_status: new_publish_status });
				return false;
			}
		);
		
%div#live_home
	%h3 Report and projection links
	%table
		- @sessions.select{|es| es.session_type == 'group'}.sort{|a,b| a.order_id<=>b.order_id}.each do |group|
		
			%tr 
				%td{colspan: 4}
					%h2
						Session actions for #{group.name}:
		
			- @sessions.select{|s| s.group_id == group.id && s.session_type != 'group'}.sort{|a,b| a.order_id<=>b.order_id}.each do |session|
				-#%tr
					%td{colspan:3} session_type: #{session.session_type}
				- if session.session_type == 'feedback_allocation_results' || session.session_type == 'view_final_themes'
					- if !session.source_session_id.nil?
						- session_source = LiveSession.find_by_id(session.source_session_id)
		
					%tr
						%td.left_margin
						%td
							%h3.time
								= session.starting_time.strftime("%H:%M") unless session.starting_time.nil?
						%td
							%h3
								= session.name
						%td
							%h3
								%span.nobreak= "(#{session.duration} min)" unless session.duration.nil?
		
					%tr
						%td.left_margin
						%td
						%td{:colspan=>2}
	
							%div.session_details
								- case session.session_type
									- when 'view_final_themes'
										- final_session = @sessions.detect{|s| s.id == session.inputs[0].source_session_id }
										- if !final_session.nil?
											- if !final_session.published
												%p.warn Themes have not been published yet

											%p= link_to "View final themes", live_session_themes_path(final_session.id)
											-#%p.report_link= link_to "Session - Full data report", live_session_full_data_path(final_session.id)
											
										- else
											%p.warn Please set the session data source in Event setup page
											
											- if !session_source.published
												%p.warn Themes have not been published yet

											- else
												%p.warn Please check the session data source in Event setup page
											
										
									- when 'feedback_allocation_results'
										- if session.source_session_id.nil? || session.inputs.size > 0
											- source_session_id = session.inputs.size > 0 ? session.inputs[0].source_session_id : 0
										- else
											- source_session_id = session.source_session_id

										-# if !session_source.published
											%p.warn Themes have not been published yet

								    
										- if !source_session_id.nil?
											%p.report_link= link_to "Allocation results to be projected", live_session_allocation_results_path(source_session_id)
										- else
											%p.warn Please check the session data source in Event setup page
	
		%tr
			%td
			%td{:colspan=>2}
				%p= link_to 'Stream leverage points', live_stream_path(125, tags: 'strategy')
				%p= link_to 'Stream assumptions', live_stream_path(125, tags: 'concern')
				%p= link_to 'Stream leverage points and assumptions', live_stream_path(125, tags: 'strategy-concern')
		
