- content_for(:script) do
	= javascript_include_tag 'ce_live/app_ce_live_themer.js'
	= javascript_include_tag 'ce_live/app_ce_theming.js'
	= javascript_include_tag 'ce_live/app_ce_live_details.js'
	= javascript_include_tag 'ce_live/app_ce_live_micro_themer_post_it.js'
		
%div#themer.coord
	= stylesheet_link_tag 'ce_live/ce_micro_themer_old'
	= stylesheet_link_tag 'ce_live/theming_page'
	
	:javascript
		var pub_sub_channels = #{@channels}
		var live_session_id = #{params[:session_id]}
		var disable_editing = #{@disable_editing}
		var published = #{@session.published}


	%div.stats
		- @presenter.themers.each do |themer|
			%div.table.warn{themer_id: themer.id, themer_name: themer.name } 
				#{themer.name}
				%span.unthemed_uT_count> :0
				%span.themed_uT_count> -0
				%div.table_menu{table_id: themer.id } 
					%div.show_chat Show chat
					%div.show_tp Show all micro themes
		%p.clear_both

	= render partial: 'live_themes/post_its_wall_macro', locals: {presenter: @presenter, live_session_id: @session_id }
		
	-#%div.workspace
		
		%div.incoming_ideas
			%div#auto_bottom.auto-scroll.incoming_scroll Autoscroll
			%div.tables_ribbon

			%div#live_talking_points
				%div.inner
					-# if params[:preload]
						- talking_points = LiveTalkingPoint.where('live_session_id=22 AND length(text) > 30').limit(params[:preload]) 
						- cnt = 0
						- talking_points.each do |tp|
							- tp.text = "[#{cnt+=1}:#{tp.id}] #{tp.text}"
						= render :partial=> 'ce_live/live_talking_point', :collection => talking_points, :locals =>{:mode => 'incoming'}
					-# else
					= render :partial => 'ce_live/live_theme', :formats => [:html], :collection => @live_themes, :as => :live_theme, :locals => {:mode =>'left_side_list'}
					
					
						
		%div.lists
			%div#auto_bottom.auto-scroll.lists_scroll Autoscroll
			%div.drop_ribbon
				%div#new_theme
					%p New theme
				%div#misc
					%p Don't fit(#{@dont_fit_tp.size})
				%div#toggle_lists
					%p Expand all


			%div#lists
				= render :partial=>'ce_live/theme_list', :locals=>{:title=>'New theme', :class_name=>'new_list', :edit => true, :list_id=>0}
				
				= render :partial=>'ce_live/theme_list', 
					:locals=>{:title=>"Don't fit in(#{@dont_fit_tp.size})", :class_name=>'misc_list', :list_id=>'misc', :talking_points =>  @dont_fit_tp}
				
				%div.list_column
					-#debugger
					- @my_themes.each do |theme|
						- class_name = theme[:themes] && theme[:themes].size > 0 ? '' : 'empty_list'
						= render :partial=>'ce_live/theme_list', 
							:locals=>{:title=>theme.text, :example=> theme.example_ids, :class_name=>class_name, :edit => true, :list_id=>theme.id, :themes => theme[:themes] }

	-#= link_to 'Test',nil,:class=>'test_mode'
	-#%div.test_mode
		%h3 Test mode
		= form_tag( live_test_ids_path, {:remote=>true}) do
			%table
				%tr
					%td Live session id
					%td= text_field_tag :live_session_id,22
				%tr
					%td Group range
					%td= text_field_tag :group_range, '1..22'
				%tr
					%td Delay range
					%td= text_field_tag :delay_range, '1..2'
				%tr
					%td Channel
					%td= text_field_tag :theme_channel

			= submit_tag 'Start test', {:disable_with => 'Submitting…'}
			= link_to "Stop test", {}, {:class=>'stop_test'}
			%h3.warn.hide Test in progress

	%div.chat.orig
		%p.hdr 
			Chat with
			%span.table_id
			= link_to 'Close'
		%div.chat_log
		= form_tag do
			= hidden_field_tag :jug_id
			= text_field_tag :msg
			%input{type: 'button', value: 'Send'}
			= link_to 'Canned messages', {}, :class=>'canned_messages'
			%div.canned_messages
				= link_to 'Please send us more talking points'
				= link_to 'Please shorten your talking point'
				= link_to 'Please explain your talking point '
