- content_for(:script) do
	= javascript_include_tag 'ce_live/app_ce_live_themer.js'
	= javascript_include_tag 'ce_live/app_ce_theming.js'
	= javascript_include_tag 'ce_live/app_ce_live_details.js'
	= javascript_include_tag 'ce_live/app_ce_live_micro_themer_post_it.js'
		
%div#themer.theme
	= stylesheet_link_tag 'ce_live/ce_micro_themer_old'
	= stylesheet_link_tag 'ce_live/theming_page'
	
	:javascript
		var pub_sub_channels = #{@channels}
		var live_session_id = #{params[:session_id]}
		var disable_editing = #{@disable_editing}
		var published = #{@macro_session.published}

	%div.stats
		- @presenter.tables.each do |table|
			%div.table.warn{table_id: table } 
				T#{table}
				%span.unthemed_tp_count> :0
				%span.themed_tp_count> -0
				%span.example_tp_count> -0
				%div.table_menu{table_id: table } 
					%div.show_chat Show chat
					%div.show_tp Show all TP
		%p.clear_both
			
	= render partial: 'live_themes/post_its_wall', locals: {presenter: @presenter, live_session_id: @session_id }
			
	%div.chat.orig
		%p.hdr 
			Chat with table
			%span.table_id
			= link_to 'Close'
		%div.chat_log
		= form_tag do
			= hidden_field_tag :jug_id
			= text_field_tag :msg
			%input{type: 'button', value: 'Send'}
			= link_to 'Canned messages', {}, :class=>'canned_messages'
			%div.canned_messages
				= link_to 'Please send us more talking points'
				= link_to 'Please shorten your talking point'
				= link_to 'Please explain your talking point '

	%div#coord_chat.chat.parent
		%p.hdr 
			Chat with coordinator
			= link_to 'Close'
		%div.chat_log
		= form_tag do
			= hidden_field_tag :jug_id
			= text_field_tag :msg
			%input{type: 'button', value: 'Send'}