:plain
	console.log("your theme update has been processed: post_theme.js")

- if params[:act] == 'new_list'
	:plain
		// I need to change the list_id attr
		$('div.idea_list[list_id="#{params[:list_id]}"]').attr('list_id',#{@live_theme.id});
- elsif params[:act] == 'update_final_theme_order'
	:plain
		$('ul.themes').attr('id_order', '#{@new_ids}')
		$('p.saving_modal').closest('div.ui-dialog').dialog('destroy').remove();
- elsif params[:act] == 'update_theme_text_and_example'
	:plain
		update_new_theme( '#{ params[:theme_id].match(/\d/).nil? ? 'insert' : 'replace' }', #{params[:form_id]}, #{@live_theme.to_json} )
- elsif params[:act] == 'publish_session_themes'
	:plain
		var link = $('a.publish_link[id="#{params[:live_session_id]}"]');
		if( #{params[:new_publish_status] =='true'} ){
			link.parent().find('.status').html('<img alt="Completed_on" src="/images/completed_on.gif">Themes have been published');
			link.html('Unpublish themes');
			link.removeClass('unpublished').addClass('published')
		}else{
			console.log("mark as inpublished");
			link.parent().find('.status').html('Themes have not been published');
			link.html('Publish themes');
			link.removeClass('published').addClass('unpublished')
		}
