- content_for(:script) do
	%style
		:sass
			div#proposal_vote
				form
					margin-bottom: 100px
				.instr
					font-size: 1.2em
					font-style: italic
					margin: 20px 0 20px 0
					width: 600px
				p.allocation_summary
					font-weight: bold
					font-size: 1.2em
					span
						margin: 0 40px 0 20px
					
					
				table
					width: 700px
					td.title
						padding: 8px 20px 8px 8px
						font-size: 1.2em
					span.dollar
						font-weight: bold
						font-size: 1.2em
					input[type="text"]
						width: 30px
						margin: 8px 8px 8px 0
					td.points
						white-space: nowrap
					tr.stripe
						background-color: #eee
					input[type="submit"]
						margin: 10px 0
						font-size: 1.2em
						font-weight: bold
					p.vote_warn
						color: red
						font-weight: bold
						text-align: right
					td.ltr
						font-size: 2.4em
						text-align: center
						width: 54px
						
				div.voting
					float: left
				div.voters
					float: left
					margin-left: 40px
			li.placeholder
				display: none




			@media only screen
				.print, div.alloc_num
					display: none
			@media only print
				.screen, div.join_com
					display: none
				form
					margin-bottom: 0	
				.alloc_num
					margin-top: 12px
					border: 1px solid black
					width: 60px
					height: 26px
					display: block
					span.dollar
						margin-left: 6px
				td.total
					font-size: 1.2em
					text-align: right
					p.total
						margin-right: 20px
						
					
	
	= javascript_include_tag 'live_vote.js'
	:javascript
		var pub_sub_channels = #{@channels}
		if(#{@not_scribe_message.nil? ? false : true}){
			// disable the form inputs
			$('form :input').attr('disabled','disabled')
			$('a.new_live_talking_point').remove();
		}
	
%div#proposal_vote

	- if @warning.nil?		
		- if @not_scribe_message
			%div.not_scribe_message.screen
				%p.warn= @not_scribe_message
			

		%div.instr
			-#%p We need your input to prioritize these proposals
			%ul
				%li Each participant has $100 dollars to spend on their favorite proposals
				%li You cannot spend more than $30 dollars on a single proposal
				%li Round dollars only, no cents please
				%li You don' t need to allocate every dollar				
		
		%div.voting
		
			%div.allocation.screen
				%p.allocation_summary
					Table
					%span
						= @table_id
					Voter:
					%span.voter_id
						New
				%p.allocation_summary
					Available:
					%span.avl
						100
					Allocated:
					%span.alloc
						0
		
			= form_tag live_allocate_save_path, :remote=>true do
				- tab_index = 1
				= hidden_field_tag :table_id, @table_id
				= hidden_field_tag :voter_id, @voter_id
				%table.teams_vote
					- theme_letter = 'A'
					- @live_themes.each do |theme|
						%tr{:class=>cycle('','stripe')}
							%td.ltr
								= theme_letter
								- theme_letter.succ!
							%td.title
								= theme[:text]
							%td.points
								%span.screen.dollar $
								= text_field_tag "vote_#{theme[:id]}", 0, :tab_index=> tab_index, :class => 'screen'
								%div.alloc_num
									%span.dollar $
						- tab_index += 1
						
					%tr.screen
						%td{:colspan=>3}
							= submit_tag 'Save my votes', :name => 'proposal_votes', :tab_index => tab_index, :disable_with => 'Saving...'
							= link_to 'Clear', {}, {:class=>'clear'}
					%tr.print		
						%td.total{:colspan=>2}
							%p.total Please add up your Total 
						%td
							%div.alloc_num
								%span.dollar $
					-#%tr.print
						%td.total{:colspan=>3}	
							%p
								If your total is less than $100 check this box:
								%br
								= image_tag 'checkbox.gif'
								I acknowledge my total is less than $100
							
		%div.voters.screen
			%p These voters have been recorded
			%ul
				%li{:class=>'placeholder'}
					= link_to "Voter", live_voter_session_allocations_path(:table_id=>'TABLE_ID', :voter_id=>'VOTER_ID'), {:class => 'retrieve_voter', :remote=>true}
			- @voters.each do |voter|
				%li{:id=> voter} 
					= link_to "Voter #{voter}", live_voter_session_allocations_path(:table_id=>@table_id, :voter_id=>voter), {:class => 'retrieve_voter', :remote=>true}
				
	- else 
		%h3= @warning