- content_for(:script) do
	%style
		:sass
			body
				padding-bottom: 40px
			p.theme
				font-size: 1.2em
				margin: 0
				width: 600px
				
			div.bar_graph
				background-color: blue
				height: 40px
				
			div.controls
				text-align: center
				font-size: 5em
				margin-right: 10px
				width: 60px
			ul.themes
				list-style: none
				li
					margin-bottom: 40px
					div
						float: left
			p.clear_both
				clear: both
			div.numeric 
				margin-left: 10px
				font-size: 1.2em

			
				
	:javascript
		var pub_sub_channels = #{@channels}
		var live_session_id = #{params[:session_id]}
		
%div#live_theme_final_edit

	- if @warning.nil?
		
		%h2= @session.name
	
		- theme_letter = 'A'
		- graph_ratio = 600.0 / @max_points
		- debugger
		%ul.themes
			- @live_themes.each do |theme|
				%li.theme{:theme_id=>theme.id, :class => theme.visible ? 'visible' : ''}
					%div.controls
						%span.ltr= theme_letter
					- theme_letter.succ!
					%div.theme
						%p.theme= theme.text
						%div.bar_graph{:style=>"width: #{theme[:points] * graph_ratio }px"	}
						%div.numeric
							#{(theme[:percentage]*100).round}%
							(#{theme[:points]} Pts)
						
					%p.clear_both
	
	- else
		%h3= @warning