- content_for(:script) do
	%style
		:sass
			body
				padding-bottom: 1500px
			div#allocation_results_graph
				min-width: 900px
				h2 
					width: 800px
			li.theme
				width: 900px
				div.theme
					min-width: 800px
			p.theme
				font-size: 1.2em
				margin: 0
				width: 600px
				
			div.bar_graph
				background-color: blue
				height: 30px
				
			img.bar_graph
				height: 30px
				display: block
				float: left
				
			div.controls
				text-align: center
				font-size: 5em
				margin-right: 10px
				width: 60px
			ul.themes
				list-style: none
				li
					margin-bottom: 25px
					div
						float: left
			p.clear_both
				clear: both
			div.numeric 
				margin-left: 10px
				font-size: 1.2em

			
				
	:javascript
		var pub_sub_channels = #{@channels}
		var live_session_id = #{params[:session_id]}
		
%div#allocation_results_graph

	- if @warning.nil?
		
		%h2= @session.name
	
		- theme_letter = 'A'
		- graph_ratio = 600.0 / @max_points
		%ul.themes
			- @live_themes.each do |theme|
				%li.theme{:theme_id=>theme.id, :class => theme.visible ? 'visible' : ''}
					%div.controls
						%span.ltr= theme_letter
					- theme_letter.succ!
					%div.theme
						%p.theme= theme.text
						= image_tag 'blue_bar.gif', :class=>'bar_graph', :style=>"width: #{theme[:points] * graph_ratio }px"

						%div.numeric
							#{(theme[:percentage]*100).round}%
							(#{theme[:points]} Pts)
						
					%p.clear_both
		
		%h3 Votes from #{@voters} participants
		
	- else
		%h3= @warning