%div#sign_in_form
	%style
		:sass
			div#sign_in_form
				form.signin_form
					td.sign_in
						border: none
						
	%p.error= flash[:notice]
	= form_tag( {:action => 'sign_in_post'}, {:class=>'signin_form'}) do
		= hidden_field_tag :event_id, 1
		%table{:border=>0, :cellspacing=>0}
			%tr
				%td.sign_in.hdr Sign in
			
			%tr
				%td.sign_in.lbl
					%label{:for=>"event_code"} Event code:
			%tr		
				%td.sign_in
					= text_field_tag :event_code, request.cookies['event'], :tabindex => 1
			%tr
				%td.sign_in.lbl
					%label{:for=>"user_name"} Username:
			%tr		
				%td.sign_in
					= text_field_tag :user_name, request.cookies['user_name'], :tabindex => 2
			%tr
				%td.sign_in.lbl
					%label{:for=>"password"} Password:
					-#= link_to 'I forgot my password', reset_password_form_path(:email=>params[:email]), {:class=>'reset_password', :rel=>'nofollow', :tabindex => 0}
			%tr		
				%td.sign_in
					= password_field_tag :password, request.cookies['password'], :tabindex => 3
				
			%tr
				%td.sign_in.lbl
					= submit_tag "Sign In", :name=>'sign_in', :tabindex => 4
