- content_for(:script) do
	-#= javascript_include_tag 'ce_live/app_ce_live_themer.js'
	-#= javascript_include_tag 'ce_live/app_ce_theming.js'
	-#= javascript_include_tag 'ce_live/app_ce_live_details.js'
	-#= javascript_include_tag 'ce_live/app_ce_live_micro_themer_post_it.js'

	= javascript_include_tag 'ce_live/app_ce_live_table.js'

	:javascript
		var pub_sub_channels = #{@channels}
		if(#{@not_scribe_message.nil? ? false : true}){
			// disable the form inputs
			$('form :input').attr('disabled','disabled')
			$('a.new_live_talking_point').remove();
		}
		
		//if(#{@session.published}){
		//	// disable the form inputs
		//	$('form.post_live_tp :input').attr('disabled','disabled')
		//	$('a.new_live_talking_point').remove();
		//}
		
		var form_ctr = 1;
		$('body').on('click','button.add_form', 
			function(evt){
				var cur_forms = $('div#live_forms').find('div.form');
				if(cur_forms.size() > 3){
					alert("You must complete your outstanding forms before opening a new one")
				}else{
					var par = $(this).closest('div.forms_section');
					var form = par.find('div.form').clone();
					activate_text_counters_grow(form.find('textarea'), 120);
					form.find('input[name="form_id"]').val( form_ctr++ );
					//if( form.hasClass('strategy') ){
					//}else{
					//}
					$('div#live_forms').prepend(form);
				}
			}
		);
		$('body').on('click','form a.cancel_form', 
			function(evt){
				$(this).closest('div.form').hide(800,function(){$(this).remove();});
				return false;
			}
		);
		

	
%div#table
	= stylesheet_link_tag 'ce_live/table_multi_input'
	= stylesheet_link_tag 'ce_live/theming_page'
	
	- if @warning.nil?		
		- if @not_scribe_message
			%div.not_scribe_message.screen
				%p.warn= @not_scribe_message

	%hr
	
	%div#left
		%div.talking_point_block
			- if @session.published
				%h3.warn The themes from this session have been published and no more ideas can be added
		
			-#%p.desc= @session.description
			
			#strategy.forms_section
				%p What are the key leverage points that could effectively ‘nudge’ us towards such a new norm?
				%button.add_form Share a leverage point
				
				%div.form.strategy
					= form_tag(post_live_tp_path, :remote=>true, :class=>'std_form orig post_live_tp', :id=>1) do
						= hidden_field_tag :s_id, @session.id
						= hidden_field_tag :form_id, 1
						= hidden_field_tag :tag, 'strategy'
						
						%p.section_title Share a new idea about a leverage point
						%textarea{id: "text", name: "text", placeholder: 'Write your leverage point here...', class: 'autosize', field_height: 3}

						%div.form_controls
							%span.char_ctr{:cnt=>250}
								250 characters
						
						%p.table_vote 
							%span.for
								Votes in favor:
								= text_field_tag :votes_for
							%span.against
								Votes opposed:
								= text_field_tag :votes_against
						
						%div.submit
							%button{'data-disable-with' =>'Submitting...'}
								Submit strategy
							= link_to 'Cancel', {}, class: 'cancel_form'
				
			
			#concern.forms_section
				%p What assumptions would we have to ‘surface’ and ‘bust’ to be able to effectively lever such a change?
				%button.add_form Share an assumption

				%div.form.concern
					= form_tag(post_live_tp_path, :remote=>true, :class=>'std_form orig post_live_tp', :id=>1) do
						= hidden_field_tag :s_id, @session.id
						= hidden_field_tag :form_id, 1
						= hidden_field_tag :tag, 'concern'
												
						%p.section_title Share an assumption
						%textarea{id: "text", name: "text", placeholder: 'Write your assumption here...', class: 'autosize', field_height: 3 }

						%div.form_controls
							%span.char_ctr{:cnt=>250}
								250 characters
						
						%p.table_vote 
							%span.for
								Votes in favor:
								= text_field_tag :votes_for
							%span.against
								Votes opposed:
								= text_field_tag :votes_against
						
						%div.submit
							%button{'data-disable-with' =>'Submitting...'}
								Submit concern
							= link_to 'Cancel', {}, class: 'cancel_form'
								
			#live_forms
			
				
		
	%div#right
		%div.theme_col.fancy-scrollbar{ id: 'strategy'}
				
			%ul.sortable_ideas
				- random_ind = rand.to_s.scan(/\d/)[1..20]
				- theme = LiveTheme.new( text: '**Leverage points**')
				- theme.id = 0
				%li.theme_post_it
					= render partial: 'live_themes/post_it', locals: {idea: theme, random_ind: random_ind}											
				- @live_talking_points.select{|tp| tp.tag == 'strategy'}.each do |idea|
					%li.idea_post_it
						= render partial: 'live_themes/post_it', locals: {idea: idea, random_ind: random_ind}		
		-#%p.clear_both
		

		%div.theme_col.fancy-scrollbar{ id: 'concern'}
				
			%ul.sortable_ideas
				- random_ind = rand.to_s.scan(/\d/)[1..20]
				- theme = LiveTheme.new( text: '**Assumptions**')
				- theme.id = 0
				%li.theme_post_it
					= render partial: 'live_themes/post_it', locals: {idea: theme, random_ind: random_ind}											
				- @live_talking_points.select{|tp| tp.tag == 'concern'}.each do |idea|
					%li.idea_post_it
						= render partial: 'live_themes/post_it', locals: {idea: idea, random_ind: random_ind}		
		
		-#%p.clear_both
			
	-#%div.chat.parent
		%p.hdr 
			Help chat
			= link_to 'Close'
		%div.chat_log
		= form_tag do
			= hidden_field_tag :jug_id
			= text_field_tag :msg
			%input{type: 'button', value: 'Send'}
			
			