- content_for(:script) do
	

	%style
		:sass
			div.page
				div#left
					width: 400px
					float: left
					margin-right: 40px
				div#right
					width: 400px
					float: left

			div#outer_chat
				div#chat_log
					overflow: auto
					overflow-y: scroll
					width: 460px
					height: 300px
					border: 1px solid black
					padding: 1em 0
					p 
						margin: 0 1em
				input[type=text]
					width: 360px

			div.tables_ribbon
				height: 20px
				width: 100%
				border: 1px solid #aaa
			
			div.live_talking_point
				width: 240px
				background-color: #FBE574
				//border: 1px solid #FADA38
				padding: 8px 10px
				margin: 0 20px 20px 0
				p.text
					font-size: .9em
			div.workspace
				position: relative
				border: 1px solid #ccc
				div.incoming_ideas
					position: absolute
					top: 0
					left: 0
					width: 290px
					background-color: white
					z-index: 10
					div#live_talking_points
						//float: left
						div.inner
							overflow: auto
							overflow-y: scroll
							//min-width: 280px
							height: 300px
							border: 1px solid #bbb
							padding: 10px
				
					h3 a.expand_incoming_ideas_window
						font-size: .8em
						font-weight: normal
						display: block
						float: right
						
				div.lists
					position: absolute
					top: 0
					left: 320px
					background-color: white
					div#lists
						border: 1px solid #bbb
				
			div.join_com
				a.test_mode
					margin-right: 20px
					font-weight: normal
				
			div.test_mode
				padding: 10px
				border: 1px solid #aaa
				display: none
				z-index: 100
				background-color: white
				position: absolute
				top: 0
				left: 0
			
			div.idea_list.expanded
				position: absolute
				z-index: 100
				background-color: white
					
			div.idea_list
				float: left
				overflow: hidden
				width: 250px
				margin: 20px 0 0 20px
				div.header
					border: 1px solid #bbb
					p.theme
						margin: 0
						text-align: center
						font-weight: bold
				p.instr
					font-size: 1.2em
					color: #AAA
				div.ideas
					border: 1px solid #bbb
					padding: 0 6px 10px 0px
					min-height: 60px
					div.idea
						margin-top: 10px
						overflow: hidden	
						position: relative
						p.text
							margin: 0
							padding: 0 10px 0 20px
							line-height: 1em
						p.stats
							display: none
							padding: 0 10px 0 20px
						img.info
							position: absolute
							right: 0
							top: 0
						div.star
							position: absolute
							left: 0
							top: 2px
							width: 20px
							height: 18px
							background: url('/images/star_sprite.gif') no-repeat 0 0 
							&:hover
								background-position: 0 -20px
					div.idea.example
						div.star
							background-position: -20px 0
							&:hover
								background-position: -20px -20px
						
			div.idea_list_placeholder
				border: 1px solid white
			
		
%div#themer
	:javascript
		var pub_sub_channels = #{@channels}

	%div.tables_ribbon
		Show the table stats here
		
	
	%div.workspace
		%div.incoming_ideas
			%h3 
				%span.cnt 0
				Ideas to be sorted
				= link_to 'Expand', {}, {:class=>'expand_incoming_ideas_window'}
			%div#live_talking_points
				%div.inner
		%div.lists
			%h3
				%span.lists_cnt 0
				Lists
				%span.ideas_cnt 0
				Ideas
				%span.themes_cnt 0
				Themes
				%span.examples_cnt 0
				Examples

			%div#lists
				= render :partial=>'ce_live/idea_list', :locals=>{:title=>'New list', :class_name=>'new_list', :instr=>'Drop an idea here to start a new list'}
				= render :partial=>'ce_live/idea_list', :locals=>{:title=>'Miscellaneous ideas', :class_name=>'misc_list', :instr=>%q|Drop an idea here that doesn't fit anywhere else|}

	= link_to 'Test',nil,:class=>'test_mode'
	%div.test_mode
		%h3 Test mode
		= form_tag( live_test_ids_path, {:remote=>true}) do
			%table
				%tr
					%td Live session id
					%td= text_field_tag :live_session_id,22
				%tr
					%td Group range
					%td= text_field_tag :group_range, '1..8'
				%tr
					%td Delay range
					%td= text_field_tag :delay_range, '1..5'
				%tr
					%td Channel
					%td= text_field_tag :theme_channel

			= submit_tag 'Start test', {:disable_with => 'Submitting…'}
			= link_to "Stop test", {}, {:class=>'stop_test'}
			%h3.warn.hide Test in progress
