- case
	- when params[:action] == 'create_talking_point_comment'
		:plain
			$('div.talking_point_comments[id="#{params[:talking_point_id]}"] form.comment_form input[name="form_id"][value="#{params[:form_id]}"]').closest('form').find('textarea').val('');
	- when params[:action] == 'add_talking_point'
		:plain
			$('div.worksheet[id="#{params[:question_id]}"] form.talking_point_form textarea').val('');
	- when params[:action].match(/add_endorsement/)		 
		$('div.endorsements textarea').val('');
	- when params[:action].match(/prefer/)
		:plain
			$('div.talking_point_post_it[id="#{params[:talking_point_id]}"] div.favorite img').attr('src','/images/tp-star-g.gif');
	- when params[:action] == "vote_save"
		:plain
			$('div#proposal_vote').closest('div.ui-dialog').dialog('destroy').remove();
	- when params[:action] == "rate_talking_point"
		:plain
			$('div.talking_point_post_it[id="#{params[:talking_point_id]}"] div.my_rating').html('Rating saved');

:plain
	var msg = $("#{escape_javascript(
		render( :template => 'sign_in/acknowledge_preliminary_participation', :formats => [:html])
	)}");

	var dialog = msg.dialog( {title : 'Thank you for your contribution', modal : false, width : 'auto', closeOnEscape: true, close: function(){$(this).remove()} });
	var fade_time = #{ params[:action].match(/prefer/) ? 2500 : 1000}
	dialog.fadeTo(fade_time, 0, 'easeInExpo',
		function(){
			temp.this = this
				$(this).closest('div.ui-dialog').dialog('destroy').end().remove();
		}
	)	
