%div#sign_in_form
	%p.error= flash[:notice]
	= form_tag( {:action => 'sign_in'}, {:class=>'signin_form', :remote=>true}) do
		%table
			%tr
				%td
					%label{:for=>"email"} Email:
				%td#signin_msg{:rowspan=>6}
					%p
						If you have not already joined the 2029 and Beyond community at CivicEvolution, please
						-#= link_to 'Join our community', {}, {:class=>'join_our_community'}
						= link_to 'Register', {:controller=>'welcome'}, {:class=>'join_our_community', :rel=>'nofollow'}
						now.
				
			%tr		
				%td
					= text_field_tag :email, params[:email]
			%tr
				%td
					%label{:for=>"password"} Password:
			%tr		
				%td
					= password_field_tag :password, params[:password_field_tag]
			%tr
				%td
					= check_box_tag 'stay_signed_in', 'stay_signed_in', false, :onclick => 'warn_sign_in(this)'
					Stay signed in 
					%p.signin_warn.hide
						We'll keep you signed in
						%br
						Don't use this on a public computer
			%tr
				%td
					= submit_tag "Sign In"
					= link_to 'Reset password', {:controller=>'welcome'}, {:class=>'reset_password', :rel=>'nofollow'}
					= link_to 'Cancel', {:controller=>'welcome'}, {:class=>'cancel', :rel=>'nofollow'}
