- logger.debug "\n\n*************** Begin to render the plan page\n\n"
%div.page_content_div
	%style
		:sass
			div.team_entry
				div.resources.sky
					height: 72px
					margin-bottom: 0px
					div
						height: auto
						width: auto
						margin-right: 6px
						border: none
			div.mission
				div.intro_float
					float: left
					width: 240px
					ul
						margin-right: 20px
						padding-left: 20px						
						li.bold
							font-weight: bold
							margin-bottom: 12px
					p
						margin-right: 20px
					
				img
					float: left
			div.intro_how_to
				padding-right: 20px
				li
					margin-bottom: 8px
			p.vote
				text-align: center
				font-weight: bold
				font-size: 1.4em
	
	%div.home_page
		%div.left_side
			%div.book
				%div.spiral 
				%div.notebook.corner
					%div.homepage_intro
						%div.mission
							%h2 Bring out the Community in our College: Think Together to Act Together!
							%div.intro_float
								%ul
									%li.bold Student ideas to improve our campus and community. 
									%li.bold 4 Grants worth $6100 to fund them. 
									%li.bold Your participation and vote decides who wins.
								%p Groups of Skyline students have already come together to develop a community written and supported proposal for constructive change.
							
							= image_tag('sky/DSC_0379-280s.jpg')
							%p.clear_both


					%div.intro_how_to
						%h3 How to participate
						%p Helping is easy and rewarding and you will earn points for your participation.  Those who earn at least 1000 participation points will be submitted in a drawing for a gift certificate of $100!
						
						%p
							Everyone is invited to help answer What, Why, and How these proposals will improve our campus.
							We do this together by suggesting and rating the talking points that are the building blocks for a shared answer to each question.
						%ol
							%li 
								Select a proposal from the list below and click the link that says
								%b Help us make a difference 
							%li You'll see the questions and talking points that make up the proposal
							%li Click one of the questions to see the worksheet where you can work with others and earn points by:
							%ul
								%li Rate each talking point
								%li Ask questions about the talking points or suggest improvements
								%li Select up to 5 talking points you most prefer for each question  
								%li Suggest a talking point that can help provide a more complete answer to the question
								%li Edit the talking points created by others
								-#%li This process of suggesting, discussing, revising, rating, and preferring helps us to think together
							%li Invite others to participate by clicking on the link Invite Friends
							%li 
								Share this site to other students through Facebook and social media. Each proposal also has a 
								%b share 
								link.
						%p
							Click the link that says
							%b Help us make a difference 
							under the proposals that interests you.
						
						%h3 Vote for your favorite ideas
						%p Starting April 1, you will have $100 to allocate to your favorite project ideas.  The maximum allocation to one idea is $40.  Please utilize your full allocation. Your vote will help determine the winners of the 4 grants.  Winners will be announced Tuesday, May 1st after the live presentations of each project team.
							
						%p.vote
							= link_to "Vote now!", proposal_vote_path, {:remote=>true}

						%h3 Join us for the finale
						%p Join us live Tuesday, May 1st 2-5pm for the project presentations, food, fun and final vote.  Winners of the grants and the $100 participation gift certificate will be announced. 
															
				%p.clear_both
					
			%h2 Ideas proposed by your campus community		
			%p
				%b
					If you have a new idea that's not listed, 
					#{link_to 'suggest it now', {:controller=>:plan, :action=>:suggest_new_idea}, {:class=>'suggest_new_idea', :rel=>'nofollow', :remote=>false}}.
	
			-# i = 0		
			- @init_teams.each do |team|
				%div.book
					%div.spiral 
					%div.notebook.corner{:id=>team.team_id}
						%div.team_entry{:class=> cycle('stripe_bg','')}
							= link_to team.title, proposal_path(team.team_id), {:class=>'team_entry_title',:launched=>'t'}

							- if team.team_id == 10080 # show microwave pics
								- pics_array = ['10080-1','10080-2','10080-3','10080-4']
								%div.resources.sky
									- pics_array.each do |pic|
										= link_to "/images/sky/misc/#{pic}-lg.jpg", :rel=>'prettyPhoto', :title=>'Pictures related to this proposal' do
											%div= image_tag("sky/misc/#{pic}-sm.jpg")
								%p.clear_both
							
							%p.desc= team.solution_statement
							%p.controls
								%table.proposal_stats
									%tr
										%td= pluralize(team.participants, 'participant')
										%td= pluralize( (team.proposal_views + team.proposal_views_base), 'view')
										%td= pluralize(team.points_total, 'point')
								
									%tr
										%td= pluralize(team.comments, 'comment')
										%td= pluralize(team.talking_points, 'talking point')
										%td= pluralize(team.endorsements, 'endorsement')
							
							
							
								-# if team.comments.to_i == 0
									= link_to "Please start this conversation", proposal_path(team.id)
								-# else
									= pluralize(team.comments, 'comment') unless team.comments.to_i == 0
								-#= pluralize(team.bs_ideas, 'idea') unless team.bs_ideas.to_i == 0
								-#= pluralize(team.answers, 'answer') unless team.answers.to_i == 0
								-#= pluralize(team.talking_points, 'talking point')
							
							%p.controls
								= link_to "Help us make a difference", proposal_path(team.team_id)
								= link_to "Follow our progress", notification_settings_form_path(team.team_id), {:remote=>true}
							-#%p.controls
								-#%span 0 comments
								%span= pluralize( team['members'], 'member')
								-#%span active one day ago
								-#= link_to 'Visit team', {:controller=>'team',:action => 'proposal', :id=>team.id}, {:class=>'visit'}



							-#%abbr.timeago{:title=>comment.updated_at}= time_ago_in_words(comment.updated_at) + ' ago'
							-#	%span.rating_results Average score: #{ sprintf("%2.1f", score) } out of 5 with #{pluralize(count, 'vote')}
				-# i += 1
				-# break if i > 3 
			- if @init_teams.size > 0
				%p
					%b
						If you have a new idea that's not listed, 
						= link_to 'suggest it now.', {:controller=>:plan, :action=>:suggest_new_idea}, {:class=>'suggest_new_idea', :rel=>'nofollow', :remote=>false}
					

		%div.right_side
			= render :template => 'welcome/home_stats'

	%p.clear_both
	-#= render :partial => 'endorsements/endorsements', :locals=> {:print=>false}