= form_for( :answer, :url => { :action => :create_answer}, :html => {:class=>'add_answer_form'} ) do |form| 
	= form.hidden_field :anonymous, :value => 'false'
	= hidden_field_tag :par_id
	= hidden_field_tag :id
	= hidden_field_tag :mode, 'add'

	%div.add_answer
		= form.label :text, "Please suggest an answer"
		= form.text_area :text, :class=>'answer', :size=>"1x2", :alias=>'Answer'
		%div.control_line
			%div.controls
				%span.char_ctr 
					= question.answer_criteria.match(/..(\d+)/)[1]
					characters left
				%button Save
				= link_to 'Clear', {:action => 'index'}, {:class=>'clear'}
	%p.clear_both