= form_for( :bs_idea, :url => { :action => :create_brainstorm_idea}, :html => {:class=>'add_bs_idea_form'} ) do |form| 
	= form.hidden_field :question_id, :value => question.id
	= form.hidden_field :par_id, :value => question.item_id
	= hidden_field_tag :mode, 'add'
	= hidden_field_tag :idea_id

	%div.bs_idea_add

		%div.add_idea
			= form.label :text, "Add a new brainstorming idea"
			= form.text_area :text, :class=>'comment', :size=>"1x2", :alias=>'Idea'
			%div.control_line
				%div.controls
					%span.char_ctr 
						= question.idea_criteria.match(/..(\d+)/)[1]
						characters left
					%button Save
					= link_to 'Clear', {:action => 'index'}, {:class=>'clear', :rel=>'nofollow'}
