-#%div.answer{:id=>"ans_#{answer.id}"}= simple_format( auto_link( h(answer.text), :all, :target => "_blank" ))
%div.answer_section{:criteria=>question.answer_criteria}
	%div.rate
		%p= title

		%div.rating{:class=> is_def_ans ? 'hide' : ''}
			%div.results
				- if answer['my_vote'].to_i == 0
					%div.result_stars
						%div.bs_rating_grey_bg
						%div.bs_rating_red_bg
					%div.cnt= "Please rate"
				- else
					%div.result_stars
						%div.bs_rating_grey_bg
						%div.bs_rating_red_bg{:style=>"width: #{17 * answer['average'].to_i}px"}
					%div.cnt= "(#{pluralize(answer['count'], 'vote')})"


			- form_tag( {:controller => 'idea', :action => 'answer_rating'}, {:class => 'item_rater'} ) do
				%span.stars
					- ANSWER_RATING_OPTIONS_G.sort.each do |value ,title|	
						- if value.to_i == answer['my_vote'].to_i
							%input.star{:class => 'item_rater', :name => "bs_rating_#{answer.id}", :type => 'radio', :value => "#{value}", :title => "#{title}", :checked => 'true'}
						- else
							%input.star{:class => 'item_rater', :name => "bs_rating_#{answer.id}", :type => 'radio', :value => "#{value}", :title => "#{title}"}
				%p.clear_both
				%span.rating_results
					My rating
				%span.star_hover

	%div{:id=>"ans_#{answer.id}", :class=> is_def_ans ? "answer default" : "answer"}= simple_format( auto_link( h(answer.text), :all, :target => "_blank" ))
	%div.ans_comment_links
		- if is_def_ans # leave blank space
			%span 
		- else
			- if answer.ver.to_i == 0
				%span Original version
			- else
				%span Version #{answer.ver}
				= link_to "History", {:action=>'history', :id=>answer.id}, {:class=>'history'}
			= link_to "Report", {:action=>'report', :id=>answer['item_id']}, {:class=>'report'}
