%div.bs_idea.item{:id=>"bs_idea_#{bs_idea.id}", :item_id=>bs_idea.item_id}
	%a{:class=>'bs_idea_anchor', :name=>"bsi#{bs_idea.id}"}
	
	- if mode == 'fav' || mode == 'templ'
		%div.sort_ctl
			%div.sort.up
			%input.sort{:value=> bs_idea['fav_index'] }
			%div.sort.down	
	
	%div.bs_idea_inner
		- if bs_idea.publish.nil? || mode	== 'templ'
			%p.not_published
				Your brainstorming idea will not be visible to others until you 
				= link_to 'confirm', {:controller => "welcome", :action=> "request_confirmation_email"}, {:class => 'request_confirmation_email'}
				your email.
		
		%div.text.wordwrap
			= simple_format( auto_link( h(bs_idea.text), :all, :target => "_blank" ))

		-# top_level_comments_sorted = @comments.find_all {|c| c['par_id'].to_i == bs_idea.item_id && c.sib_id.to_i == 0}.sort {|a,b| a.order.to_i <=> b.order.to_i }
		-# @new_coms = @coms = 0
		-#%div.discussion
			- if coms == 't'
				%div.bsd_disc{:idea_item_id=>bs_idea.item_id}
					%h3.disc_title 
						Discuss this Idea
						= link_to 'Back to Q&A discussion', {:action=>'bsd', :id=>@question.id}, {:class=>'bsd', :rel=>'nofollow'}
	
					- if top_level_comments_sorted.size > 0
						- top_level_comments_sorted.each do |c|
							= render :partial=> 'comment', :object=>c 
						-#= render :partial=>'add_comment_combined', :locals=> {:id=>bs_idea.item_id, :label=>'Please add your comment'}
						%div.add_comment
						= link_to 'Back to Q&A discussion', {:action=>'bsd', :id=>@question.id}, {:class=>'bsd', :rel=>'nofollow'}
					- else
						%div.add_comment
						-#= render :partial=>'add_comment_combined', :locals=> {:id=>bs_idea.item_id, :label=>'Please add your comment'}

		%p.com_controls
			- if bs_idea['new_coms'] > 0
				- str = pluralize(bs_idea['new_coms'], 'new reply')
			- elsif bs_idea['coms'] > 0
				- str = pluralize(bs_idea['coms'], 'reply')
			- else
				- str = 'Reply'
			= link_to str, {:action=>'bs_idea_comment', :id=>bs_idea.id}, {:class=>'bs_idea_discussion', :rel=>'nofollow'}
			= link_to "Report", {:action=>'report', :id=>bs_idea.item_id}, {:class=>'report', :rel=>'nofollow'}
			
		- if mode	!= 'templ'
			- if mode == 'fav'
				- s_id = @popular_ideas.detect{|i| i.id == bs_idea.id}
				- if !s_id.nil?
					%p.status 
						\##{s_id['pop_index']} of #{@popular_ideas.size} popular ideas		
			
			- if bs_idea['my_fav'].nil?
				%div.rating
					= form_tag( {:controller => 'idea', :action => 'com_rate'}, {:class => 'mini_thumbs_up'}) do
						%span Add to your favorites?
						%input.vote_up{:type => 'submit', :name => 'thumbsup_favorite', :value => '+1', :title => "Add to my favorites"}
						%input.vote_down{:type => 'submit', :name => 'thumbsup_favorite', :value => '-1', :title => "Don't add to my favorites"}
						%input{:type => 'hidden', :name => 'thumbsup_id', :value => "#{bs_idea.id}" }
			- elsif mode == 'fav'
				%p.like_controls
					= link_to "Remove from my favorites", {:action=>'remove_favorite', :id=>bs_idea.id}, {:class=>'change_favorite', :rel=>'nofollow'}
			- elsif (mode =='pop' || mode == 'all') && bs_idea['my_fav'] == 'f'
				%p.like_controls.add
					= link_to "Add to my favorites", {:action=>'remove_favorite', :id=>bs_idea.id}, {:class=>'change_favorite', :rel=>'nofollow'}
			- elsif (mode =='pop' || mode == 'all')  && bs_idea['my_fav'] == 't'
				-#%p.like_controls.fav
					-#Your ##{ @favorite_ideas.detect{|i| i['id']== bs_idea.id}['fav_index']} favorite idea
				%p.like_controls.rem
					= link_to "Remove from my favorites", {:action=>'remove_favorite', :id=>bs_idea.id}, {:class=>'change_favorite', :rel=>'nofollow'}
			
		- else # include all the parts I need for the template
			%p.status 
				\#1 of 1 popular ideas		
			
			%div.rating
				= form_tag( {:controller => 'idea', :action => 'com_rate'}, {:class => 'mini_thumbs_up'}) do
					%span Add to your favorites?
					%input.vote_up{:type => 'submit', :name => 'thumbsup_favorite', :value => '+1', :title => "Add to my favorites"}
					%input.vote_down{:type => 'submit', :name => 'thumbsup_favorite', :value => '-1', :title => "Don't add to my favorites"}
					%input{:type => 'hidden', :name => 'thumbsup_id' }
					
			%p.like_controls.fav
				Your #1 favorite idea
					
			%p.like_controls.rem
				= link_to "Remove from my favorites", {:action=>'remove_favorite'}, {:class=>'change_favorite', :rel=>'nofollow'}
			%p.like_controls.add
				= link_to "Add to my favorites", {:action=>'add_favorite'}, {:class=>'change_favorite', :rel=>'nofollow'}
		
	%p.clear
