- mode = '' unless !mode.nil?
- resource = @resources.detect { |r| r.comment_id == comment.id }
- if comment.anonymous == 't'
	- name = 'Anonymous'
	- pic_src = '/images/members_default/36/m.jpg'
- else
	- member = @authors.detect {|a| a[:id] == comment.member_id }
	- if member
		- name = member[:first_name] + ' ' + member[:last_name]
		- pic_src = member.photo.url('36')
	- else
		- name = 'Author placeholder'
		- pic_src = ''
- @coms += 1
- @last_ts = Time.local(2010,1,20)
- if comment.created_at > @last_ts
	- class_str = 'entry Comment_entry new_com full_comment_display'
	- new_str = 1
	- @new_coms += 1
- elsif comment.updated_at > @last_ts
	- class_str = 'entry Comment_entry new_com full_comment_display'
	- new_str = 2
	- @new_coms += 1
- else
	- class_str = 'entry Comment_entry one_line_comment'
	- new_str = 0


%div{:class => (comment.sib_id.to_i > 0 ? 'item Comment sibling' : 'item Comment top_sibling'), :id => "i#{comment['item_id']}", :item_id => comment['item_id'] }
	%div{:class=>class_str, :id => "com_#{comment.id}" }
		%img{:src=>pic_src,:class=>'i36'}
		%div.comment
			-#- if new_str == 1
			-#	%span.new._comment New 
			-#- elsif new_str == 2
			-#	%span.new._comment Updated
				
			- if comment.publish.nil? && comment.status != 'prereview' || mode	== 'templ'
				%p.not_published
					Your comment will not be visible to others until you  
					= link_to 'confirm', {:controller => "welcome", :action=> "request_confirmation_email"}, {:class => 'request_confirmation_email'}
					your email.

			
			- comment.text = "... Hidden by author" if comment.publish == false
			- comment.text = "... Waiting for author's release" if comment.publish.nil? && comment.status == 'prereview'
			
			%div.comment_text= show_author_comment(name, member.ape_code, comment.text)
			- if !resource.nil?
				%div{:class => "resource #{resource.link_url ? 'link' : 'upload'}"}
					%h3.resource_title&= resource.title
					%p.resource_link
						- if resource.link_url
							= link_to resource.link_url, resource.link_url, {:target => '_blank', :class => 'resource_url' }
						-else
							- if resource.resource_content_type =~ /image/ && resource.resource.url(:small)
								= image_tag resource.resource.url(:small)
							= link_to resource.resource_file_name, resource.resource.url	, {:target => '_blank', :class => 'resource_upload' }
					%div.resource_description= simple_format h resource.description
			-#%div.close_1com
			
			
			%div.comment_controls
				- if comment.publish
					%div.rating
						- form_tag( {:controller => 'idea', :action => 'com_rate'}, {:class => 'mini_thumbs_up'}) do
							- comment.my_vote = 0 if comment.my_vote.nil?
							- if comment.my_vote.to_i == 0	# show the constructive prompt
								Is this constructive?
							%span{:class => 'votes_up'}
								= (!comment.up.nil? && comment.up.to_i > 0) ? comment.up : 0
							%input{:type => 'submit', :class => comment.my_vote.to_i < 0 ? 'vote_up other_selected' : 'vote_up ',	:name => 'thumbsup_rating', :value => '+1', :title => 'Vote up'}
							%input{:type => 'submit', :class => comment.my_vote.to_i > 0 ? 'vote_down other_selected' : 'vote_down ', :name => 'thumbsup_rating', :value => '-1', :title => 'Vote down'}
							%span{:class => 'votes_down'}
								= (!comment.down.nil? && comment.down.to_i > 0) ? comment.down : 0
				
							%input{:type => 'hidden', :name => 'thumbsup_id', :value => "#{comment.id}" }
				
				-# if comment.publish.nil? && comment.status != 'prereview' || mode	== 'templ'
					%p.not_published
						Your comment will not be visible to others until you  
						= link_to 'confirm', {:controller => "welcome", :action=> "request_confirmation_email"}, {:class => 'request_confirmation_email'}
						your email.

				%abbr{:class => comment.my_vote.to_i == 0 ? 'timeago' : 'timeago move_up', :title=>comment.created_at}= time_ago_in_words(comment.created_at) + ' ago'
 
				%div.comment_links
					- if comment.publish 
						= link_to "Reply", {:action=>'reply', :id => comment['item_id']}, {:class=>'reply'}
				
						- if comment.member_id == @member.id
							= link_to "Edit", {:action => "edit_comment", :id => comment.id}, {:class => 'edit_com'}
						- else
							= link_to "Report", {:action=>'report', :id=>comment['item_id']}, {:class=>'report'}


	- child_comments_sorted = @comments.find_all {|c| c['par_id'].to_i == comment['item_id'].to_i && c.sib_id.to_i == 0 }.sort {|a,b| a.order.to_i <=> b.order.to_i }
	- sibling_comments_sorted = @comments.find_all { |c| c.sib_id.to_i == comment['item_id'].to_i }.sort {|a,b| a.id.to_i <=> b.id.to_i }

	- child_comments_sorted.each do |c| 
		= render :partial=> 'comment', :object=>c
	
	- sibling_comments_sorted.each do |c| 
		= render :partial=> 'comment', :object=>c
