%div#endorsements	
	%h3 Endorsements
	%p.desc Here are the people that have endorsed this proposal.

	%table
		%tr
			%th{:colspan=>'2'} Name
			%th{:width=>'250px'} Comment
			%th{:width=>'100px'} When
		
		- endorsed = false	
		- @endorsements.each do |e|
			- m = @endorsers.detect{|m| m.id == e.member_id}
			%tr{:class=> cycle('','stripe'), :id=>m.ape_code}
				%td.pic
					- if !e.id.nil?
						%img{:src=> m.photo.url('36')} 
				%td.name
					%span.member& #{m.first_name} #{m.last_name}
				%td.text= simple_format( e.text )
				%td.time
					%abbr.timeago= time_ago_in_words(e.updated_at) + ' ago'
				- if m.id == @member.id
					- endorsed = true
					%td.delete
						= link_to 'Update', {:action => 'index'}, {:class=>'update_endorsement'}
						%br
						= link_to 'Delete', {:action => 'index'}, {:class=>'delete_endorsement'}
						
				
	- form_for( :endorse, :url => { :action => :create_answer}, :html => {:class=>'std_form' + ( endorsed ? ' hide' : '' )} ) do |form| 
		%p Show your support for this proposal by adding a short statement in this form and clicking the button			
		= hidden_field_tag :team_id, @team_id
		%div.add_answer
			%p
			= form.label :text, "My statement in support of this proposal"
			= form.text_area :text, :class=>'answer', :size=>"1x2", :alias=>'Answer'
			%div.control_line
				%div.controls
					%span.char_ctr 500 characters left
					%button I endorse this proposal
					= link_to 'Clear', {:action => 'index'}, {:class=>'clear'}
		%p.clear_both




%div.tab_windowX.hide{:id=>"tab_suggest_idea_COMMUNITY"}
	%h3 We invite you to suggest an idea to help our city region become more sustainable

	%p 
		All ideas need to meet these 
		%b ground rules 
		to be accepted and published:
	%ul
		%li Be legal
		%li Not be insulting of any individuals or groups
		%li Help create a more sustainable future for our city region in terms of our environment, economic development, social, and cultural affairs.
		%li Demonstrate effective use of rate payer funds, if appropriate


	%p 
		%a{:href=>'http://www.cgg.wa.gov.au/about-council/vision-strategy/2029-and-beyond-project/community-leadership', :target=>'_blank', :class=>'mission_link'}The Alliance Governance Group 
		promises to review and respond to all actionable proposals that meet their guidelines
		for relevance, completeness, evidence, and community support.

	%p 
		In short, anyone can suggest an idea, but the Alliance Governance Group
		will only review ideas that have been developed into actionable
		proposals.

	%p 
		Proposals must meet these 
		%b guidelines 
		to earn official review:	

	%ul
		%li Comply with the general ground rules
		%li Answer all questions in the proposal outline
		%li Work in a team with at least 4 active residents of the city region
		%li Maintain an open and inclusive team
		%li Ensure a respectful team environment
		%li Engage in adequate discussion, collaboration and consensus on each question
		%li Openly communicate with the community via online public access as well as community outreach, and demonstrate appropriate consideration of feedback				

	-#%p This opportunity to be reviewed requires you to earn your
	-#	review by meeting the following guidelines. This website will help you each
	-#	step of the way.
	%p If you are committed to your idea, this website can help you form a team and develop your proposal.

	- form_for( :proposal_idea, :url => { :controller=> :team, :action => :submit_proposal_idea}, :html => {:class=>'suggest_proposal_idea_form'} ) do |form| 
		%div.add_idea
			= form.label :title, "Idea title"
			= form.text_field :title, :class=>'title', :alias=>'Title'
			%div.control_line.title
				%div.controls
					%span.char_ctr 255 characters left
			

			= form.label :text, "Please summarise your idea to improve our sustainability"
			= form.text_area :text, :class=>'comment', :size=>"1x2", :alias=>'Proposal idea'
			%div.control_line
				%div.controls
					%span.char_ctr 
						1000
						characters left
						= link_to 'Clear', {:action => 'index'}, {:class=>'clear'}

			%p.acknowledge
				%input{:type=>'checkbox', :name=>'accept_guidelines', :value=>'true', :alias=>'You'}
				I agree to the ground rules guidelines above. I understand my idea will be reviewed for relevance before it is published.
			%p
				= submit_tag "Submit idea", :name=>'submit_idea', :alias=>'Please'
