%div#endorsements	
	%h2 Endorsements
	
	- if @endorsements.size == 0
		%p.desc No one has endorsed this proposal yet.
	- else
		%p.desc Here are the people that have endorsed this proposal.


	%table
		%tr
			%th{:colspan=>'2'} Name
			%th Comment
			%th When
		- endorsed = false	
		- @endorsements.each do |e|
			- m = @endorsers.detect{|m| m.id == e.member_id}
			%tr{:class=> cycle('','stripe'), :id=>m.ape_code}
				%td.pic
					- if !e.id.nil?
						%img{:src=> m.photo.url('36')} 
				%td.name
					%span.member& #{m.first_name} #{m.last_name}
				%td.text= simple_format( e.text )
				%td.time
					%abbr.timeago{:title=>e.updated_at}= time_ago_in_words(e.updated_at) + ' ago'
				- if m.id == @member.id
					- endorsed = true
					%td.delete
						= link_to 'Update', {:action => 'index'}, {:class=>'update_endorsement'}
						%br
						= link_to 'Delete', {:action => 'index'}, {:class=>'delete_endorsement'}
			
				
	= form_for( :endorse, :url => { :action => :create_answer}, :html => {:class=>'std_form' + ( endorsed ? ' hide' : '' )} ) do |form| 
		%p Show your support for this proposal by adding a short statement in this form and clicking the button			
		= hidden_field_tag :team_id, @team_id
		%div.add_answer
			%p
			= form.label :text, "My statement in support of this proposal"
			= form.text_area :text, :class=>'answer', :size=>"1x2", :alias=>'Answer'
			%div.control_line
				%div.controls
					%span.char_ctr 500 characters left
					%button I endorse this proposal
					= link_to 'Clear', {:action => 'index'}, {:class=>'clear', :rel=>'nofollow'}
		%p.clear
%p.clear

