%div#submit
	%h3 Proposal review and submission
	- sponsor = @team.initiative_id == 1 ? 'Executive Management Team' : 'Alliance Governing Group';
	%p.desc
		The participants and the idea originator can submit this idea proposal for review by the Alliance Governing Group whenever 
		they think the idea has been developed well enough to meet the 
		= link_to 'guidelines', {}, {:class=>"2029_guidelines", :init_id=>@team.initiative_id} 
		for the review eligibility. We strongly recommend that you request a pre-submission review from CivicEvolution before submitting
		your proposal to the #{sponsor}. Please use the links below to request a review and/or submit your  proposal
		
	%p
		= link_to 'Request pre-submission review', {}, {:class=>"pre_review_proposal"} 
		(Recommended)
	%p= link_to "Submit this proposal to the #{sponsor}", {}, {:class=>"submit_proposal"} 
