- if !@error.nil?
	%p= @error
- else

%div.qa_bsd	
	%h3.question
		= 'Q: ' + @question.text
		= link_to 'Back to the proposal page', {:action=>'index', :id=>@question.team_id, :anchor=> "q#{@question.id}"}, {:class=>'back_to_proposal'}
		

	%div.bsd
		%div.brainstorming 
			%h3 Explore this Brainstorming idea
			= render :partial=> 'bs_idea', :object=>@bs_idea, :locals=>{:mode=>'new', :coms=>'f'}

		%div.gen_discussion
			- top_level_comments_sorted = @comments.find_all {|c| c['par_id'].to_i == @bs_idea.item_id.to_i && c.sib_id.to_i == 0}.sort {|a,b| a.order.to_i <=> b.order.to_i }
			%div.discussion
				%div.bsd_disc
					%h3.disc_title 
						Discuss this Idea
						= link_to 'Back to Q&A discussion', {:action=>'bsd', :id=>@question.id}, {:class=>'bsd'}
	
					- if top_level_comments_sorted.size > 0
						- top_level_comments_sorted.each do |c|
							= render :partial=> 'comment', :object=>c 
						= link_to 'Back to Q&A discussion', {:action=>'bsd', :id=>@question.id}, {:class=>'bsd'}
	


	%div.ans
		%h3 Answer
		- if @answers.size > 0
			- @answers.each do |a|
				-# sort the answers
				%div.answer{:id=>"ans_#{a['id']}"}= simple_format( auto_link( h(a['text']), :all, :target => "_blank" ))

		- else
			%p No answers have been suggested for this question

		= link_to 'Back to the proposal page', {:action=>'index', :id=>@question.team_id, :anchor=> "q#{@question.id}"}, {:class=>'back_to_proposal'}
