- @team = Team.new(:com_criteria=>'4..7', :res_criteria=>'3..8')
- if !@error.nil?
	%p= @error
- else
%div.qa_bsd	
	- if @mode == 'page'
		%h3.question
			= 'Q: ' + @question.text
			= link_to 'Back to the proposal page', {:action=>'index', :id=>@question.team_id, :anchor=> "q#{@question.id}"}, {:class=>'back_to_proposal'}
		

	%div.bsd
		%div.bsd_bar
			%h3 Brainstorm and discuss the answer
			%a{:href=>"#", :class=>'bsd_close'} Close
		%div.bsd_instr
			%p
				Your community can find a shared answer to this question by following these steps:
				= link_to "Tell me more", {:id=>'brainstorm'}, {:class=>'tell_me_more'}
			%ol
				%li 
					Brainstorm new ideas and discuss them.
					= link_to "Show me how", {:id=>'brainstorm'}, {:class=>'show_me_how'}
				%li 
					Collect your favorite ideas and prioritise them.
					= link_to "Show me how", {:id=>'favorites'}, {:class=>'show_me_how'}
				%li 
					Explore the ideas that people agree on and use them to answer this question.
					= link_to "Show me how", {:id=>'explore'}, {:class=>'show_me_how'}
		
			%p.rec_action
				%b Recommended action: 
				Review the new brainstorming ideas and add your own
				= link_to "Show me how", {:id=>'rec_action'}, {:class=>'show_me_how'}
				= link_to "Next action", {:id=>'rec_action'}, {:class=>'next_action'}
		
		%div.brainstorming 
			%h3 Brainstorming ideas
			
			- @unrated_ideas = @bs_ideas.select{|i| i['my_fav'].nil? }.sort {|a,b| a['id'].to_i <=> b['id'].to_i }.each_with_index{ |i, idx| i['cnt'] = idx + 1 }
			- @popular_ideas = @bs_ideas.select{|i| i['num_favs'].to_i > 0 }.sort{|a,b| b['num_favs'].to_i <=> a['num_favs'].to_i }.each_with_index{ |i, idx| i['cnt'] = idx + 1 }

			-# - @favorite_ideas = @bs_ideas.select{|i| i['my_fav'] == 't' }.sort{|a,b| b['num_favs'].to_i <=> a['num_favs'].to_i }.each_with_index{ |i, idx| i['cnt'] = idx + 1 }
			- @favorite_ideas = @bs_ideas.select{|i| i['my_fav'] == 't' }
			- # get the unprioritized favs (in order by idea.id)
			- unprioritised = @favorite_ideas.select{ |f| !@priority.include?(f.id) }.sort{ |a,b| a.id <=> b.id }

			- # Get the prioritized favs in order of priority
			- @priority.map!{ |p| @favorite_ideas.detect{|f| f.id == p }}
			- # show the unprioritized favs then the prioritized favs
			- @favorite_ideas = (unprioritised + @priority.map).find_all{|f| !f.nil?}
			- @favorite_ideas.each_with_index{ |i, idx| i['cnt'] = idx + 1 } 
		
			

			%p.idea_lists
				= link_to "Most popular", {:action=>'bs_idea_list', :id=>@question.id, :list=>'pop'}
				•
				= link_to "New(#{@unrated_ideas.size})", {:action=>'bs_idea_list', :id=>@question.id, :list=>'new'}
				•
				= link_to "My favorites", {:action=>'bs_idea_list', :id=>@question.id, :list=>'fav'}
				•
				= link_to "All", {:action=>'bs_idea_list', :id=>@question.id, :list=>'all'}
				

				%div.list.pop	
					-#%h4 Most popular ideas	
					- @popular_ideas.slice(0,10).each do |bsi|
						= render :partial=> 'bs_idea', :object=>bsi, :locals=>{:mode=>'pop', :coms=>'t'}
					- if @bs_ideas.size == 0
						%p No ideas suggested yet, be the first to suggest an idea about this question
					- elsif @popular_ideas.size == 0 
						%p.empty There are no popular ideas yet
				
					
				%div.list.new.hide
					-#%h4 New ideas
					- @unrated_ideas.each do |bsi|
						= render :partial=> 'bs_idea', :object=>bsi, :locals=>{:mode=>'new', :coms=>'t'}
					- if @unrated_ideas.size == 0
						%p.empty There are no new ideas right now
					
				%div.list.fav.hide
					-#%h4 My favorite ideas
					%div.list_inner
						- @favorite_ideas.each do |bsi| #@favorite_ideas.slice(0,8).each do |bsi|
							= render :partial=> 'bs_idea', :object=>bsi, :locals=>{:mode=>'fav', :coms=>'t'}
						- if @favorite_ideas.size == 0
							%p.empty You do not have any favorites yet, please review the new ideas or suggest an idea about this question

				%div.list.all.hide
					-#%h4 All of the brainstorming ideas
					- @bs_ideas.slice(0,25).sort{|a,b| a.id <=> b.id}.each do |bsi|
						= render :partial=> 'bs_idea', :object=>bsi, :locals=>{:mode=>'all', :coms=>'t'}
					- if @bs_ideas.size == 0
						%p.empty No ideas suggested yet, be the first to suggest an idea about this question
						
			= render :partial=>'add_bs_idea', :locals=> {:question=>@question}

		%div.gen_discussion
			%div.discussion.qna
				%h3 Discuss this Q&A and ideas
				
				%div.inner_question_discussion
				
					- top_level_comments_sorted = @comments.find_all {|c| c['par_id'].to_i == @question.item_id && c.sib_id.to_i == 0 && c['target_type'].to_i == 0}.sort {|a,b| a.order.to_i <=> b.order.to_i }
					- if top_level_comments_sorted.size > 0
						- top_level_comments_sorted.each do |c|
							= render :partial=> 'comment', :object=>c
					- else
						%p There are no comments yet, why don't you start the conversation?
					
				= render :partial=>'add_comment_combined', :locals=> {:id=>@question.item_id, :label=>'Please add your comment'}
	
		%div.clear
	- if @mode == 'page'
		%div.ans 
			%h3 Answer
			- if @answers.size > 0
				- @answers.each do |a|
					-# sort the answers
					%div.answer{:id=>"ans_#{a['id']}"}= simple_format( auto_link( h(a['text']), :all, :target => "_blank" ))

			- else
				%p No answers have been suggested for this question

			= link_to 'Back to the proposal page', {:action=>'index', :id=>@question.team_id, :anchor=> "q#{@question.id}"}, {:class=>'back_to_proposal'}

			
	- ans_id = !@answers.nil? && @answers.size > 0 ? @answers[0].id : @question.id		
	%div.bsd_bar.bottom
		-#%a{:href=>"#", :class=>'edit'} Edit answer
		= link_to "Edit answer", {:action => "edit_answer", :id => ans_id}, {:class => 'edit_answer'}	
		%a{:href=>"#", :class=>'history'} View answer history
		%a{:href=>"#", :class=>'checklist'} Answer checklist
		%a{:href=>"#", :class=>'bsd_close'} Close
	