- @team = Team.new(:com_criteria=>'4..7', :res_criteria=>'3..8')
- if !@error.nil?
	%p= @error
- else
%div.qa_bsd	
	- if @mode == 'page'
		%h3.question
			= 'Q: ' + @question.text
			= link_to 'Back to the proposal page', {:action=>'index', :id=>@question.team_id, :anchor=> "q#{@question.id}"}, {:class=>'back_to_proposal', :rel=>'nofollow'}
		

	%div.bsd
		%div.bsd_bar
			%h3 Brainstorm and discuss the answer
			%a{:href=>"#", :class=>'bsd_close', :rel=>'nofollow'} Close
		%div.bsd_instr
			%p
				Your community can find a shared answer to this question by following these steps:
				= link_to "Tell me more", {:id=>'shared'}, {:class=>'show_me_how', :rel=>'nofollow'}
			%ol
				%li 
					Brainstorm new ideas about this question
					= link_to "Tell me how", {:id=>'brainstorm'}, {:class=>'show_me_how', :rel=>'nofollow'}
				%li 
					Discuss the brainstorming ideas
					= link_to "Tell me how", {:id=>'discuss'}, {:class=>'show_me_how', :rel=>'nofollow'}

				%li 
					Collect your favorite ideas and prioritise them to find out what is popular
					= link_to "Tell me how", {:id=>'favorites'}, {:class=>'show_me_how', :rel=>'nofollow'}
				%li 
					Explore the popular ideas that expose common ground on and use them to answer this question
					= link_to "Tell me how", {:id=>'explore'}, {:class=>'show_me_how', :rel=>'nofollow'}
		
			%p.rec_action
				%b Recommended action: 
				Brainstorm ideas about this question and review any new ideas
				-#= link_to "Show me how", {:id=>'rec_action'}, {:class=>'show_me_how', :rel=>'nofollow'}
				-#= link_to "Next action", {:id=>'rec_action'}, {:class=>'next_action', :rel=>'nofollow'}
		
			-# build all the idea discussions so i can display them if needed
		%div.idea_comments
			- @bs_ideas.each do |bsi|
				- top_level_comments_sorted = @comments.find_all {|c| c['par_id'].to_i == bsi.item_id && c.sib_id.to_i == 0}.sort {|a,b| a.order.to_i <=> b.order.to_i }
				- @new_coms = @coms = 0
				%div{:id=>"idea_discussion_#{bsi.id}"}
					%div.bsd_disc{:id=>bsi.id, :idea_item_id=>bsi.item_id}
						%h3.disc_title 
							Discuss this Idea
							= link_to 'Back to Q&A discussion', {:action=>'bsd', :id=>@question.id}, {:class=>'bsd', :rel=>'nofollow'}

						- if top_level_comments_sorted.size > 0
							- top_level_comments_sorted.each do |c|
								= render :partial=> 'comment', :object=>c 
							%div.add_comment
							= link_to 'Back to Q&A discussion', {:action=>'bsd', :id=>@question.id}, {:class=>'bsd close', :rel=>'nofollow'}
						- else
							%div.add_comment
				- bsi['coms'] = @coms
				- bsi['new_coms'] = @new_coms
		-# Determine which list I want to build and get the correct set of ideas and data
		- mode = 'pop' # new|fav|all

		- @favorite_ideas = @bs_ideas.select{|i| i['my_fav'] == 't' }
		- # get the unprioritized favs (in order by idea.id)
		- unprioritized_ideas = @favorite_ideas.select{ |f| !@priority.include?(f.id) }.sort{ |a,b| a.id <=> b.id }
		- # Get the prioritized favs in order of priority
		- @prioritized_ideas = @priority.map{ |p| @favorite_ideas.detect{|f| f.id == p }}
		- # show the unprioritized favs then the prioritized favs
		- @favorite_ideas = (unprioritized_ideas + @prioritized_ideas).find_all{|f| !f.nil?}
		- @favorite_ideas.each_with_index{ |i, idx| i['cnt'] = idx + 1 } 
		
		- case mode
			- when 'pop'
				- ideas = @bs_ideas.select{|i| i['num_favs'].to_i > 0 }.sort{|a,b| b['num_favs'].to_i <=> a['num_favs'].to_i }.each_with_index{ |i, idx| i['cnt'] = idx + 1 }
			- when 'new'
				- ideas = @bs_ideas.select{|i| i['my_fav'].nil? }.sort {|a,b| b['id'].to_i <=> a['id'].to_i }.each_with_index{ |i, idx| i['cnt'] = idx + 1 }
			- when 'fav'
				- ideas = @favorite_ideas
			- when 'all'
				- ideas = @bs_ideas.sort{|a,b| b['id'].to_i <=> a['id'].to_i }.each_with_index{ |i, idx| i['cnt'] = idx + 1 }
				
		%div.brainstorming 
			
			%h3{:class=> mode == 'pop' ? 'list_title pop' : 'list_title pop hide'} Most popular ideas
			%h3{:class=> mode == 'new' ? 'list_title new' : 'list_title new hide'} New ideas
			%h3{:class=> mode == 'fav' ? 'list_title fav' : 'list_title fav hide'} My favorite ideas
			%h3{:class=> mode == 'all' ? 'list_title all' : 'list_title all hide'} All brainstorming ideas

			%p.idea_lists
				= link_to "Most popular", {:action=>'bs_idea_list', :id=>@question.id, :list=>'pop'}, {:rel=>'nofollow', :class=> mode == 'pop' ? 'hide' : ''}
				= link_to "New(#{ @bs_ideas.select{|i| i['my_fav'].nil? }.size })", {:action=>'bs_idea_list', :id=>@question.id, :list=>'new'}, {:rel=>'nofollow', :class=> mode == 'new' ? 'hide' : ''}
				= link_to "My favorites", {:action=>'bs_idea_list', :id=>@question.id, :list=>'fav'}, {:rel=>'nofollow', :class=> mode == 'fav' ? 'hide' : ''}
				= link_to "All", {:action=>'bs_idea_list', :id=>@question.id, :list=>'all'}, {:rel=>'nofollow', :class=> mode == 'all' ? 'hide' : ''}
			

			%div{:class=> mode == 'pop' ? 'instr pop' : 'instr pop hide'}
				%p.list_instr Here are the most popular ideas with the participants. These represent your common ground for finding an answer to this question.

			%div{:class=> mode == 'new' ? 'instr new' : 'instr new hide'}
				%p.list_instr Please review and discuss these new ideas. Give your favorite ideas a thumbs up, and give a thumbs down to the others.

			%div{:class=> mode == 'fav' ? 'instr fav' : 'instr fav hide'}
				%p.list_instr Please keep your favorite ideas prioritised and remove old ones you don't support anymore. We compare everyone's favorites to find the most popular ideas.

			%div{:class=> mode == 'all' ? 'instr all' : 'instr all hide'}
				%p.list_instr Here are all of the brainstorming ideas about this question.


			%div.list_inner	
				- ideas.each do |bsi|
					= render :partial=> 'bs_idea', :object=>bsi, :locals=>{:mode=>mode, :coms=>'t'}
					

			%div.status
				%p{:class=> @bs_ideas.size == 0 ? 'empty' : 'empty hide'} No brainstorming ideas have been suggested yet, be the first to suggest an idea about this question
				%p{:class=> mode == 'pop' && ideas.size == 0 && @bs_ideas.size != 0  ? 'pop' : 'pop hide'} There are no popular ideas yet
				%p{:class=> mode == 'new' && ideas.size == 0 && @bs_ideas.size != 0  ? 'new' : 'new hide'} There are no new ideas right now
				%p{:class=> mode == 'fav' && ideas.size == 0 && @bs_ideas.size != 0  ? 'fav' : 'fav hide'} You do not have any favorites yet, please review the new ideas or suggest an idea about this question
				%p{:class=> mode == 'all' && ideas.size == 0 && @bs_ideas.size != 0  ? 'all' : 'all hide'} 

			%div.insert_new_ideas	
		
			= render :partial=>'add_bs_idea', :locals=> {:question=>@question}

		%div.gen_discussion
			%div.discussion.qna
				%h3 Discuss this Q&A and ideas
				
				%div.inner_question_discussion
				
					- top_level_comments_sorted = @comments.find_all {|c| c['par_id'].to_i == @question.item_id && c.sib_id.to_i == 0 && c['target_type'].to_i == 0}.sort {|a,b| a.order.to_i <=> b.order.to_i }
					- if top_level_comments_sorted.size > 0
						- top_level_comments_sorted.each do |c|
							= render :partial=> 'comment', :object=>c
					- else
						%p There are no comments yet, why don't you start the conversation?
					
				= render :partial=>'add_comment_combined', :locals=> {:id=>@question.item_id, :label=>'Please add your comment'}
	
		%div.clear
	- if @mode == 'page'
		%div.ans 
			%h3 Answer
			- if @answers.size > 0
				- @answers.each do |a|
					-# sort the answers
					%div.answer{:id=>"ans_#{a['id']}"}= simple_format( auto_link( h(a['text']), :all, :target => "_blank" ))

			- else
				%p No answers have been suggested for this question

			= link_to 'Back to the proposal page', {:action=>'index', :id=>@question.team_id, :anchor=> "q#{@question.id}"}, {:class=>'back_to_proposal', :rel=>'nofollow'}

			
	- ans_id = !@answers.nil? && @answers.size > 0 ? @answers[0].id : @question.id		
	%div.bsd_bar.bottom
		-#%a{:href=>"#", :class=>'edit'} Edit answer
			= link_to "Edit answer", {:action => "edit_answer", :id => ans_id}, {:class => 'edit_answer', :rel=>'nofollow'}	
			%a{:href=>"#", :class=>'history', :rel=>'nofollow'} View answer history
			= link_to "Answer guidelines and checklist", {:id=>'checklist'}, {:class=>'show_me_how', :rel=>'nofollow'}
			-#%a{:href=>"#", :class=>'checklist', :rel=>'nofollow'} Answer checklist
		%a{:href=>"#", :class=>'bsd_close', :rel=>'nofollow'} Close

:javascript
	var bs_ideas = #{@bs_ideas.to_json}
	var bs_ideas_priority = #{@priority.to_json}