%div#email_participants
	%h2 Please select the recipients of this message
	- if @member.id == 0
		%p You can email them this link: http://#{@host}/idea/#{params[:id]}
		%p If you sign in or register, we can send this link directly to your friends for you.
	- else
		%p The email addresses you enter here will be used just one time to send this email

		= form_tag( { :controller=> :team, :action => :invite_friends}, {:class=>'email_participants std_form'} ) do
			= hidden_field_tag :team_id, params[:team_id]
			= hidden_field_tag :send_now
			= hidden_field_tag :act, 'preview'
			= hidden_field_tag :recaptcha_challenge
			= hidden_field_tag :recaptcha_response
		
		
			%div.recipients
				%p    
					#{@email_recipients.size} recipients
					-#=link_to 'Select all', {},{:class=>'select_all'}
					-#=link_to 'Unselect all', {},{:class=>'unselect_all'}
				%table#participants.tablesorter
					%thead
						%tr{:class=> cycle('stripe','')}
							%th	Email to
							%th Name
							%th.ctr Participant
							%th.ctr Endorser
					%tbody
						- @email_recipients.each do |m|
							%tr{:class=> cycle('','stripe')}
								%td
									= check_box_tag 'recip_ids[]', "#{m.ape_code}", false
								%td #{m.first_name} #{m.last_name}
								%td.ctr 
									= "•" unless !m['participant']	
								%td.ctr
									= "•" unless !m['endorser']	
				-#= hidden_field_tag :recip_ids, recip_ids.join(',')
		
		
			%div.add_idea
				%p Subject: #{@member.first_name} #{@member.last_name} has sent you a message about a 2029 and Beyond idea proposal

				%p
					Hello
					%i Recipient's first name
				
				%label Please enter an encouraging message
				= text_area_tag :message, nil, :class=>'comment', :size=>"1x2", :alias=>'Email message'
				%div.control_line
					%div.controls
						%span.char_ctr 
							1000
							characters

			%p
				= submit_tag "Preview and send", :name=>'invite_friends', :alias=>'Please'
				= link_to 'Cancel', {:action => 'index'}, {:class=>'cancel'}

:javascript
	console.log("javascript for email_participants");

	$.tablesorter.addWidget({
		// give the widget a id
		id: "re_zebra",
		// format is called when the on init and when a sorting has finished
		format: function(table) {                               
			// loop all tr elements and set the value for the first column  
			for(var i=0; i <= table.tBodies[0].rows.length; i++) {
				var tr = $("tbody tr:eq(" + (i - 1) + ")",table);
				if(i%2){
					tr.removeClass('stripe');
				}else{
					tr.addClass('stripe');
				}
			}                                                               
		}
	});

	function activate_email_participants_form(form){
		console.log("activate_email_participants_form");
		activate_text_counters_grow( $('textarea',form),100 );
		
		$('a.cancel',form).click(
			function(){
				try{
					console.log("Cancel email_participants_form");
					$(this).closest('div.ui-dialog').dialog('destroy').remove();
				}catch(e){
					console.log("activate email_participants_form cancel error: "+ e)
				}
				return false;
			}
		);

		$(':submit', form).click(
			function(){
				try{
			 		console.log("Submit the email_participants form");

					var form = $(this).closest('form');
					var btn = $(this);

					if($(':checked', form).size() == 0){
						form.find('table').addClass('form_error_border').before('<p class="form_error_text">Please select at least one recipient</p>')
						return false;
					}

					//  or 			var btn = $('input[type="submit"]',form);

					btn.attr('disabled',true).after('<img src="/assets/rotating_arrow.gif"/>')

					$(':input,table',form).removeClass('form_error_border');
					$('p.form_error_text',form).remove();

					form.ajaxSubmit({ 					
					  type: "POST", 
						url: 'http://' + document.location.host + '/idea/email_participants',
					  success: function(data,status){ 
							if($('input[name="send_now"]', form).val() == 'true'){
								// clear preview and acknowledge email was sent
								$('input[name="send_now"]', form).val('');
								$('input[name="act"]', form).val('preview');
								var dialog = $('<div>' + data + '</div>').dialog( {title : 'Thank you', modal : true, width: 500 }); 
								// find and remove the preview dialog
								preview_dialog.dialog('destroy').remove();
								form.closest('div.ui-dialog').dialog('destroy').remove();
							}else{
								preview_dialog = $('<div>' + data + '</div>').dialog( {title : 'Please preview your email', modal : true, width: 500,
										close: function(){ 	$('input[name="send_now"]', form).val('') } }); 
								preview_dialog.find('a.make_changes').click(
									function(){
										preview_dialog.remove();
										$('input[name="send_now"]', form).val('')
										return false;
									}
								)
								preview_dialog.find('button').click(
									function(){
										console.log("send this email now")
										//dialog.remove();
										$('input[name="send_now"]', form).val('true')
										btn.removeAttr('disabled').next('img').remove();
										//show_recaptcha( form, false )
										//invite_friends(form);
										preview_dialog.dialog('destroy').remove();
										$('input[name="send_now"]', form).val('true');
										$('input[name="act"]', form).val('send');
									 	$('input[type="submit"]',form).click();
										return false;
									}
								)
							}
							btn.removeAttr('disabled').next('img').remove();
					  },
						error : function(xhr,errorString,exceptionObj){
							console.log("Error email_participants, xhr: " + xhr.responseText)
							try{
								if(xhr.responseText.match(/Captcha failed/) ){
									//console.log("try recaptcha again")
									show_recaptcha( form, true )
									btn.removeAttr('disabled').next('img').remove();
									return false;
								}
								show_form_error(form,xhr.responseText)
								//$("input[name='first_name']",form).before('<p class="form_error_text">' + xhr.responseText + "</p>")
								btn.removeAttr('disabled').next('img').remove();
							}catch(e){
								console.log("email_participants submit error: " + e)
								$('<div><p>Sorry, we cannot process your invitation request at this time</p><p>We have been notified of this error and we will look into it soon.</p></div>').dialog( {title : 'Warning', modal : true } )
								btn.removeAttr('disabled').next('img').remove();
							}
						}
					});
				}catch(e){console.log("submit email_participants form error: " + e.message)}
				return false;
			}
		);
	}
	