%div#email_participants
	%h2 Please select the recipients of this message
	- if @member.id == 0
		%p You can email them this link: http://#{@host}/idea/#{params[:id]}
		%p If you sign in or register, we can send this link directly to your friends for you.
	- else
		%p The email addresses you enter here will be used just one time to send this email

		= form_tag( { :controller=> :team, :action => :invite_friends}, {:class=>'invite_friends std_form'} ) do
			= hidden_field_tag :team_id, params[:id]
			= hidden_field_tag :send_now
			= hidden_field_tag :act, 'preview'
			= hidden_field_tag :recaptcha_challenge
			= hidden_field_tag :recaptcha_response
		
		
			%div.recipients
				%p    
					#{@email_recipients.size} recipients
					-#=link_to 'Select all', {},{:class=>'select_all'}
					-#=link_to 'Unselect all', {},{:class=>'unselect_all'}
				%table
					%tr
						%th	Email to
						%th Name
						%th.ctr Participant
						%th.ctr Endorser
					- @email_recipients.each do |m|
						%tr
							%td
								= check_box_tag 'recip_ids[]', "#{m.ape_code}", false
							%td #{m.first_name} #{m.last_name}
							%td.ctr 
								= "•" unless !m['participant']	
							%td.ctr
								= "•" unless !m['endorser']	
				-#= hidden_field_tag :recip_ids, recip_ids.join(',')
		
		
			%div.add_idea
				-#%label 
				-#	Please enter your friend's names and email addresses
				-#	= link_to "How", {:id=>'invite_emails'}, {:class=>'show_me_how', :rel=>'nofollow'}
				-#= text_area_tag :recipient_emails, nil, :class=>'comment', :size=>"1x2", :alias=>'Recipient emails'
				-#%div.control_line
					%div.controls
						%span.char_ctr 
							1000
							characters left
				%p Subject: #{@member.first_name} #{@member.last_name} thinks you should check out this community proposal
			
				%label Please enter an encouraging message
				= text_area_tag :message, nil, :class=>'comment', :size=>"1x2", :alias=>'Email message'
				%div.control_line
					%div.controls
						%span.char_ctr 
							1000
							characters left

			%p
				= submit_tag "Preview and send", :name=>'invite_friends', :alias=>'Please'
				= link_to 'Cancel', {:action => 'index'}, {:class=>'cancel'}

