

%div.idea_page
	- org = @mems.detect{|m| m.id == @team.org_id}
	%h3
		%img{:src=>org.photo.url('36'),:class=>'i36'}
		#{org.first_name} #{org.last_name} suggested this idea for change in the community:
	%h2.home_title 
		%span #{@team.title}
		- if @member.id == @team.org_id
			= link_to "edit", {:action => "edit_proposal_idea", :id => @team.id}, {:class => "edit_in_place [{form_tgt_selector: '.closest(\\'h2\\')', selector: '.parent().find(\\'span\\')', chr_cnt: 255, label: 'Please edit the title', url: '/idea/inline_edit?model=team&field=title&id=#{@team_id}' }]"}

	%div.summary
		- if @member.id == @team.org_id
			= simple_format( h @team.solution_statement ).sub(/<\/p>$/, ' ' + (link_to "edit", {:action => "edit_proposal_idea", :id => @team.id}, {:class => "edit_in_place [{selector: '.closest(\\\\'div.summary\\\\')', chr_cnt: 1000, label: 'Please edit the summary', url: '/team/inline_edit?model=team&field=solution_statement&id=#{@team_id}' }]"} ) + '</p>')
		- else
			= simple_format h @team.solution_statement

	%p.intro
		#{org.first_name}'s idea is just a start&mdash;a real solution needs a plan for action and community support.
		A plan for action answers 4 questions about this idea for change: What, Why, How, and What are the next steps.
		The challenge is to find answers to these questions that most community members can accept.
		
	%p.intro
		Finding these shared answers will take some work, so we've tried to make this fun and interesting for you.
		You'll need to bring your best ideas, along with your openness, honesty and respect for your neighbors.
		
	%p.intro.cta
		- if @member.id != 0
			%b
				#{@member.first_name},
				will you help?
			Click the 
			%b Speak up 
			button below each question to get started.	
		- else
			%b
				Will you help?
			Click the 
			%b Speak up 
			button below each question to get started.	
			
	-	q_cnt = 0
	- page_items = @items.find_all {|pi| pi.o_type == 9 } .sort {|a,b| a.order <=> b.order }
	- page_items.each do |pi|
		- question_items = @items.find_all {|qi| qi.o_type == 1 && qi.par_id == pi.id } .sort {|a,b| a.order <=> b.order }
		- question_items.each do |qi|
			- question = @questions.detect {|q| q.id == qi.o_id}
			- if !question.nil?
				- def_ans = @default_answers.detect{ |da| da.id == question.default_answer_id}

				%div.qa.item{:id=>"q#{question.id}", :item_id=>question.item_id, :ans_criteria=>question.answer_criteria, :bs_idea_criteria=>question.idea_criteria}
					%a{:name=>"q#{question.id}"}
					%h3.question 
						= "Q#{(q_cnt+=1)}: #{question.text}"
						-#
							- if !def_ans.nil?
								= link_to "details", {:action=>'bsd', :id=>question.id}, {:class=>'question_details'}
								%d.question_details.hide= def_ans.text 

					%div.q_cta{:id=>question.id}
						%div
							= link_to "Please read and respond to 5 new comments", {:action=>'bsd', :id=>question.id}, {:class=>'show_bsd'}
						
					%div.show_bsd
			
					- answer_items = @items.find_all {|ai| ai.o_type == 2 && ai.par_id == qi.id} .sort {|a,b| a.order <=> b.order }
					- if answer_items.size > 0
						- answer_items.each do |ai|
							- answer = @answers_with_ratings.detect {|a| a.id == ai.o_id}
							= render :partial => 'answer', :object=>answer, :locals=> {:question=> question, :title=>'Current answer', :is_def_ans=>false}
							
					- elsif !def_ans.nil?
						- answer = Answer.new :text=>def_ans.text, :ver=>0, :item_id=>0
						- answer['my_vote'] = answer['average'] = answer['count'] = 0
						= render :partial => 'answer', :object=>answer, :locals=> {:question=> question, :title=>'Suggested answer guidelines', :is_def_ans=>true}

					- else
						- answer = Answer.new :text=>'No answer has been suggested for this question', :ver=>0, :item_id=>0
						- answer['my_vote'] = answer['average'] = answer['count'] = 0
						= render :partial => 'answer', :object=>answer, :locals=> {:question=> question, :title=>'No answer yet', :is_def_ans=>false}
						
	
	= render :partial => 'endorsements'
	
	= render :partial => 'submit'
		
		
%div.side_bar
	%h3 Participants
	
	- @mems.each do |member|
		%img{:src=>member.photo.url('36'),:class=>'i36'}

	%div.share
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style">
		<a href="http://addthis.com/bookmark.php?v=250" class="addthis_button_compact">Share</a>
		<span class="addthis_separator"> </span>
		<a class="addthis_button_facebook"></a>
		<a class="addthis_button_twitter"></a>    
		<!--<a class="addthis_button_googlebuzz"></a>-->
		<a class="addthis_button_email"></a>
		<span class="addthis_separator"> </span>
		<a class="addthis_button_facebook_like"></a>
		</div>
		<script type="text/javascript">var addthis_config = {"data_track_clickback":true};</script>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=civicevolution"></script>
		<!-- AddThis Button END -->
		