

- org = @mems.detect{|m| m.id == @team.org_id}

-#%div.suggest_title
	%img{:src=>org.photo.url('36'),:class=>'i36'}
	%h3 #{org.first_name} #{org.last_name} suggested this idea for change in the community:
	
%h2.home_title 
	%span #{@team.title}


%div.summary
	= simple_format h @team.solution_statement



-	q_cnt = 0
- page_items = @items.find_all {|pi| pi.o_type == 9 } .sort {|a,b| a.order <=> b.order }
- page_items.each do |pi|
	- question_items = @items.find_all {|qi| qi.o_type == 1 && qi.par_id == pi.id } .sort {|a,b| a.order <=> b.order }
	- question_items.each do |qi|
		- question = @questions.detect {|q| q.id == qi.o_id}
		- if !question.nil?

			%h3.question 
				= "Q#{(q_cnt+=1)}: #{question.text}"

			%div.answer
				- answer_items = @items.find_all {|ai| ai.o_type == 2 && ai.par_id == qi.id} .sort {|a,b| a.order <=> b.order }
				- if answer_items.size > 0
					- answer_items.each do |ai|
						- answer = @answers_with_ratings.detect {|a| a.id == ai.o_id}
						%div
							= simple_format( auto_link( h(answer.text), :all, :target => "_blank" ))

				- else
					- answer = Answer.new :text=>'No answer has been suggested for this question', :ver=>0, :item_id=>0
					%div
						= simple_format( auto_link( h(answer.text), :all, :target => "_blank" ))


%p.url You can view and contribute to this proposal at http://#{@host}/idea/#{params[:id]}

						

%div#endorsements	
	%h2 Participants who helped develop the proposal
	
	%table
		- @mems.each do |m|
			%tr{:class=> cycle('','stripe')}
				%td.pic
					%img{:src=> m.photo.url('36')} 
				%td.name
					%span.member& #{m.first_name} #{m.last_name}
				-#%td.text= simple_format( e.text )
				-#%td.time
					= time_ago_in_words(e.updated_at) + ' ago'
			
%p.clear

	
	
	= render :partial => 'endorsements', :locals=> {:print=>true}
	
	-#= render :partial => 'submit'
		
		
-#%div.side_bar
	%h3 Participants
	
	- @mems.each do |member|
		%img{:src=>member.photo.url('36'),:class=>'i36'}


%p.url You can view and contribute to this proposal at http://#{@host}/idea/#{params[:id]}
