%style
	:sass
		$nav_link_bg: rgb(238, 238, 238)
		tr.stripe
			background-color: $nav_link_bg
		td.opt
			width: 100px
		td, th
			vertical-align: top
			text-align: left
			padding: 10px 10px
		input[type='submit']
			margin: 30px 40px 30px 0
			

:javascript
	function all_yes(){
		$('input[value="t"]').attr('checked',true);

	}

	function all_no(){
		$('input[value="f"]').attr('checked',true);

	}

- if @comments.size == 0
	%h3 
		Thank you
		= "#{@member.first_name},"
		all of your 2029 comments have been reviewed

- else

	%h3 
		= "#{@member.first_name},"
		please review and release your 2029 comments

	%p To make it easier for new visitors to see what the 2029 and beyond ideas are about and get involved, from now on all of the comments made to the CivicEvolution website will be public.

	%p 
		We are giving you this opportunity to review the comments you made when the pages were more private. We won't display your old comments on the new pages until you have reviewed and released them.
		%b
			We hope you will allow us to display your comments so your idea can continue to build on your contributions.

	%p
		You can click the link "Mark all Yes" or "Mark all No" to make this review faster.
	
	%p
		%b You must click the "Save my preferences" or "Release all my comments" button to complete your review.
	
	%p Thanks from the 2029 team








	- form_tag('/idea/release_comments') do
		= hidden_field_tag :act, 'save'
		%table
			%tbody
				%tr
					%th Comment
					%th When
					%th
						%b Release
						%br
						%br
						%a{ :href=>"#", :onclick=>"all_yes(); return false"} Mark all Yes
						%a{ :href=>"#", :onclick=>"all_no(); return false"} Mark all No
				- @comments.each do |c|
					%tr{:class=> cycle('','stripe')}
						%td
							= c.text
						%td
							= time_ago_in_words(c.created_at) + ' ago'
						%td.opt
							%input{:type=>'radio', :name=>"com#{c.id}", :value=>'t'}
							Yes
							%br
							%input{:type=>'radio', :name=>"com#{c.id}", :value=>'f'}
							No
		%p
			%input{:type => 'submit', :name => 'act', :value => 'Save my preferences'}
			%input{:type => 'submit', :name => 'act', :value => 'Release all my comments'}