- if @member.id == 0
	- @member.first_name = @member.last_name = ''
%h3 We want to help you as you make change in your community
%p We are working hard to make CivicEvolution work well for you so you can focus on the change you want to see. We appreciate your participation, patience and assistance.
%p If you have any problems, questions, or suggestions, we would really appreciate hearing from you.

%p Please select a category for your question or request for help

- form_for :request_help, :url => { :action => :request_help_post}, :html=> {:class=>'request_help' } do |form| 
	%p
		= form.select( :category,[['Please select the assistance you need',0],['Report a bug',1],['I need help using CivicEvolution',2],['I need assistance with my proposal',3],['I need help dealing with my fellow participants',4],['I need technical assistance with my proposal',5],['I have a suggestion',6]])
	
	%div{:class=> @member.id != 0	? 'hide' : ''}
		= form.label :name, "Your name:"
		= form.text_field :name, :value=>"#{@member.first_name} #{@member.last_name}"
   
		= form.label :email, "Your email:"
		= form.text_field :email, :value=>@member.email
	
	%p Please provide a clear message about the assistance you require
	%p
		= form.text_area :message, :rows=>8, :cols=>50
	%p	
		%button
			Send
