%h3 Create admins


- case
	- when params[:s].nil?
		%p List of admins
		%table
			- Admin.list_admins.each do |a|
				%tr
					%td
						=link_to "#{a.first_name} #{a.last_name}", {:action=>'create_admins', :id=>a.id, :s=>'list_groups'}
						
	- when params[:s] == 'list_groups'
		- mem = Member.find_by_id(params[:id])
		%p Admin groups for #{mem.first_name} #{mem.last_name}
		%table
			- Admin.list_admin_groups(params[:id]).each do |ag|
				%tr
					%td
						=link_to "#{ag.i_title}:  #{ag.ag_title}", {:action=>'create_admins', :id=>ag.ag_id, :s=>'list_group_privileges'}
					%td
						=link_to "remove", {:action=>'create_admins', :member_id=>mem.id, :initiative_id=>ag.i_id, :admin_group_id=>ag.ag_id, :act=>'remove_admin_group'}

		%p Add new admin group for #{mem.first_name} #{mem.last_name}
		
		%p
			- form_tag( {:action=>'create_admins', :member_id=>mem.id, :act=>'add_new_group'} ) do
				%select{:name=>'initiative_id'}
					%option{:value=>-1} Please select initiative
					- Initiative.all(:select=>'id, title').each do |i|
						%option{:value=>i.id}= i.title
				%select{:name=>'admin_group_id'}
					%option{:value=>-1} Please select admin group
					- AdminGroup.all(:select=>'id, title').each do |ag|
						%option{:value=>ag.id}= ag.title
				
				= submit_tag "Add new group"
						
		

	- when params[:s] == 'list_group_privileges'
		- ag = AdminGroup.find_by_id(params[:id])
		%p Admin privileges for group: #{ag.title}
		%table
			- AdminPrivilege.list_privileges(params[:id]).each do |ap|
				%tr
					%td
						#{ap.title}
					%td
						=link_to "remove", {:action=>'create_admins', :privilege=>ap.title, :admin_group_id=>ag.id, :act=>'remove_admin_group_privilege'}
		
		%p
			- form_tag( {:action=>'create_admins', :id=>ag.id, :act=>'add_new_privilege'} ) do
				= text_field_tag :title, nil, {:size=>16}
				= submit_tag "Add new privilege"
					

	- else
		%p 
			Please start 
			= link_to "again", {:action=> 'create_admins'}