%h3 Reports for #{@initiative.title}

%ul
	- if @privileges.include? 'create_admins'
		%li= link_to "Create admins", {:action=>'create_admins'}

	- if @privileges.include? 'email'
		%li= link_to "Email", {:action=>'email'}

	- if @privileges.include? 'teams'
		%li= link_to "Teams", {:action=>'teams'}
		
	- if @privileges.include? 'members'
		%li= link_to "Members", {:action=>'members'}
	
	- if @privileges.include? 'change_member_id'
		%li
			- form_tag( {:action=>'change_member_id'} ) do
				= text_field_tag :id, nil, {:size=>4}
				= submit_tag "Change member id"
			