%h3 Reports for #{@initiative.title}

%ul
	- if @privileges.include? 'create_admins'
		%li= link_to "Create admins", {:action=>'create_admins'}

	- if @privileges.include? 'email'
		%li= link_to "Email", {:action=>'email'}

	- if @privileges.include? 'teams'
		%li= link_to "Teams", {:action=>'teams'}
		
	- if @privileges.include? 'members'
		%li= link_to "Members", {:action=>'members'}

	- if @privileges.include? 'participant_stats'
		%li= link_to "Participant stats", {:action=>'participant_stats'}
	
			
	- if @privileges.include? 'content_stats'
		%li= link_to "Content stats", {:action=>'content_stats'}
		
	- if @privileges.include? 'call_to_action_reports'
		%li= link_to "Call to action reports", {:action=>'call_to_action_reports'}
		
	- if @privileges.include? 'auto_signin_log'
		%li= link_to "Auto signin log", {:action=>'auto_signin_log'}
		
		- if @privileges.include? 'delay_test'
			%li= link_to "Delay test", {:action=>'delay_test'}

		
		
	- if @privileges.include? 'change_member_id'
		%li
			- form_tag( {:action=>'change_member_id'} ) do
				= text_field_tag :id, nil, {:size=>4}
				= submit_tag "Change member id"
	