%h3 Members for #{@initiative.title}

%table
	%tr
		%th= '#'
		%th
			Name
		%th
			Teams
		%th
			Coms
		%th
			Ideas
		%th
			Answers
	- ctr = 0
	- @members.each do |m|
		%tr{:class=> cycle('','stripe')}
			%td= ctr += 1		
			%td= "#{m.first_name} #{m.last_name}"
			-#%td= link_to m['teams'], {:action=>'team_members', :id=>m.id}
			%td= m['teams']
			%td= m['comments']
			%td= m['bs_ideas']
			%td= m['answers']
			