%h3 Teams for #{@initiative.title}

%table
	%tr
		%th= '#'
		%th
			Title
		%th
			Active
		%th
			Mems
		%th
			Coms
		%th
			Ideas
		%th
			Answers
	- ctr = 0
	- @teams.each do |t|
		%tr{:class=> cycle('','stripe')}
			-#%td= link_to t.title, {:action=>'team_workspace', :id=>t.id}
			%td= ctr += 1
			%td= link_to t.title, {:controller=>'team', :action=>'proposal', :id=>t.id}
			%td= t.launched
			%td= link_to t['members'], {:action=>'team_members', :id=>t.id}
			%td= t['comments']
			%td= t['bs_ideas']
			%td= t['answers']

			