- content_for(:script) do
	= javascript_include_tag "jquery.show_char_limit-1.1.1.js", "ce/welcome.js", '../plugins/prettyPhoto/js/jquery.prettyPhoto.js','jquery.scrollTo-min.js'
	=	stylesheet_link_tag '../plugins/prettyPhoto/css/prettyPhoto.css'
	

- team_ids = !@member.nil? ? @member.team_titles.collect{ |mt| mt.id}.join(',') : ''
:javascript
	var member_id = #{ @member.nil? ? 0 : @member.id }
	var my_team_ids = [ #{team_ids} ];


%div.left_col	
	- if params[:_initiative_id] == 1	
		%div.mission
			%h2.home_title Help us plan for a sustainable future
			%p 
				The City of Geraldton-Greenough is jointly creating a sustainable future for our City Region in a project called 
				%a{:href=>'http://www.cgg.wa.gov.au/2029andbeyond', :target=>'_blank', :class=>'mission_link 2029'} 2029 and Beyond.
				To help us to do this well, we first need to make some changes in our own backyard.
			%p
				The Executive Management Team encourages you to join our effort and promises to review and respond to all actionable proposals that meet their
				%a{:href=>'#', :class=>'2029_guidelines'}guidelines
				for relevance, completeness, evidence, and community support.
			%p This website will help you take advantage of this important opportunity. Please view these videos for more information
	- else
		%div.mission
			%h2.home_title Do you have an idea to make your community a better place to live?
			
			%p 
				The 
				= link_to( "Alliance Governance Group", {}, {:href=>'http://www.cgg.wa.gov.au/about-council/vision-strategy/2029-and-beyond-project/community-leadership', :target=>'_blank', :class=>'mission_link'})
				wants to hear your proposal. They oversee
				= link_to( "2029 and Beyond", {}, {:href=>'http://www.2029andbeyond.com.au/', :target=>'_blank', :class=>'mission_link 2029'}) + "&mdash;a".html_safe
				community wide project to create the kind of healthy, sustainable and creative city region we all desire.
			%p We need your proposals for change. A proposal is a detailed action plan written and supported by the community. The plan explains how the change can be put into action by answering what, why, who, and how.
			%p This website helps the community answer each of these questions through brainstorming and prioritisation to find answers that most of its members can accept.			
			
			%p
				The Alliance Governance Group 
				%span.promise commits to review every proposal
				that the community develops through CivicEvolution and meets their 
				=link_to( "guidelines", {}, {:href=>'#', :class=>'2029_guidelines'}) + ","
				so this is 
				%span.promise your opportunity to make your idea happen!
			
	%h2.home_title Join or start a proposal now!
	
	%p.header_desc 
		These are the ideas your community is working on right now. 
		Click a title to learn more. If you have a new idea that's not listed, 
		= link_to 'suggest it now.', {:controller=>:plan, :action=>:suggest_new_idea}, {:class=>'suggest_new_idea', :rel=>'nofollow', :remote=>false}

	%div.ideas_and_teams
		
		%div
			%div.tab_window{:id=>"tab_teams"}
				-#%ul.categories
				-#	%li All
				-#	%li Environmental
				-#	%li Economic development
				-#	%li Social
				-#	%li Cultural
		
				-#%ul.team_list
				-#	- if  @teams_launched.size() == 0
				-#		%li No teams have started developing their proposals yet
				-#	- elsif  @teams_launched.size() == 0
				-#		%li This team is working on its proposal. Click the team title to learn more
				-#	- else
				-#		%li These #{@teams_launched.size()} teams are working on their proposal. Click a team title to learn more.

	
				- @teams_launched.each do |team|
					%div.team_entry{:class=> cycle('stripe_bg','')}
						= link_to team.title, proposal_path(team.id), {:class=>'team_entry_title',:launched=>'t'}
						%p.desc= team.solution_statement
						-#%p.controls
							-#%span 0 comments
							%span= pluralize( team['members'], 'member')
							-#%span active one day ago
							-#= link_to 'Visit team', {:controller=>'team',:action => 'proposal', :id=>team.id}, {:class=>'visit'}

						-#%abbr.timeago{:title=>comment.updated_at}= time_ago_in_words(comment.updated_at) + ' ago'
						-#	%span.rating_results Average score: #{ sprintf("%2.1f", score) } out of 5 with #{pluralize(count, 'vote')}

			%div.tab_window{:id=>"tab_ideas"}
				-#%ul.categories
				-#	%li All
				-#	%li Environmental
				-#	%li Economic development
				-#	%li Social
				-#	%li Cultural
		
				-#%ul.team_list
				-#	%li Ideas must recruit at least four committed members before they can begin working on their proposal
				-#	- if  @team_ideas.size() == 0
				-#		%li No teams are waiting for members
				-#	- elsif  @team_ideas.size() == 1
				-#		%li This team needs additional committed members before it can start working on its proposal. Click the team title to learn more.
				-#	- else
				-#		These #{@team_ideas.size()} teams need additional committed members before they can start working on their proposal. Click a team title to learn more.
				-#	%li You can suggest your own idea for proposal by clicking the "Suggest an idea" tab above
					
	
				-# @team_ideas.each do |team|
					%div.team_entry
						= link_to team.title, {:controller=>'idea',:action => 'index', :id=>team.id}, {:class=>'team_entry_title', :launched=>'f'}
						%p.desc= team.solution_statement
						-#%p.controls
							-#%span 0 comments
							%span= pluralize( team['members'], 'member')
							-#%span active one day ago
							-#= link_to 'Visit team', {:controller=>'team',:action => 'proposal', :id=>team.id}, {:class=>'visit'}
				
			%p
				%b
					If you have a new idea that's not listed, 
					= link_to 'suggest it now.', {:controller=>:plan, :action=>:suggest_new_idea}, {:class=>'suggest_new_idea', :rel=>'nofollow', :remote=>false}


%div.right_col
	-#= render( :partial => 'welcome/signin_register' )
	- if !@member.nil?
		%h2.home_title.my_teams My ideas
		%div.right_vertical_bar.my_teams
			%ul.teams_list
				- @member.team_titles.each do |team|
					%li{:class=>'team', :id=>team.id}
						= link_to team.title, plan_path(team.id), {}

	%h2.home_title Watch our videos
	%div.right_vertical_bar
		%div.videos	
			%p Introduction to CivicEvolution
			%a{:rel=>'prettyPhoto', :href=>'http://vimeo.com/29348381', :title=>'2029 CivicEvolution Intro', :id=>'play_intro_video'} 
				= image_tag 'vhelp/ce_tp_video_placeholder.jpg', :alt=>'2029 CivicEvolution Demo Video', :title=> 'Click to play this video'
				
			%p
				Or visit our 
				= link_to "help page", visual_help_path
				
			
			-#%a{:rel=>'prettyPhoto', :href=>'http://vimeo.com/14851626', :title=>'CivicEvolution Illustrated', :id=>'play_intro_video'} 
				= image_tag 'video_placeholder1.jpg', :alt=>'CivicEvolution Illustrated video', :title=> 'Click to play this video'
		-#
			%p Getting started
			%a{:rel=>'prettyPhoto', :href=>'http://vimeo.com/14627369', :title=>'Getting started with CivicEvolution', :id=>'play_getting_started'} 
				= image_tag 'video_placeholder2.jpg', :alt=>'CivicEvolution Illustrated video', :title=> 'Click to play this video'
	-#
		%div.stats
			%p
				%b Community achievements
			%table
				%tr
					%td
						Ideas
					%td
						2
				%tr
					%td
						Participants
					%td
						5
				%tr
					%td
						Teams
					%td
						2
				%tr					
					%td
						Visitors
					%td
						12
				%tr
					%td
						Team comments
					%td
						73
				%tr					
					%td
						Public comments
					%td
						0
				%tr
					%td
						Completed proposals
					%td
						0
				%tr					
					%td
						Proposal endorsements
					%td
						0

%p.clear_both