%div.question_summary{:id=>question.id}

	%div.talking_point_sec.corner
		%div#add_tp.talking_point_form.hint.corner
			%div.form.cta
				%p 
					These talking points have been selected and ordered to answer this question in a way that is acceptable to the participants and community.
					-#This is done by the top participants. 
					= link_to "Learn more"
			%p.clear_both

		%p.question
			Q#{question.order_id}: #{question.text}
		
	
		%div.talking_points_list.summary.corner{:id=>question.id}
			-# if question.all_talking_points.size == 0
			
			- if question.curated_talking_points.size == 0
				%p.no_talking_points No talking points have been curated for this answer
			- else
				%ul.talking_points
					- question.curated_talking_points.each do |talking_point|
						%li.talking_point{:id=>talking_point.id}
							= talking_point.text
							= image_tag 'delete-icon_16.gif'

		- if true
			%div#add_tp.talking_point_form.hint.corner
				%div.form.cta
					%ul
						%li 
							Copy talking points from the left by dragging them into this list
							= link_to "Show me how"
						%li Drag these list items up and down to arrange them into a sensible order
						%li This list should reflect the ratings and favorites of the group
						%li This list should answer the question in a way that is acceptable to most of your community.
					%p.close
						= check_box_tag :hide_help
						Don't show this help panel again
						-#= link_to "X close"
				%p.clear_both

