- logger.debug "\n\n*************** Begin to render the plan page\n\n"
%div.page_content_div
	%div.home_page
		%div.left_side
			%div.intro_block.corner
				%h2 Crowdsourcing Innovation in the NCDD Community
				%div.homepage_intro
					%div.mission
						= image_tag('ncdd/ncdd-whats-next.jpg')
						%div.intro_float
							%h2 Two $10K Prizes
							%p Two $10,000 prizes will be awarded to team projects organized, led and selected by NCDD members that jump-start the field’s next best ideas and impact our communities’ and our country’s ability to solve its most challenging problems.
							%p 
								Read all about the 
								= link_to "NCDD Catalyst Awards", 'http://ncdd.org/catalyst-awards'
						
						
						%p.clear_both


				%div.intro_how_to
					%h3 Civic Infrastructure
					%p This category encourages collaborative projects that contribute to the development of a robust, sustainable civic infrastructure in our communities and our country. 
					%p.explain How can we, in the NCDD community, combine forces to ensure each of us is doing our part to build and sustain civic infrastructure, and to to build on each other’s progress rather than starting from scratch? What might we create together that can sustain our collective long-term capacity to come together to solve problems and build thriving communities?
					
					%h3 Bridge Building
					%p This category encourages collaborative projects that help our field, communities and nation make great strides in bridging political divides and crossing boundaries.
					%p.explain What projects can we launch together to make significant progress in this area? How can we build upon past and current efforts in political bridge building in ways that move our field forward–and gain the attention and support of those with the financial and other resources needed to sustain the work?
					
					%p.help
						#{link_to "Read more", short_help_path(tab: 0), {:remote=>true}},
						view a 
						= link_to "video", short_help_path(tab: 1), {:remote=>true}
						showing how CivicEvolution works or
						= link_to "Contact us", short_help_path(tab: 2), { :remote => true}	
																									
				%p.clear_both
					
			%h1#list_of_proposed_projects Projects proposed by the NCDD community	
			
			%p.cta_suggest
				All projects are listed below, click here to
				#{link_to 'suggest a new project', {:controller=>:plan, :action=>:suggest_new_idea}, {:class=>'suggest_new_idea', :rel=>'nofollow', :remote=>false}}.					

			- @init_teams.each do |team|
				%div.team_block.corner{:id=>team.team_id}
					%div.team_entry{:class=> cycle('stripe_bg','')}
						= link_to team.title, proposal_path(team.team_id), {:class=>'team_entry_title',:launched=>'t'}
						
						:markdown
							#{team.solution_statement}
						
						%div.controls
							%table.proposal_stats
								%tr
									-#%td= pluralize(team.participants, 'participant')
									-#%td= pluralize( (team.proposal_views + team.proposal_views_base), 'view')
									%td= pluralize(team.themes, 'answer')
									%td= pluralize(team.comments, 'comment')
									-#%td= pluralize( (team.proposal_views + team.proposal_views_base), 'page view')
									%td= pluralize(team.points_total, 'point')
								%tr
									%td= pluralize(team.ideas, 'idea')
									%td= pluralize(team.endorsements, 'endorsement')
									
						%div.controls
							= button_to "View our project", proposal_path(team.team_id), :method => :get
							= link_to "Follow our progress", notification_settings_form_path(team.team_id), {:remote=>true}
							%p.clear_both

			- if @init_teams.size == 0 
				%p Ideas will be listed here as they come in
			- elsif @init_teams.size > 4
				%p.cta_suggest
					All projects are listed above, click here to
					#{link_to 'suggest a new project', {:controller=>:plan, :action=>:suggest_new_idea}, {:class=>'suggest_new_idea', :rel=>'nofollow', :remote=>false}}.
				
					

		%div.right_side
			= link_to image_tag('ncdd/catalyst-rocket.gif', class: 'rocket'), 'http://ncdd.org/catalyst-awards'
			= render :template => 'welcome/home_stats', locals: { _page: 'home'}

	%p.clear_both
	-#= render :partial => 'endorsements/endorsements', :locals=> {:print=>false}