%div.endorsements
	%h2.section_hdr Our Endorsements
		
	
	- if endorsements.size == 0
		%h4.sub_sec_hdr No one has endorsed this proposal yet.
	- else
		%h4.sub_sec_hdr This proposal is endorsed by #{pluralize(endorsements.size, 'person')}

	- if !print
		%p If you like this proposal, please add a statement of support in the form below and click the button. You can endorse your own proposal and invite your friends to endorse it as well!


	%div.endorsements_inner
		- ctr = 0
		- hide_lt = 0
		- if endorsements.size > 3000
			- hide_lt = endorsements.size - 3000
			%div.comment.show_all
				%p 
					= link_to "Show all #{endorsements.size} endorsements", {}, class: 'show-all-endorsements'
		
		- endorsements.each do |e|
			%div.endorsement.comment{id:e.id, class: ctr < hide_lt ? 'hide' : '', code: e.member.ape_code}
				%div.img
					%img{src: e.member.photo.url(:small), class: 'i36'}		

				%div.comment_body
					- e.text = 'endorsed this proposal' if e.text.nil? || e.text == ''
					%div.com_text!= endorsement_with_member(e)

					%div.timeago
						%span.timeago 
							#{time_ago_in_words(e.updated_at)} ago
						- if e.member.id == @member.id && !print
							-#= form_tag edit_plan_endorsement_path(team_id), remote: true do
							-#	= submit_tag "Edit", :class => 'link'
							= form_tag delete_plan_endorsement_path(team_id), remote: true do
								= submit_tag "Delete", :class => 'link'
						%p.clear_both
			- ctr += 1
		

		- endorsed = !endorsements.detect{|e| e.member_id == @member.id}.nil?
		- if !print && !endorsed
			%div.endorsement.comment.form{data_tool_tip: 'add endorsement' }
				%div.img
					%img{ src:  @member.photo.url(:small), class: 'i36'}		
				%div.comment_body
					= form_tag add_plan_endorsement_path(team_id), :class=>'std_form endorsement' + ( endorsed ? ' hide' : '' ), remote: true do 
						%div.add_idea.add_idea_comment
							= hidden_field_tag :attachments
							= text_area_tag :text, '', class: 'answer autosize empty', size: "1x1", fixed_rows: true, placeholder: 'Type your endorsement here...'

						%p.form_controls
							= submit_tag "Endorse", :name=>'endorse', 'data-disable-with'=>'Submitting...'
							%span.char_ctr 500 characters
							= link_to 'Clear', '#', {:class=>'clear', :rel=>'nofollow'}

						%p.clear
