= @team.title
~''
~''

Immediate activity report for #{@recip.first_name} #{@recip.last_name}
= TZInfo::Timezone.get(@recip.location.gsub(' ','_')).utc_to_local( @entry.updated_at).strftime('%A %B %d, %Y at %I:%M %p')
~''
~''
- case
	- when @entry.class.to_s == "Answer" && @report[:report_format] == 1
		- if @entry.ver == 1
			A new answer was added
		- else
			An answer was edited
		~''
		= @entry.text
		
	- when @entry.class.to_s == "Comment" && @report[:report_format] == 1
		A comment was added by #{@entry.first_name} #{@entry.last_name}
		~''
		= @entry.text

	- when @entry.class.to_s == "TalkingPoint" && @report[:report_format] == 1
		A talking point was added
		~''
		= @entry.text
	
	- when @entry.class.to_s == "Answer"
		An answer was added or edited

	- when @entry.class.to_s == "Comment"
		A comment was added

	- when @entry.class.to_s == "BsIdea"
		A brainstorming idea was added
