- if @entry.class.to_s == "Comment"
	#{@entry.author.first_name} #{@entry.author.last_name} is working on this proposal
- else
	Someone is working on this proposal

~''
"#{@team.title}"
~''
(You can visit the proposal at #{plan_url(:host=>@host,:team_id=>@team.id,:_mlc => @mcode)})
~''
~''
~''

- case
	- when @entry.class.to_s == "Answer" && @report[:report_format] == 1
		- if @entry.ver == 1
			This new answer was added:
		- else
			An answer was edited

		= @entry.text

	- when @entry.class.to_s == "Comment" && @report[:report_format] == 1
		On #{TZInfo::Timezone.get(@recip.location.gsub(' ','_')).utc_to_local( @entry.updated_at).strftime('%A %B %d, %Y at %I:%M %p')}, #{@entry.author.first_name} #{@entry.author.last_name} added this comment to the question "#{@entry.question.text}":
		~''
		= @entry.text
		~''
		You can view this comment at #{question_worksheet_url(:host=>@host, :question_id=>@entry.question.id, :t=>'c', :id=> @entry.id, :_mlc => @mcode)}

	- when @entry.class.to_s == "TalkingPoint" && @report[:report_format] == 1
		On #{TZInfo::Timezone.get(@recip.location.gsub(' ','_')).utc_to_local( @entry.updated_at).strftime('%A %B %d, %Y at %I:%M %p')}, this talking point was added:
		~''
		= @entry.text
		~''
		You can rate this talking point at #{question_worksheet_url(:host=>@host, :question_id=>@entry.question_id, :t=>'tp', :id=> @entry.id, :_mlc => @mcode)}

	- when @entry.class.to_s == "Answer"
		An answer was added or edited

	- when @entry.class.to_s == "Comment"
		A comment was added

	- when @entry.class.to_s == "BsIdea"
		A brainstorming idea was added


~''
~''
Now we want to know what you think. Click one of the links above to share your voice.
~''
~''
CivicEvolution just released a major redesign
~''
* Please view the video to see how the new design works at #{home_url(:host=>@host,:video=>'play', :_mlc => @mcode)}
* Please help us by reporting any bugs, problems, or suggestions
* Click "Help and feedback" on the right side of each page
* You can also email us at support@civicevolution.org
~''
~''
~''
You can adjust your notification settings for this proposal at #{notification_settings_form_url(:host=>@host, :team_id => @team.id, :_mlc => @mcode)}
~''
Or you can completely unsubscribe from CivicEvolution at #{unsubscribe_url(:host=>@host, :_mlc => @mcode)}


