%div#immediate_report
	- if @entry.class.to_s == "Comment"
		%p.report #{@entry.author.first_name} #{@entry.author.last_name} is working on this proposal
	- else
		%p.report Someone is working on this proposal
		
	%h3= link_to @team.title, plan_url(:host=>@host,:team_id=>@team.id,:_mlc => @mcode)

	%div.new_content
		- case
			- when @entry.class.to_s == "Comment" && @report[:report_format] == 1
				%p.entry_title 
					#{@entry.author.first_name} #{@entry.author.last_name} added this comment to the question
					%span.question= @entry.question.text
				%div.Comment
					!= %Q|<p class="comment">#{@entry.text.gsub(/\n/,'<br/>')}</p>|
					-#%p.view= link_to 'View this comment', question_worksheet_url(:host=>@host, :question_id=>@entry.question.id, :t=>'c', :id=> @entry.id, :_mlc => @mcode)

			- when @entry.class.to_s == "Idea" && @report[:report_format] == 1
				%p.entry_title 
					This idea was added to the question
					%span.question= @entry.question.text
				%div.Idea{ class: @entry.role==2 ? 'theme':''}
					:markdown
						#{@entry.text}
					-#%p.view= link_to 'Rate this idea', question_worksheet_url(:host=>@host, :question_id=>@entry.question_id, :t=>'tp', :id=> @entry.id, :_mlc => @mcode)


	
			- when @entry.class.to_s == "Answer"
				An answer was added or edited

			- when @entry.class.to_s == "Comment"
				A comment was added

			- when @entry.class.to_s == "BsIdea"
				A brainstorming idea was added
		%p.date On #{TZInfo::Timezone.get(@recip.location.gsub(' ','_')).utc_to_local( @entry.updated_at).strftime('%A %B %d, %Y at %I:%M %p')}
				
	%h1.cta Now we want to know what you think
	%p.cta Click one of the links above to share your voice
	
				
	%hr
	%p.unsubscribe
		You can 
		=link_to 'adjust your notification settings',  notification_settings_form_url(:host=>@host, :team_id => @team.id, :_mlc => @mcode)
		or 
		=link_to 'completely unsubscribe',  unsubscribe_url(:host=>@host, :_mlc => @mcode)
		from CivicEvolution
%style
	:sass
		body
			width: 600px
		h3
			margin-left: 20px
		p.entry_title
			font-style: italic
		p.report
			margin-top: 0
			font-size: 1.2em
		p.source
			margin-left: 2em
		.ans
			font-size: 1.2em
			color: blue
		div.new_content
			margin: 0 0 2em 2em
		p.view
			margin: 0 0 0 0
			font-size: .9em
		div.Comment
			background-color: #EBF6BC
			padding: 1em
			-webkit-border-radius: 10px
			-moz-border-radius: 10px
			border-radius: 10px
		p.comment
			font-size: 1.2em
		div.Idea
			background-color: #fffac3
			padding: 1em
			-webkit-border-radius: 10px
			-moz-border-radius: 10px
			border-radius: 10px
			&.theme
				background-color: #ccf
		p.idea
			font-size: 1.2em
		span.question
			font-weight: bold
		div.ans
			margin-left: 20px
		p.date
			margin: .4em 0 0 0
			font-size: .88em
			font-style: italic
		p.unsubscribe
			font-size: .8em
		h1.cta
			margin-bottom: 0
		p.cta
			margin-top: 4px