%style
	:sass
		body
			max-width: 600px
		p.entry_header
			font-style: italic
			margin-bottom: .5em
		p.ans_title
			font-weight: bold
		p.com_date
			margin-top: 0
			margin-bottom: 0
			margin-left: 20px
		div.com, div.ans, div.idea
			margin-left: 20px
			margin-bottom: 40px
		h3.team_title
			margin: 40px 0 10px 0
		p.team_link
			margin: -8px 0 20px 20px
		p.summary
			font-style: italic
			margin-bottom: 30px
		p.date
			margin: 0 0 1em 0
			font-size: .88em
			font-style: italic
		p.unsubscribe
			font-size: .8em
			margin: -1em 0 4em 0
		p.unsubscribe_all
			font-size: .8em
		div.Comment
			background-color: #EBF6BC
			padding: 1em
			-webkit-border-radius: 10px
			-moz-border-radius: 10px
			border-radius: 10px
			margin-bottom: 2em
		p.comment
			font-size: 1.2em
		div.Idea
			background-color: #fffac3
			padding: 1em
			-webkit-border-radius: 10px
			-moz-border-radius: 10px
			border-radius: 10px
			&.theme
				background-color: #ccf
		p.idea
			font-size: 1.2em
		
		div.proposal_report
			margin-left: 20px
		div.report
			margin-left: 20px
		span.question
			font-weight: bold
		h1.cta
			margin-bottom: 0
		p.cta
			margin-top: 4px
	

- location = @recip.location.gsub(' ','_')
%p.date 
	Report generated
	= TZInfo::Timezone.get(location).utc_to_local( Time.now.utc).strftime('%A %B %d, %Y at %I:%M %p')


%hr
- if (1..2) === @teams[0].initiative_id 
	%img{:src=>"http://2029.civicevolution.org/images/2029beyondemail2.jpg"}

%h2 We've been working on these proposals and we want you to join us
%div.report			


	- @reports.each do |report|
		- team =  @teams.detect{|t| t.id == report.team_id}
		- @host = team.host
	
		%h3.team_title
			= link_to team.title, plan_url(:host=>@host,:team_id=>team.id,:_mlc => @mcode)
		%div.proposal_report
			%p Below are the posts to this proposal since your last report:
		

			- report.match_queue.scan(/(\d+)-(\d+)/).uniq.each do |type, id|
				- #debugger
				- case type.to_i
					- when 3
						- entry = @comments.detect{|c| c.id == id.to_i}
						-if !entry.nil?
							%p.entry_header 
								#{entry.author.first_name} #{entry.author.last_name} added this comment to the question
								%span.question #{entry.question.text}
								on
								= entry.tz[location].strftime('%A %B %d, %Y at %I:%M %p')
								
							%div.Comment
								!= %Q|<p class="comment">#{entry.text.gsub(/\n/,'<br/>')}</p>|
								-#%p.view= link_to 'View this comment', question_worksheet_url(:host=>@host, :question_id=>entry.question.id, :t=>'c', :id=> entry.id, :_mlc => @mcode)
			
					- when 20
						- entry = @ideas.detect{|i| i.id == id.to_i}
						-if !entry.nil?
							%p.entry_header 
								This idea was added to the question
								%span.question #{entry.question.text}
								on
								= entry.tz[location].strftime('%A %B %d, %Y at %I:%M %p')

								%div.Idea{ class: entry.role==2 ? 'theme':''}
									:markdown
										#{entry.text}
									


						

			%p.unsubscribe
				You can 
				=link_to 'adjust your notification settings',  notification_settings_form_url(:host=>@host, :team_id => team.id, :_mlc => @mcode)
				for this proposal
	
	%h1.cta Now we want to know what you think
	%p.cta Click a proposal link to share your voice
	
	%hr	
	%p.unsubscribe_all
		You can 
		=link_to 'completely unsubscribe',  unsubscribe_url(:host=>@host, :_mlc => @mcode)
		from CivicEvolution
	-#%img{:src=>"http://2029.civicevolution.org/img/logo/#{@mcode}"}
