- location = @recip.location.gsub(' ','_')
Report generated #{TZInfo::Timezone.get(location).utc_to_local( Time.now.utc).strftime('%A %B %d, %Y at %I:%M %p')}
~''
~''
We've been working on these proposals and we want you to join us
================================================================
~''

- @reports.each do |report|
	- team =  @teams.detect{|t| t.id == report.team_id}
	- @host = team['host']
	~''
	~''
	= team.title
	================================================================
	~''
	You can visit the proposal at #{plan_url(:host=>@host,:team_id=>team.id,:_mlc => @mcode)}
	~''
	These are posts to this proposal since your last report	
	~''
	~''
	
	- report.match_queue.scan(/(\d+)-(\d+)/).each do |type, id|
		- case type.to_i
			- when 2
				- entry = @answers.detect{|a| a.id == id.to_i}
				-if !entry.nil?
					- if entry.ver == 1
						New answer:
						~''
					- else
						Edited answer:
						~''
		
					= entry[:tz][location].strftime('%A %B %d, %Y at %I:%M %p')
					entry.text

			- when 3
				- entry = @comments.detect{|c| c.id == id.to_i}
				-if !entry.nil?
					#{entry.author.first_name} #{entry.author.last_name} added this comment to the question "#{entry.question.text}" on #{entry[:tz][location].strftime('%A %B %d, %Y at %I:%M %p')}:
					~''
					= entry.text
					~''
					-#You can view this comment at #{question_worksheet_url(:host=>@host, :question_id=>entry.question.id, :t=>'c', :id=> entry.id, :_mlc => @mcode)}
					~''
					~''
					~''
			
	
			- when 13
				- entry = @talking_points.detect{|tp| tp.id == id.to_i}
				-if !entry.nil?
					This talking point was added to the question "#{entry.question.text}" on #{entry[:tz][location].strftime('%A %B %d, %Y at %I:%M %p')}:
					
					~''
					= entry.text
					~''
					-#You can rate this talking point at #{question_worksheet_url(:host=>@host, :question_id=>entry.question_id, :t=>'tp', :id=> entry.id, :_mlc => @mcode)}
					~''
					~''
					~''

	You can adjust your notification settings for this proposal at #{notification_settings_form_url(:host=>@host, :team_id => team.id, :_mlc => @mcode)}
	~''
	~''
~''
Now we want to know what you think. Click one of the links above to share your voice.
~''
======================
You can completely unsubscribe from CivicEvolution at #{unsubscribe_url(:host=>@host, :_mlc => @mcode)}
