= render :template => 'shared/clear_sign_in_form', :formats => [:js]
:plain
	var tp = $("#{escape_javascript(render(  :partial=> 'plan/talking_point_post_it', :locals=>{:talking_point=>talking_point}, :content_type => 'html'  ))}");

	var form_tp = $('div.worksheet[id="#{question_id}"] div.talking_point_post_it.form');
	if( $('div.talking_point_post_it[id="#{talking_point.id}"]').size()>0){
		// replace the existing one with this one
		$('div.talking_point_post_it[id="#{talking_point.id}"]').replaceWith(tp);
	}else{
		// insert this one
		if(form_tp.size()>0){
			form_tp.before(tp);
		}else{
			$('div.worksheet[id="#{question_id}"] div.talking_point_matrix').append(tp);
		}
	}
	
	//$('div.question_worksheet[id="#{question_id}"] div.talking_point_post_it[id="0"]').remove();
	
	form_tp.find('textarea').val('');
	form_tp.find('p.warn').remove();
	form_tp.find('div#errorExplanation').remove();	
	
	if(am_curator){
		make_talking_points_draggable( tp.find('p.talking_point'), $('div.selected_tp_list ul[id="#{question_id}"]') );
	}
