= render :template => 'shared/clear_sign_in_form.js'
:plain
	var tp = $("#{escape_javascript(render(  :partial=> 'plan/talking_point', :locals=>{:talking_point=>talking_point}, :content_type => 'html'  ))}");
	tp.find('div.my_rating').addClass('js');
	tp.find('div.community_rating').removeClass('no_js');
	tp.find('.corner').corner('cc:#F2E9C3');

	if( $('div.talking_point_entry[id="#{talking_point.id}"]').size()>0){
		// replace the existing one with this one
		$('div.talking_point_entry[id="#{talking_point.id}"]').replaceWith(tp);
	}else{
		// insert this one
		$('div.question_worksheet[id="#{question_id}"] div.talking_point_entry:last').after(tp);
	}
	
	$('div.question_worksheet[id="#{question_id}"] div.talking_point_entry[id="0"]').remove();
	
	var form = $('div.question_worksheet[id="#{question_id}"] form.talking_point_form')
	form.find('textarea').val('');
	form.find('p.warn').remove();
	form.find('input[type="radio"]').attr('checked',false)
	form.find('div#errorExplanation').remove();	
	
= render :template => 'shared/clear_sign_in_form.js'