%div.home
	%div.spiral
	%div.notebook

		= render :partial=>'logo_links', :locals=>{:active=>'home'}
		
		%div.mission
			%h2 Think together 
			%h2 to act together
			
			%p CivicEvolution helps citizens create community written and supported plans to solve community problems–it helps us think together so we can act together.
			
			%p{:style=>'margin-top: 48px'} 
				We work with citizens and community leaders. Click 
				%b= link_to "Get started", :get_started
				to find out how we can help your community.
			
		%div.video
			-#<iframe src="http://player.vimeo.com/video/22453947?title=0&amp;byline=0&amp;portrait=0" width="400" height="310" frameborder="0"></iframe>
			<iframe src="http://player.vimeo.com/video/29348381?title=0&amp;byline=0&amp;portrait=0" width="400" height="340" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>

			-#<iframe src="http://player.vimeo.com/video/29348381?title=0&amp;byline=0&amp;portrait=0" width="594" height="505" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			
			%p 
				%span.bright Watch video 
				How CivicEvolution works
			%p 
				View the 
				%span.bright= link_to "help page", help_path(:topic=>'Think_together_to_act_together')
				to learn more
				
			-#= link_to do
				= image_tag "happy_idea_400.gif"
				%p 
					%span.bright Watch video 
					How CivicEvolution works
					
		%p.clear_both			

		%div.call_to_action_div
			= link_to :get_started do
				%div.call_to_action
					Get started
				
		%div.subscribe
			- if ! flash[:subscribed].nil?
				%p= flash[:subscribed]
			- else 
				= form_tag("/subscribe", :remote=>false, :id=>'subscribe_form', :class=>'orig') do
					%p Keep me updated
					%p
						Email: 
						= text_field_tag :email
						= submit_tag "Subscribe"
			
%div.social_proof_logos
	= link_to 'http://2029.civicevolution.org', {:target=>'_blank'} do
		= image_tag 'mktg/2029_logo_tag_6gs.gif'
	= link_to 'http://newdemocracy.com.au/docs/newDemocracy_Citizens_Parliament_Handbook.pdf', {:target=>'_blank'} do
		= image_tag 'mktg/citizens_parliament_8gs.gif'
	= link_to 'http://communityforums.org/', {:target=>'_blank'} do
		= image_tag 'mktg/CCF_logo_6gs.gif'
	= image_tag 'mktg/usyd_6gs.gif'

= render :template=>'welcome/how_it_works' 

%div.quote
	%h3 Our vision drives us
	%p 
		= image_tag 'mktg/left_dbl_quote_20.gif'
		Ultimately, citizens experience themselves as authentic participants in the creative co-governance of their communities
		= image_tag 'mktg/right_dbl_quote_20.gif'
		
		
		
= render :template=>'welcome/featured_projects'

%div.call_to_action_div
	= link_to :get_started do
		%div.call_to_action.lower
			Get started
	