%h3 How it works
%div.how_it_works
	%div.screenshot
		= image_tag 'mktg/256x140/1.gif'
		%h3 Submit an idea for change
		%p Getting ideas from your community is a great start
		= link_to "View screen shot", "idea form"
	%div.screenshot
		= image_tag 'mktg/256x140/2.gif'
		%h3 Start community planning
		%p The community works together to write a plan that answers What, Why, How, and Where to put the idea into action
		= link_to "View screen shot", "plan outline"
	%div.screenshot.last
		= image_tag 'mktg/256x140/3.gif'
		%h3 Suggest talking points
		%p Community members discuss each question and suggest talking points to answer it
		= link_to "View screen shot", "what do you think form"
	%div.screenshot
		= image_tag 'mktg/256x140/4.gif'
		%h3 Rate talking points
		%p Each talking point clearly states a single idea to be discussed, rated and selected by the community
		= link_to "View screen shot", "talking point with rating and comment"
	%div.screenshot
		= image_tag 'mktg/256x140/5.gif'
		%h3 Find common ground
		%p The popular talking points that are acceptable to most of the community outline an answer to each question
		= link_to "View screen shot", "Question with 5 talking points"

	%div.screenshot.last
		= image_tag 'mktg/256x140/6.gif'
		%h3 Submit your plan
		%p Completed plans with community support will be reviewed by community leaders who will publish their response.
		= link_to "View screen shot", "Final proposal"

		
	-#%p.clear_both Completed plans with community support that meet our clear guidelines will be reviewed by community leaders who will publish their response.
	%p.clear_both