%h3 How it works
%div.how_it_works
	%div.screenshot
		= link_to "images/mktg/full/1.gif", :rel=>'prettyPhoto', :title=>'The form for suggesting an idea' do
			= image_tag 'mktg/256x140/1.gif'
		%h3 Submit an idea for change
		%p Ideas come from the community to be developed into detailed plans by the community 
		= link_to "View screen shot", "images/mktg/full/1.gif", :rel=>'prettyPhoto', :title=>'The form for suggesting an idea'
	%div.screenshot
		= link_to "images/mktg/full/q_1_2_proposal.gif", :rel=>'prettyPhoto', :title=>'The proposal answers 4 questions' do
			= image_tag 'mktg/256x140/q_1_2_proposal.gif'
		%h3 Start community planning
		%p Together, the community writes a plan that answers What, Why, How, and Where to put the idea into action
		= link_to "View screen shot", "images/mktg/full/q_1_2_proposal.gif.gif", :rel=>'prettyPhoto', :title=>'The proposal answers 4 questions'
	%div.screenshot.last
		= link_to "images/mktg/full/tp_form_text.jpg", :rel=>'prettyPhoto', :title=>'Participants comment or add talking points to rate' do
			= image_tag 'mktg/256x140/tp_form_text.gif'
		%h3 Suggest talking points
		%p Community members discuss each question and suggest talking points to answer it
		= link_to "View screen shot", "images/mktg/full/tp_form_text.jpg", :rel=>'prettyPhoto', :title=>'Participants comment or add talking points to rate'
	%div.screenshot
		= link_to "images/mktg/full/rate_3tp.gif", :rel=>'prettyPhoto', :title=>'A talking point clearly states a single idea' do
			= image_tag 'mktg/256x140/rate_3tp.gif'
		%h3 Rate talking points
		%p Each talking point clearly states a single idea to be discussed, rated and chosen by community members
		= link_to "View screen shot", "images/mktg/full/rate_3tp.gif", :rel=>'prettyPhoto', :title=>'A talking point clearly states a single idea'
	%div.screenshot
		= link_to "images/mktg/full/tp_popularity.gif", :rel=>'prettyPhoto', :title=>'Try to find popular talking points that are acceptable to most of the community' do
			= image_tag 'mktg/256x140/tp_popularity.gif'
		%h3 Find common ground
		%p The popular talking points that are acceptable to most of the community outline an answer to each question
		= link_to "View screen shot", "images/mktg/full/tp_popularity.gif", :rel=>'prettyPhoto', :title=>'Try to find popular talking points that are acceptable to most of the community'

	%div.screenshot.last
		= link_to "images/mktg/full/submit_checklist.gif", :rel=>'prettyPhoto', :title=>'A completed plan to put an idea into action' do
			= image_tag 'mktg/256x140/submit_checklist.gif'
		%h3 Submit your plan
		%p Plans with community support will be reviewed by community leaders who will publish their response.
		= link_to "View screen shot", "images/mktg/full/submit_checklist.gif", :rel=>'prettyPhoto', :title=>'A completed plan to put an idea into action'

	%p.clear_both
	
	%p 
		View the 
		%span.bright= link_to "help page", {:controller=> 'help', :action=>'visual_help'}
		for site instructions and full screenshots for our new design
	