%h3 How it works
%div.how_it_works
	%div.screenshot
		= image_tag 'mktg/256x140/1.gif'
		%h3 Submit an idea for change
		%p Ideas come from the community to be developed into detailed plans by the community 
		= link_to "View screen shot", "images/mktg/full/1.gif", :rel=>'prettyPhoto', :title=>'The form for suggesting an idea'
	%div.screenshot
		= image_tag 'mktg/256x140/2.gif'
		%h3 Start community planning
		%p Together, the community writes a plan that answers What, Why, How, and Where to put the idea into action
		-#The community writes a plan together that answers What, Why, How, and Where to put the idea into action
		-#The community works together to write a plan that answers What, Why, How, and Where to put the idea into action
		= link_to "View screen shot", "images/mktg/full/2.gif", :rel=>'prettyPhoto', :title=>'The proposal answers 4 questions'
	%div.screenshot.last
		= image_tag 'mktg/256x140/3.gif'
		%h3 Suggest talking points
		%p Community members discuss each question and suggest talking points to answer it
		= link_to "View screen shot", "images/mktg/full/3.gif", :rel=>'prettyPhoto', :title=>'Participants comment or add talking points to rate'
	%div.screenshot
		= image_tag 'mktg/256x140/4.gif'
		%h3 Rate talking points
		%p Each talking point clearly states a single idea to be discussed, rated and chosen by community members
		= link_to "View screen shot", "images/mktg/full/4.jpg", :rel=>'prettyPhoto', :title=>'A talking point clearly states a single idea'
	%div.screenshot
		= image_tag 'mktg/256x140/5.gif'
		%h3 Find common ground
		%p The popular talking points that are acceptable to most of the community outline an answer to each question
		= link_to "View screen shot", "images/mktg/full/5.jpg", :rel=>'prettyPhoto', :title=>'Try to find popular talking points that are acceptable to most of the community'

	%div.screenshot.last
		= image_tag 'mktg/256x140/6.gif'
		%h3 Submit your plan
		%p Plans with community support will be reviewed by community leaders who will publish their response.
		= link_to "View screen shot", "images/mktg/full/6_sm.jpg", :rel=>'prettyPhoto', :title=>'A completed plan to put an idea into action'

	%p.clear_both