%div.join_our_community
	-#- form_tag('/welcome/register',{:class=>'register_form'}) do
	- form_for(:member, :url => { :action => :register}, :html => {:class=>'register_form'}) do |form|
		- if params[:_initiative_id] == 1	
			%p Only CGG staff with email addresses ending in 'cgg.wa.gov.au' can join this staff site
			%p 
				The community is invited to participate at
				%a{:href=>'http://2029.civicevolution.org'} http://2029.civicevolution.org
			
			
		%table
			%tr
				%td
					%i
						Please use your real name.  We are creating an environment of trust and respect.
			%tr
				%td
					%label{:for=>"first_name"} First name:
			%tr		
				%td
					-#= text_field_tag :first_name
					= form.text_field :first_name, :alias=>'First name'
			%tr
				%td
					%label{:for=>"last_name"} Last name:
			%tr		
				%td
					-#= text_field_tag :last_name, params[:last_name]
					= form.text_field :last_name, :alias=>'last name'

			%tr
				%td
					%label{:for=>"email"} Email:
			%tr		
				%td
					-#= text_field_tag :email, params[:email]
					= form.text_field :email, :alias=>'Email address'

			%tr
				%td
					%label{:for=>"password"} Password:
			%tr		
				%td
					-#= password_field_tag :password, params[:password_field_tag]
					= form.password_field :password, :alias=>'Password'
			%tr
				%td
					%label{:for=>"password_confirmation"} Repeat password:
			%tr		
				%td
					-#= password_field_tag :password_repeat, params[:password_field_tag2]
					= form.password_field :password_confirmation, :alias=>'Repeat password'

			- if params[:_initiative_id] == 1 || params[:_initiative_id] == 2
				%tr
					%td
						%div.residency
							%b Please select one:
							%p
								%input{:type=>'radio', :name=>'member_category', :value => '1', :alias=>'You'}
								I am a resident of the Geraldton City Region
							%p
								%input{:type=>'radio', :name=>'member_category', :value => '2', :alias=>'You'}
								I am NOT a resident of the Geraldton City Region
			- else
				%input{:type=>'hidden', :name=>'member_category', :value => '1'}
				
			%tr
				%td
					%input{:type=>'checkbox', :name=>'accept_tos', :value=>'true', :alias=>'You'}
					I accept the 
					%a{:href=>'#', :class=>'terms_of_use'} terms of use
					and this fundamental ground rule:
					%b Be respectful toward individuals and groups.
			-#%tr
			-#	%td
			-#		%p 
			-#			Entering the text below confirms you are an actual person.
			-#			Click
			-#			%a.reload_captcha{:href=>'#'} reload
			-#			to see different text.
			-#		%div#recaptcha_register
			-#		
			%tr
				%td
					= submit_tag "Join", :name=>'join', :alias=>'Please'
					= link_to 'Cancel', {}, {:class=>'cancel'}
			%tr
				%td
					Already a member? Please
					= link_to 'Sign in', {}, {:class=>'sign_in'}