%h3 Reset your password

-#%p.clear{'style' => 'color: red'}= flash[:notice]
		
= form_tag('/welcome/password_reset_complete') do
	= hidden_field_tag :code, params[:id]
	%table
		%tr
			%td
				%label{:for=>"email"} Email:
			%td
				#{@member.email}
		%tr
			%td
				%label{:for=>"password"} New password:
			%td
				= password_field_tag :password, params[:password_field_tag]
		%tr
			%td
				%label{:for=>"password2"} Repeat password:
			%td
				= password_field_tag :password_repeat, params[:password_field_tag2]

		%tr
			%td
				= submit_tag "Reset password"
			