:plain
	Congratulations #{ @member.first_name}, a private CivicEvolution proposal workspace has been created for your team:

	Title: #{ @team.title}

	Description:
	#{ @team.text}

	Go to your proposal workspace now and start transforming your ideas into solutions at http://#{@host}/team?id=#{@team.id} 

	You can continue to invite friends and colleagues to join your proposal workspace.
	
	You can contact us at support@civicevolution.org if you have any questions.
