Details of a Get started form submission
~ ''
Name: #{@params[:name]}
~ ''
Email: #{@params[:email]}
~ ''
Organization: #{@params[:organization]}
~ ''
Phone: #{@params[:phone]}
~ ''
Goal:
~ ''
= @params[:goal]
~ ''
~ ''
~ ''
Product: 
~ ''
= @params[:product]
~ ''
~ ''
~ ''
Promise: 
~ ''
= @params[:promise]
~ ''
~ ''
~ ''
Comments: 
~ ''
= @params[:comments]