- ex_ids ||= []
%div{class: "R#{random_ind.pop} post-it" + (ex_ids.include?(idea.id)? ' example' : ''), id: idea.id}
	- if idea.class.to_s == "LiveTheme"
		%div.inner
			:markdown
				#{idea.text}

		%div.status
			= image_tag 'blue-pencil-24.png', :class=>"edit"
			= image_tag 'delete_icon_16t.gif', :class=>"delete"
			%div.star
				
	- else
		%p.idea= idea.text
		%div.status
			- if idea.attributes.has_key? 'group_id'
				%span.pos +#{idea.pos_votes} 
				%span.div /
				%span.neg  -#{idea.neg_votes}	
				
				(Table #{idea.group_id})
			
			= image_tag 'delete_icon_16t.gif', :class=>"delete"
			%div.star
