- ex_ids ||= []
- group_id = idea.attributes.has_key?('group_id') ? idea.group_id : 0
- post_it_type = case when !idea.attributes.include?('theme_type') then '' when idea.theme_type == 0 then 'micro' else 'macro' end
%div{class: "R#{random_ind.pop} post-it #{post_it_type}" + (ex_ids.include?(idea.id)? ' example' : ''), id: idea.id, table_id: group_id }
	- if idea.class.to_s == "LiveTheme"
		%div.inner
			%div.idea_text
			:markdown
				#{idea.text}

		%div.status
			= image_tag 'delete_icon_16t.gif', :class=>"delete"
			= image_tag 'blue-pencil-24.png', :class=>"edit"
			%div.star
				
	- else
		%p.idea= idea.text
		%div.status
			- if group_id > 0
				%span.pos +#{idea.pos_votes} 
				%span.div /
				%span.neg  -#{idea.neg_votes}	
				
				Table 
				%span.table_id
					#{group_id}
			
			= image_tag 'delete_icon_16t.gif', :class=>"delete"
			%div.star
