:plain
	#{ @member.first_name} #{@member.last_name} (#{@member.email}) has updated a proposal idea for #{@app_name} with CivicEvolution.

	The #{ @field} was updated from 
	#{ @old_ver}

	Title: #{ @team.title}

	Description:
	#{ @team.solution_statement}

	Please review this proposal idea and approve it or contact the author and explain why it does not meet the ground rules and guidelines
	
	http://#{@host}/plan/#{@team.id}

