Hello #{@recipient[:first_name]},
~ ''
#{@message}
~''
~''

The title of the proposal is "#{@team.title}"
You can visit this proposal online at http://#{@host}/idea/#{@team.id}
~''
~''
#{@member.first_name} #{@member.last_name} requested CivicEvolution send this email to you.
~''


