- name = @recipient[:first_name].nil? ? '' : ' ' + @recipient[:first_name]
:plain	
	Hello#{name},
	
	#{@message}


	The title of the proposal is "#{@team.title}"

	You can visit this proposal online at http://#{@host}/idea/#{@team.id}


	#{@member.first_name} #{@member.last_name} (#{@member.email}) requested CivicEvolution send this email to you.



