:plain
	We received an error report when a users preliminary participation activities where being instantiated

	
	Email: #{@email}
	Errors: 
- if @errors.any?
	:plain 
		There were #{pluralize(@errors.count, "error")}
		
	- if @errors.respond_to? 'full_messages'
		- @errors.full_messages.each do |msg|	# show errors for AR models
			= msg
		
	- @errors[:full_messages].each do |msg| # show errors for non AR like vote_save
		= msg

:plain 	

	Params: 

	
- @params.each_pair do |key, value| 
	- if value.class.to_s.match(/hash/i)
		********************
		#{key}:
		- value.each_pair do |key, value| 
			#{key} => #{value}
		********************
	- else
		#{key} => #{value}
	