- resource = @resources.detect { |r| r.comment_id == comment.id }
- if comment.anonymous == 't'
	- name = 'Anonymous'
	- pic_src = '/assets/members_default/small/m.jpg'
- else
	- member = @com_authors.detect {|ca| ca[:id] == comment.member_id }
	- if member
		- name = member[:first_name] + ' ' + member[:last_name]
		- pic_src = member.photo.url('small')
	- else
		- name = 'Author placeholder'
		- pic_src = ''

- if comment.created_at > @last_ts
	- class_str = 'entry Comment_entry new_com'
	- new_str = 1
- elsif comment.updated_at > @last_ts
	- class_str = 'entry Comment_entry new_com'
	- new_str = 2
- else
	- class_str = 'entry Comment_entry'
	- new_str = 0

%div{:class=>class_str, :target_id=>item.target_id, :target_type=>item.target_type, :id => "com_#{comment.id}" }
	%img{:src=>pic_src,:class=>'i36'}
	%div.comment
		- if new_str == 1
			%span.new._comment New 
		- elsif new_str == 2
			%span.new._comment Updated
					
		%span.author= name
		%abbr.timeago{:title=>comment.created_at}= time_ago_in_words(comment.created_at) + ' ago'
		%div.close_1com
		%div.comment_text= simple_format(auto_link(h(comment.text), :all, :target => "_blank"))
		- if !resource.nil?
			%div{:class => "resource #{resource.link_url ? 'link' : 'upload'}"}
				%h3.resource_title&= resource.title
				%p.resource_link
					- if resource.link_url
						= link_to resource.link_url, resource.link_url, {:target => '_blank', :class => 'resource_url' }
					-else
						- if resource.resource_content_type =~ /image/ && resource.resource.url(:small)
							= image_tag resource.resource.url(:small)
						= link_to resource.resource_file_name, resource.resource.url	, {:target => '_blank', :class => 'resource_upload' }
				%div.resource_description= simple_format h resource.description
				

				
				
		%div.comment_controls
			- if comment.member_id == session[:member_id]
				= link_to "Edit", {:action => "edit_comment", :id => comment.id}, {:class => 'edit_com'}
			
			= link_to 'Reply', {}, {:class => 'reply'}

			- if item.target_type == 11
				= link_to 'View idea', {}, {:class => 'view_target'}

			- elsif item.target_type == 2
				= link_to 'View answer', {}, {:class => 'view_target'}
			
			
			-#- form_tag( {:controller => 'team', :action => 'com_rate'}, {:class => rated != 1 ? 'mini_thumbs_up' : 'mini_thumbs_up closed'}) do
			- form_tag( {:controller => 'team', :action => 'com_rate'}, {:class => 'mini_thumbs_up'}) do
				Was this helpful?
				- if comment.my_vote.nil? || comment.my_vote.to_i == 0	# don't show the vote
					%span{:class => 'votes_up'}
					%input{:type => 'submit', :class => 'vote_up', :name => 'thumbsup_rating', :value => '+1', :title => 'Vote up'}
					%input{:type => 'submit', :class => 'vote_down', :name => 'thumbsup_rating', :value => '-1', :title => 'Vote down'}
					%span{:class => 'votes_down'}
					
				- elsif comment.my_vote.to_i > 0
					%span{:class => 'votes_up'}
						= comment.up if !comment.up.nil? && comment.up.to_i > 0
					%input{:type => 'submit', :class => 'vote_up', :name => 'thumbsup_rating', :value => '+1', :title => 'Vote up'}
					%input{:type => 'submit', :class => 'vote_down other_selected', :name => 'thumbsup_rating', :value => '-1', :title => 'Vote down'}
					%span{:class => 'votes_down'}
						= comment.down if !comment.down.nil? && comment.down.to_i > 0
					
				- else	
					%span{:class => 'votes_up'}
						= comment.up if !comment.up.nil? && comment.up.to_i > 0
					%input{:type => 'submit', :class => 'vote_up other_selected', :name => 'thumbsup_rating', :value => '+1', :title => 'Vote up'}
					%input{:type => 'submit', :class => 'vote_down', :name => 'thumbsup_rating', :value => '-1', :title => 'Vote down'}
					%span{:class => 'votes_down'}
						= comment.down if !comment.down.nil? && comment.down.to_i > 0
						
				%input{:type => 'hidden', :name => 'thumbsup_id', :value => "#{comment.id}" }

%p.clear_both
					
