- @members_sorted = @members.sort {|a,b| x = a.first_name <=> b.first_name; x != 0 ? x : a.last_name <=> b.last_name}
%div{:class=>'entry Team_info_entry'}
	%div.team_page
		
		%div#team_tab.tabs.team_info_tabs
			%ul.qa_tabs
				%li.plan_tab
				%li.share_tab
				%li.promote_tab
				%li.implement_tab


			%div.tab_panel.plan_tab
				%div.instr
					%p.instr 
						Plan your change by answering what, who, why, and how
						-#Develop and edit your proposal with your team
						%a{:href=>'#', :class=>'how'} Explain
					%div.how
						%ul.instr
							%li Your goal is to develop a plan for implementing your change by answering these questions as a team
							%li You and your teammates work together to answer these questions by discussing each question, brainstorming ideas, and creating an answer most everyone can agree on
							%li Each question has a workspace with pages for discussion, brainstorming, refining your answer, and listening to community feedback
							%li Click the page links on the left to access each question's workspace
							%li Click on the question and answers below to go directly to the answer page for that question
							%li This page will always show the latest versions of your team's answers to each question

				%div.qa_bar

				%div.tab_window.tab_proposal

					%div.proposal_view
						%h3.team_title= @team.title
					
						%div.summary
							%p.summary Summary
							= simple_format h @team.solution_statement
						%div#current_proposal_view

					

			%div.tab_window.public.discussion.hide{:id=>"tab_team_discussion"}
				%p.instr This is how the public sees your proposal
				
				
				%div.proposal_view
					%h3.team_title= @team.title
					
					%div.summary
						%p.summary Summary
						= simple_format h @team.solution_statement
					%div#current_proposal_view
				
				
				
				- pub_disc_item = @items.detect {|i| i.par_id == @team_item.id && i.o_type == 11 } 
				- if pub_disc_item.nil?
					%div.instr
						%p.instr Public discussion is disabled for this page
				- else 
					%div.item{:id=>"i#{pub_disc_item.id}", :item_id=>pub_disc_item.id, :class=>'pub_coms'}
				
						%div.question_discussion.tab_view
							%div.inner_question_discussion
								%div.instr
									%p.instr Public discussion
									%ul.instr
										%li These are general public comments about your proposal
										-#%li Your team can discuss general issues about your team and its progress and challenges
										-#%li Remember, discussion about your proposal subject should occur in the appropriate question workspaces, click the links to the left
										-#%li This is a good place to discuss problems facing the team
										-#%li.close_instr
											= link_to 'Hide instructions', {}, {:class => 'hide_instr'} 
						
						
								%p.discussion_links
									= link_to "Open all comments", {}, {:class => 'open_all'}

								- items_child_sorted = @items.find_all {|it| it.par_id == pub_disc_item.id && it.sib_id == 0 && it.o_type == 3 }.sort {|a,b| a.order <=> b.order }
								- items_child_sorted.each do |i|
									= render_item(i,{3=>'show'})

								-#%p.clear_both
								= render(:partial => 'add_comment_combined', :locals => { :id => pub_disc_item.id, :label=>'Please add your comment'})
			

			%div.tab_panel.share_tab
				%div.instr
					%p.instr 
						Share your plan with the community to get feedback
						%a{:href=>'#', :class=>'how'} Help
					%div.how
						%ul.instr
							%li Please share your plan with your friends, neighbors and community
							%li Their feedback can help you improve your plan and communicate it more effectively
							%li Great places to share include community centers, libraries and newspapers.
							%li You can also share your plan at community meetings, and through online social networks.

				%div.qa_bar

				%div.tab_window
					%p There are many ways to share your plan with the community. Here are a few suggestions:
					%ul
						%li 
							Invite people to review your plan by inviting them from the 
							= link_to "proposal page", {:action=>'proposal', :index=>@team.id}
						%li You can also email this link to them: http://2029.civicevolution.dev/team/proposal/#{@team.id}
						%li Share your proposal using your favorite social media sites and tools like Facebook and twitter and use the link right above
						%li Print out your plan and post it at a community center or library and ask people to comment online 
						%li Talk to a local news reporter about your plan and vision
				
				
			%div.tab_panel.promote_tab
				%div.instr
					%p.instr 
						Build community support for your plan
						%a{:href=>'#', :class=>'how'} Help
					%div.how
						%ul.instr
							%li It is important to get people in your community interested in your plan and excited by your vision
							%li In addition to sharing your plan, you should encourage people to show support for it
							%li They can join 2029 and beyond and endorse your plan
							%li Of course, you want to make sure your team members endorse this plan as well
							%li You can also ask them to spread the word about it

				%div.qa_bar

				%div.tab_window
					-#%p Team endorsements
					-#%ul.instr
					-#	%li Endorsements are not open yet
					-#	%li All the questions must be answered with at least 50% approval before endorsements can be made

					%h3 Team member endorsements
					%div.member_endorsements	
						%p Team member endorsements are not allowed until all the questions are answered with at least 50% approval
			
						%table
							%tr
								%th{:width=>'36px'}
								%th	Member name
								%th Endorse
								%th{:width=>'100px'} When
								%th{:width=>'250px'} Comment
							- @members_sorted.each do |m|
								%tr{:class=> cycle('','stripe')}
									%td
										%img{:src=> m.photo.url('36')} 
									%td
										%span.member& #{m.first_name} #{m.last_name}
									%td 
									%td
									%td

					%h3 Community endorsements
					-#%ul.instr
					-#	%li Endorsements are not open yet
					-#	%li All the questions must be answered with at least 50% approval before endorsements can be made
			
					%div.public_endorsements	
						%p Community endorsements are not allowed until all the questions are answered with at least 50% approval
			
						- public_endorsements = []
						%table
							%tr
								%th{:width=>'36px'}
								%th	Member name
								%th{:width=>'100px'} When
								%th{:width=>'250px'} Comment
							- if public_endorsements.size == 0
								%tr
									%td
									%td{:colspan=>3} No endorsements yet
							-else
								- public_endorsements.each do |m|
									%tr{:class=> cycle('','stripe')}
										%td
											%img{:src=> m.photo.url('36')} 
										%td
											%span.member& #{m.first_name} #{m.last_name}
										%td
										%td
							
						-#%div.endorse_proposal	
						-#	- form_for( :endorse, :url => { :action => :create_answer}, :html => {:class=>'add_answer_form'} ) do |form| 
						-#		= hidden_field_tag :team_id, @team_id
						-#		%div.add_answer
						-#			%p
						-#				= check_box_tag :endorse
						-#				I endorse this proposal
						-#			= form.label :text, "Optional comment in support of proposal"
						-#			= form.text_area :text, :class=>'answer', :size=>"1x2", :alias=>'Answer'
						-#			%div.control_line
						-#				%input{:type=>'submit', :value=>'Save my endorsement'} 
						-#				= link_to 'Clear', {:action => 'index'}, {:class=>'clear'}
						-#		%p.clear_both

			%div.tab_panel.implement_tab
				%div.instr
					%p.instr 
						Submit your plan and help move it forward
						%a{:href=>'#', :class=>'how'} More
					%div.how
						%ul.instr
							%li Once you have finished your proposal, the Alliance Governing Board will review it and respond back to you as promised
							%li 
								The form below will allow you to submit your proposal once you think it is complete and meets the guidelines 
								-#%a{:href=>'#', :class=>'2029_guidelines'}guidelines
							%li You should also give some thought to other ways your plan can be put into action. Maybe a local community group or business can get involved and help
							%li The sustainability we want in our community means that we are good at community problem solving. Government is just one tool for solving community problems.
					
				%div.qa_bar

				%div#tab_team_assistance.tab_window
				
					%h3
						Submit your proposal
						
					%p When you think your proposal is complete you can submit it for review by the Alliance Governance Group. (The button will be enabled when the questions have all been answered and adequately rated.)
					%p 
						%button{:disabled=>true} Submit proposal
				
%div#team_help
	= render(:partial => 'team_help')

%div#team_stats
	= render(:partial => 'team_stats')

%div#team_profile
	= render(:partial => 'profile')