%div.test_links
	%p
		= link_to "Disable APE", {},{ :class => 'toggle_ape'}
		= link_to "Update comment function", {},{ :class => 'update_com_func'}
		= link_to "Clear edit divs", {},{ :class => 'clear_edit_divs'}
		= link_to "Test PURE", {},{ :class => 'test_pure'}
	%p
		= link_to "Request APE update", {},{ :class => 'request_ape_update'}
		= link_to "Clear ape updates", {},{ :class => 'clear_ape_updates'}
		= link_to "Update insert function", {},{ :class => 'update_insert_func'}
		= link_to "Display chat window", {},{ :class => 'display_chat_window'}
	%p
		= link_to "Request template", {},{ :class => 'request_template'}
		= link_to "Create template", {},{ :class => 'create_template'}
		= link_to "Use template", {},{ :class => 'use_template'}
		= link_to "Reload function", {},{ :class => 'update_insert_func'}
