= error_messages_for 'question'
- form_for :question, :url => { :action => :update_question } do |form| 
	%p= form.error_messages
	%fieldset
		%legend& Please edit your Question
		%p= form.label :text, "Your Question:"
		%p= form.text_area :text, :cols => 60, :rows => 8
		%p= form.hidden_field :anonymous, :value => false
		%p= form.hidden_field :id
		= form.submit 'Update'
		= link_to 'Cancel', :action => 'index'
