- member = @members.detect { |m| m.id == session[:member_id] }
:javascript
	var client;
	var team_id = #{@team.id};
	var member = {first_name: "#{member.first_name}", last_name: "#{member.last_name}", pic_id: #{member.pic_id}, ape_code: "#{member.ape_code}" }
	var page_channel = '#{@page_channel}';
	var com_criteria = Number('#{@team.com_criteria}'.match(/\d+$/));
	var res_criteria = Number('#{@team.res_criteria}'.match(/\d+$/));

%div#top
	%div#logo
		%a{ :href=> '/'}
			= image_tag("2029beyondhor.jpg")
			-#= image_tag("ce_logo_20c.gif")
			-#= image_tag("pe_ce_logo_20.gif")
			
	
%div#top_links
	%ul#menu
		%li Welcome back, #{member.first_name}
		- if member.id == 0
			%li
				%input{:style=>'width:36px',:id=>'ape_item_id'}
				%input{:type=>'button',:id=>'get_ape_item',:value=>'Ape'}
			%li= link_to "Clear ape", {},{ :class => 'clear_ape_updates'}
			%li= link_to "Load JS", {}, {:class => 'load_js'}
			%li= link_to "load tmpls", {}, {:class => 'test_template'}		
			%li= link_to "proc templs", {}, {:class => 'func_one'}
			%li= link_to "show tmpls2", {}, {:class => 'show_templates2'}
			%li= link_to "tgl coms", {}, {:class => 'tgl_coms'}
		
		%li= link_to "Sign out", {:controller => "welcome", :action=> "signout"}, {:class => 'sign_out'}
		-#%li= link_to "My teams", {:controller => "welcome", :action=> "signout"}, {:class => 'my_teams'}
		-#%li= link_to "My profile", {:controller => "welcome", :action=> "signout"}, {:class => 'profile'}
		-#%li= link_to "Feedback", {:controller => "welcome", :action=> "signout"}, {:class => 'feedback'}
		%li= link_to "Help", {:controller => "welcome", :action=> "signout"}, {:class => 'help'}

	
%div#nav_chat_col
	%h3.team_title= @team.title
	
	%div#members_online
		%p 
			Team members online
			= link_to "Team info", {}, {:class => 'team_info'}
			
		%p.clear_both

	- page_items = @items.find_all {|i| i.o_type == 9 }.sort {|a,b| a.order <=> b.order }
	%div.nav
		- page_items.each do |pi|
			- page = @pages.detect { |p| p.id == pi.o_id }
			%div.link
				%a{:href=>"#page#{pi.id}"}
					= page.nav_title
				%div.activity_indicator
				%div.member_indicator
	
	%div#page_chat_boxes
		- page_items.each do |pi|
			- page = @pages.detect { |p| p.id == pi.o_id }
			%div.nav_chat{:id => "chat_#{pi.id}" }
				%div.chat_window{:id => "page_chat_#{page.id}" }
					%p.chat_title
						= page.chat_title
						%span.new_items
							
					%span.transcript_link= link_to "View transcript", {:action => "chat_transcript", :id => page.id}, {:class => 'view_transcript'}
					%div.shoutbox_msg
						%table{:cellspacing=>0}
							%tr
								%td{:colspan=>2, :class=>'init_chat'} Please standby while we initialize chat...
					%form
						%div
							%input{:name=>'text', :class=>'chat_input', :autocomplete=>"off", :disabled=>true, :alias=>'Chat message'}
							%input{:type=>'button', :value=>'Send', :class=>'chat_submit', :disabled=>true}
						%input{:type=>'hidden', :name=>'page_id', :value => page.id}

- @t = Time.now
%div#proposal	
	%div{:class => 'item Team', :id => "i#{@team_item.id}"}
		-#= link_to "Add question", {:action => "add_question", :id => @team_item.id}, {:class => 'add_item'}
		-#- @items_par_0_sorted.each do |i| 
		-#	-#= render_item(i,{1=>'show', 2=>'show'})
		-#	= render_item(i,'all')
		- page_items.each do |pi|
			= render_item(pi,'all')
- logger.debug "Time to render: #{Time.now - @t}."
%div#private= @private_page
	