= render :template => 'shared/clear_sign_in_form', formats: [:js]
- question = idea_rating.idea.question
- question.member = @member
:plain
	var rater = $('div.theme_slider[id="#{idea_rating.idea.id}"]').closest('div.rater');
	var rater_hdr = rater.prev('h4.rating');
	rater_hdr.find('span').html('Thanks for rating this').effect('highlight', {color: '#8DEE00'},2000);		
	rater.find('span.vote_count').html( '#{ pluralize( idea_rating.num_idea_votes, 'vote' )  }');
	rater.find('p.results a.done').remove();
	rater.find('div.vote_results').attr('votes', "#{idea_rating.idea.votes}"); 
	show_rating_results( rater_hdr.find('a.view_results'), true );
	if(stat_data.idea_recs[#{idea_rating.idea.id}]){stat_data.idea_recs[#{idea_rating.idea.id}].rated = true;}
	if(rater.closest('div.summary_block').size()>0){
		call_to_action_completed('read our vision');
		call_to_action_completed('rate our vision');
	}
	rater_hdr.find('a.next').remove();
	rater.find('p.results a.next').remove();

- if idea_rating.idea.role == 2
	:plain
		dispatcher.update_theme_stats( $('div.question_summary[id="#{question.id}"] li.theme[id="#{idea_rating.idea.id}"]') );
		
- if idea_rating.idea.role == 2 && question.unrated_answers.count > 0
	:plain
		rater_hdr.find('a.view_results').hide();
		var next_link = $('#{link_to "Rate next answer", view_idea_details_path(0, question_id: question.id, act: 'review_unrated_answers' ), {class: 'next', rel: 'nofollow', remote: true }}');
		next_link.clone().appendTo( rater_hdr ).effect('highlight', {color: '#8DEE00'},2000);	
		next_link.clone().appendTo( rater.find('p.results') ).effect('highlight', {color: '#8DEE00'},2000);
	
- elsif unrated_idea_count > 0
	:plain
		rater_hdr.find('a.view_results').hide();
		var next_link = $('#{link_to "Rate next idea", view_idea_details_path(0, question_id: question.id, act: 'review_unrated_ideas' ), {class: 'next', rel: 'nofollow', remote: true }}');
		next_link.clone().appendTo( rater_hdr ).effect('highlight', {color: '#8DEE00'},2000);	
		next_link.clone().appendTo( rater.find('p.results') ).effect('highlight', {color: '#8DEE00'},2000);	

- elsif params[:mode] == 'review_unrated'
	:plain
		rater_hdr.find('a.view_results').hide();
		$('#{link_to "Done", {}, {class: 'close_dialog', rel: 'nofollow' }}').appendTo( rater_hdr ).effect('highlight', {color: '#8DEE00'},2000);	

- else
	:plain
		rater_hdr.find('a.view_results').show();

	
:plain	
	if( !rater_hdr.find('a.view_results').is(':visible') ){
		rater_hdr.find('a.view_results').html('View results');
	}
	
- if (3..4) === idea_rating.idea.role

- elsif idea_rating.idea.role == 1 && question.unrated_ideas.count > 0
	:plain
		$('div.question_summary[id="#{question.id}"] div.idea-post-it-intro a.view_unrated_ideas').removeClass('hide').html( 
			"Rate #{pluralize(question.unrated_ideas.count, ' new idea')}" );
		
- else
	:plain
		if(rater.find('p.results a.next').size()==0){
			var done_link = $('#{link_to "Done", {}, {class: 'done close_dialog', rel: 'nofollow', remote: false }}').appendTo( rater.find('p.results')).effect('highlight', {color: '#8DEE00'},2000);	
		}
- if idea_rating.idea.role == 1 && question.unrated_ideas.count == 0
	:plain
		$('div.question_summary[id="#{question.id}"] div.idea-post-it-intro a.view_unrated_ideas').addClass('hide');
	
	
	
