<%= form_for(@talking_point_acceptable_rating) do |f| %>
  <% if @talking_point_acceptable_rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talking_point_acceptable_rating.errors.count, "error") %> prohibited this talking_point_acceptable_rating from being saved:</h2>

      <ul>
      <% @talking_point_acceptable_rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :talking_point_id %><br />
    <%= f.text_field :talking_point_id %>
  </div>
  <div class="field">
    <%= f.label :member_id %><br />
    <%= f.text_field :member_id %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
