- mode = '' unless !defined?(mode).nil? && !mode.nil?
%div.talking_point_acceptable{:class => talking_point.my_rating.nil? ? 'unrated':'rated'}
	%div.my_rating
		-#%p.title My rating
		- if mode != 'new_'
			- vote_max = 0
			- num_votes = 0
			- talking_point.rating_votes.each{ |v| num_votes += v; vote_max = v unless vote_max > v }
			- barw = 21
			- barh = 22
			%div.community_rating.no_js{:class=> talking_point.my_rating.nil? ? 'hide' : ''}

				%div.graph.js
					- talking_point.rating_votes.each_index do |i|
						%div.bar.zero{:style=>"left: #{barw * i + 4}px; height: 100%"}
						%div.bar{:class=> "bar#{i+1} #{i+1 == talking_point.my_rating ? 'mine' : ''}", :style=>"left: #{barw * i + 4}px; height: #{talking_point.rating_votes[i] == 0 ? 0 : talking_point.rating_votes[i].to_f/vote_max * 100}%"}

				%p.talking_point_ratings= pluralize(num_votes, 'rating')

		%div.radios{:class=> talking_point.my_rating.nil? ? '' : 'hide'}
			- TALKING_POINT_RATING_OPTIONS.sort.each do |value ,title|
				%div{:class=> "bar#{value}"}
					- if value.to_i == talking_point.my_rating
						%input.rating{:name => "#{mode}tp_rating_#{talking_point.id}", :id => "#{mode}tp_rating_#{talking_point.id}_#{value}", :type => 'radio', :value => "#{value}", :title => "#{title}", :checked => 'true'}
					- else
						%input.rating{:name => "#{mode}tp_rating_#{talking_point.id}", :id => "#{mode}tp_rating_#{talking_point.id}_#{value}", :type => 'radio', :value => "#{value}", :title => "#{title}"}
					= label_tag "#{mode}tp_rating_#{talking_point.id}_#{value}", title
					
			%p.clear_both
			- if talking_point.my_rating.nil?
				%p.option.please_rate{:title=>"Please rate"} Please rate
			- else
				%p.option{:title=>"#{TALKING_POINT_RATING_OPTIONS[talking_point.my_rating]}"}= TALKING_POINT_RATING_OPTIONS[talking_point.my_rating]
		
			- if mode != 'new_'
				%div.graph.no_js
					- talking_point.rating_votes.each_index do |i|
						%div.bar.zero{:style=>"top: #{barh * i}px; height: #{barh - 2}px; width: 100%"}
						- if talking_point.rating_votes[i] > 0
							%div{:class=> i<2 ? 'bar' : i==2 ? 'bar neutral' : 'bar bad',  :style=>"top: #{barh * i}px; height: #{barh - 2}px; width: #{talking_point.rating_votes[i].to_f/vote_max * 100}%"}
			
		-# if !talking_point.my_rating.nil? && talking_point.my_rating < 4		
			%p.clear_both
			%p.suggest.hide
				= link_to 'Add a comment', talking_point_comments_path(talking_point), { :class=> 'tp_add_com', :id=>talking_point.id, :remote=>true}
				to help others understand your concerns or offer an improvement

	
