<h1>Listing talking_point_acceptable_ratings</h1>

<table>
  <tr>
    <th>Talking point</th>
    <th>Member</th>
    <th>Rating</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @talking_point_acceptable_ratings.each do |talking_point_acceptable_rating| %>
  <tr>
    <td><%= talking_point_acceptable_rating.talking_point_id %></td>
    <td><%= talking_point_acceptable_rating.member_id %></td>
    <td><%= talking_point_acceptable_rating.rating %></td>
    <td><%= link_to 'Show', talking_point_acceptable_rating %></td>
    <td><%= link_to 'Edit', edit_talking_point_acceptable_rating_path(talking_point_acceptable_rating) %></td>
    <td><%= link_to 'Destroy', talking_point_acceptable_rating, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Talking point acceptable rating', new_talking_point_acceptable_rating_path %>
