- content_for (:script) do
	:javascript
		$(function(){
			activate_text_counters_grow($('textarea, input[type="text"]'), 120)
		});
		
%div.page_content_div
	%div.home_page
		%div.left_side
			%div.intro_block.corner
				%h2 Suggest a project for the NCDD Catalyst Awards
				- if proposal_idea.errors.size > 0
					%div.warn
						%p Errors were reported
						%ul
							- proposal_idea.errors.full_messages.each do |msg| 
								%li= msg

				%div.ground_rules
					%p.intro We're excited that you're ready to share your idea with our community!	To be #{ link_to 'eligible', 'http://ncdd.org/catalyst-awards#criteria'} for an award, projects must…
					
					%ul
						%li Be relevant to one of the #{ link_to 'two categories:', 'http://ncdd.org/catalyst-awards'} Civic Infrastructure or Bridge Building.
						%li Be collaborative, involving people from more than one organization in meaningful ways.
						%li Be complete. Submit your proposal on CivicEvolution for initial review by Sunday, November 25th, and submit your final proposal by Sunday, January 13th.

					%p.intro Additional criteria the Review Board will look for…

					%ul
						%li Be bold. Create projects that accelerate the work of many in our field.
						%li Address an existing problem in a strong and compelling way.
						%li Provide multiple inroads for others in our field to get involved in the project in different capacities over time.
						%li Create something tangible that people can see and put to use.
						%li Develop a plan that is well thought-out and realistic.
						%li Build a team that covers the skill sets you need to get the work done, and clarify who is taking on various roles.
						%li Develop a clear, simple governance plan for the project that shows the team has agreed on how decisions will be made.
						%li Identify benchmarks of success, whether quantitative or qualitative.

				
					%p.intro 
						Please review the #{ link_to "NCDD's principles for the Catalyst Awards program", 'http://ncdd.org/catalyst-awards#principles' } for more guidance and inspiration.
						#{link_to "Read more", short_help_path(tab: 0), {:remote=>true}},
						view a 
						= link_to "video", short_help_path(tab: 1), {:remote=>true}
						showing how CivicEvolution works or
						= link_to "Contact us", short_help_path(tab: 2), { :remote => true}	
						
				-# if @member && !@member.confirmed 
					%p.suggest_sign_in You must confirm your CivicEvolution account by email before you can suggest an idea. You can request a confirmation email on the right.
				-# elsif @member.nil?
					%p.suggest_sign_in You must be signed in with a confirmed email to suggest an idea. You can join, sign in, and confirm on the right.

				- if @member.nil? || @member && !@member.confirmed 
					%p.warn 
						You must be signed in with a confirmed email to suggest an idea. 
						= link_to 'Join now', sign_in_path(:act=>'join'), {:class=>'sign_in join', :id=>'sign_in_link', :rel=>'nofollow', :remote=>true}

				= render :partial => 'plan/idea_form', :locals=> {:proposal_idea => proposal_idea}

				
		%div.right_side
			= link_to image_tag('ncdd/catalyst-rocket.gif', class: 'rocket'), 'http://ncdd.org/catalyst-awards'
			= render :template => 'welcome/home_stats', locals: { _page: 'suggest_idea'}
