Title: #{@form_data['title']}
~ ''
Summary
#{@form_data['summary']}
~ ''
Primary contact information
Name of primary contact: #{@form_data['contact_name']}
~ ''
Email for primary contact: #{@form_data['contact_email']}
~ ''
Phone number for primary contact #{@form_data['contact_number']}
~ ''
Co-presenters
Community champion name: #{@form_data['champ_name']}
Community champion email: #{@form_data['champ_email']}
D&D Practitioner name: #{@form_data['prac_name']}
D&D Practitioner email: #{@form_data['prac_email']}
~ ''	
Setting the stage
#{@form_data['set_stage']}
~ ''	
Strategic options 
#{@form_data['strategic_options']}
~ ''
Strategic decisions
#{@form_data['strategy']}
~ ''
Implementation
#{@form_data['implementation']}
~ ''
Results and next steps
#{@form_data['results']}
~ ''
Next steps for DIY
#{@form_data['diy']}
