- logger.debug "\n\n*************** Begin to render the plan page\n\n"
%div.page_content_div
	%div.home_page
		%div.left_side
			%div.book
				%div.spiral 
				%div.notebook.corner
					%div.homepage_intro

						%div.mission
							%h2 Do you have an idea to make your community a better place to live?

							%p CivicEvolution helps citizens solve community problems through brainstorming and group decision-making–it helps us think together so we can act together.

							%p 
								%span.promise This is your opportunity to make your idea happen!
									
				%p.clear_both
					
			%h2 Ideas proposed by your community		
			%p
				%b
					If you have a new idea that's not listed, 
					= link_to 'suggest it now.', {:controller=>:plan, :action=>:suggest_new_idea}, {:class=>'suggest_new_idea', :rel=>'nofollow', :remote=>false}
	
			-# i = 0		
			- @init_teams.each do |team|
				%div.book
					%div.spiral 
					%div.notebook.corner{:id=>team.team_id}
						%div.team_entry{:class=> cycle('stripe_bg','')}
							= link_to team.title, proposal_path(team.team_id), {:class=>'team_entry_title',:launched=>'t'}

							- pics_array = ['beach','cathedral','dock','HMAS','tree','lake','turbine','island'].shuffle
							%div.resources
								= link_to proposal_pic_path(team.team_id), {:rel=>'nofollow'} do
									- pics_array.each do |pic|
										%div= image_tag("misc/48/#{pic}.jpg")
							%p.clear_both

							%p.desc= team.solution_statement
							%p.controls
								%table.proposal_stats
									%tr
										%td= pluralize(team.participants, 'participant')
										%td= pluralize( (team.proposal_views + team.proposal_views_base), 'view')
										%td= pluralize(team.points_total, 'point')
								
									%tr
										%td= pluralize(team.comments, 'comment')
										%td= pluralize(team.talking_points, 'talking point')
										%td= pluralize(team.endorsements, 'endorsement')
							
							
							
								-# if team.comments.to_i == 0
									= link_to "Please start this conversation", proposal_path(team.id)
								-# else
									= pluralize(team.comments, 'comment') unless team.comments.to_i == 0
								-#= pluralize(team.bs_ideas, 'idea') unless team.bs_ideas.to_i == 0
								-#= pluralize(team.answers, 'answer') unless team.answers.to_i == 0
								-#= pluralize(team.talking_points, 'talking point')
							
							%p.controls
								= link_to "Help us make a difference", proposal_path(team.team_id)
								= link_to "Follow our progress", notification_settings_form_path(team.team_id), {:remote=>true}
							-#%p.controls
								-#%span 0 comments
								%span= pluralize( team['members'], 'member')
								-#%span active one day ago
								-#= link_to 'Visit team', {:controller=>'team',:action => 'proposal', :id=>team.id}, {:class=>'visit'}



							-#%abbr.timeago{:title=>comment.updated_at}= time_ago_in_words(comment.updated_at) + ' ago'
							-#	%span.rating_results Average score: #{ sprintf("%2.1f", score) } out of 5 with #{pluralize(count, 'vote')}
				-# i += 1
				-# break if i > 3 
			%p
				%b
					If you have a new idea that's not listed, 
					= link_to 'suggest it now.', {:controller=>:plan, :action=>:suggest_new_idea}, {:class=>'suggest_new_idea', :rel=>'nofollow', :remote=>false}
					

		%div.right_side
			= render :template => 'welcome/home_stats'

	%p.clear_both
	-#= render :partial => 'endorsements/endorsements', :locals=> {:print=>false}