- text ||= ''
-#= form_tag("/#{type}/#{id}/add_comment", :remote=>true, :id=> id, :class=>'comment_form orig') do
= form_tag( type=='comments' ? add_comment_comment_path(id) : add_talking_point_comment_path(id), :remote=>true, :id=> id, :class=>'comment_form orig') do
	
	- if type == 'comments'
		%h3 Reply to this comment
	- elsif type == 'talking_points'
		%h3 Tell us what you think about this talking point
	- else
		type = 'comments'

	= text_area_tag :text, "#{text}", {:class=>'autosize', :rows => 8}

	%div.form_controls
		%button{'data-disable-with' =>'Submitting...'}
			Share

		%span.char_ctr
			= criteria.match(/..(\d+)/)[1]
			characters
		= link_to 'Cancel',  cancel_comment_form_path(:t=>type, :id=>id, :act=>params[:action]), {:class=>'clear', :rel=>'nofollow'}
			
		-#
			= image_tag('icon_linkc.gif',{:class=>'show_add_link',:title=>'Add a link'})
			= image_tag('icon_upload.gif',{:class=>'show_attach_file',:title=>'Attach a file'})

%p.clear_both

