- text ||= ''
- if type == 'comments'
	- title = 'Reply to this comment'
	- path = add_comment_comment_path(id)
- elsif type == 'talking_points'
	- title = 'Tell us what you think about this talking point'
	- path = add_talking_point_comment_path(id)
- elsif type == 'question'
	- title = 'Add a comment'
	- path = add_question_comment_path(id)

= form_tag( path, :remote=>true, :id=> id, :class=>'comment_form orig') do
	%h4= title

	= text_area_tag :text, "#{text}", {:class=>'autosize', :rows => 8}

	%div.form_controls
		= submit_tag "Share", :name=>'sign_in', 'data-disable-with'=>'Submitting...'

		%span.char_ctr
			= criteria.match(/..(\d+)/)[1]
			characters
		= link_to 'Clear',  cancel_comment_form_path(:t=>type, :id=>id, :act=>params[:action]), {:class=>'clear', :rel=>'nofollow'}
			
		-#
			= image_tag('icon_linkc.gif',{:class=>'show_add_link',:title=>'Add a link'})
			= image_tag('icon_upload.gif',{:class=>'show_attach_file',:title=>'Attach a file'})

%p.clear_both

