%div.proposal_tools
	%ul
		%li.organizer
			%div.member
				%p.sug Suggested by
				= image_tag @team.organizer.photo.url(:small), {:class=>'i36'}
				%div.name
					%p= @team.organizer.first_name
					%p= @team.organizer.last_name
			
	
		%li.invite
			= link_to "Invite friends ", invite_friends_form_path(@team.id), {:class=>'invite', :remote=>true}

		%li.follow
			= link_to "Follow ", notification_settings_form_path(@team.id), {:remote=>true}

		%li.endorse
			= link_to "Go to endorsements",{},{:class=>'endorse_this_proposal'}

		-#%li.participate
			- if params[:_initiative_id] == 5
				= link_to "How to participate", help_develop_path, {:remote=>true}
			- else 
				= link_to "How to participate", help_path, {:remote=>true}
			

		%li.print
			= link_to "Print", print_proposal_path(@team)	
		
		%li.share
			%div.tools	
				/AddThis Button BEGIN
				%div.addthis_toolbox.addthis_default_style
					%a.addthis_button{:href=>"http://addthis.com/bookmark.php?v=250"}Share
					%a.addthis_button_facebook
					%a.addthis_button_twitter
					-#%a.addthis_button_googlebuzz
					%a.addthis_button_email
					%span.addthis_separator
					%a.addthis_button_facebook_like
				-#= javascript_tag %Q|var addthis_config = {"data_track_clickback":true};|
				-#= javascript_include_tag 'http://s7.addthis.com/js/250/addthis_widget.js#username=civicevolution'
				/AddThis Button END
