%div.question_summary{:id=>question.id}
	%h2.question 
		Q#{question.order_id}: #{question.text}
	%div.call-to-action
		%div.custom


		- if question.unrated_ideas.count > 0 
			%div.ideas
				= link_to image_tag('idea-icon.gif'), view_idea_details_path(0, question_id: question.id, act: 'review_unrated_ideas' ), {class: 'view_unrated_ideas', rel: 'nofollow', remote: true, wait: 'gif' }
				%span.cnt
					#{question.unrated_ideas.count} new
		
		-# if question.unrated_ideas.count > 0 
			%div.themes
				= link_to image_tag('theme-icon.gif'), view_idea_details_path(0, question_id: question.id, act: 'review_unrated_ideas' ), {class: 'view_unrated_ideas', rel: 'nofollow', remote: true, wait: 'gif' }
				%span.cnt
					#{question.unrated_ideas.count} new

		-# if question.unrated_ideas.count > 0 
			%div.comments
				= link_to image_tag('comment-sketch.gif'), view_idea_details_path(0, question_id: question.id, act: 'review_unrated_ideas' ), {class: 'view_unrated_ideas', rel: 'nofollow', remote: true, wait: 'gif' }
				%span.cnt
					#{question.unrated_ideas.count} new

		%div.explore
			= link_to image_tag('magnify.gif'), view_idea_details_path(question.id, act: 'view_question'), {class: 'view_question', rel: 'nofollow', remote: true, wait: 'gif' }
			%span
			
		- if team.org_id == @member.id
			%div.theming
				= link_to image_tag('blue-pencil-24.png'), theme_final_edit_path(question.id), {class: 'edit_question', rel: 'nofollow', remote: true, wait: 'gif' }
		
	%p.clear_both
			
		
	- if question.themes.empty?
		%ul.themes.instructions 
			%li.theme This question will be answered collaboratively by your community
			%li.theme Anyone can suggest an idea for this answer
			%li.theme Each idea should clearly convey a single point
			%li.theme Your community will discuss and rate the ideas
			%li.theme The project coordinator(s) will work on behalf of the community to theme the ideas into a coherent answer
	- else
		%ul.themes
			- question.themes.sort {|a,b| a.order_id <=> b.order_id }.each do |theme|
				- if theme.version > 0 && theme.visible
					%li.theme{id: theme.id}= theme.text
	
	
	%div.form_help_slide.collapsed
		= link_to 'close', {}, class: 'close'
		%div.help_header
			%h3.label Suggest an idea for this answer
		%div.help_body
			%h4.cta State one idea clearly in less than 200 characters
			%ul.instructions
				%li Anyone can suggest an idea
				%li Each idea should clearly convey a single point
				%li Your community will discuss and rate the ideas
				%li The project coordinator(s) will work on behalf of the community to theme the ideas into coherent answers under each question

			- if !question.prompt.nil?
				%h4.framing Framing issues for you to consider for this question
				%ul.framing_questions
					- question.prompt.checklist.split(/\n/).each do |issue|
						%li= issue
			%p.learn_more
				To learn more see the 
				= link_to 'help', help_path, remote: true
				section
			
	= form_tag add_idea_path(question.id), :class=>'std_form suggest_idea', :remote=>true do 
		%div.add_idea
			= text_area_tag :text, '', :class=>'answer autosize', :size=>"1x2", :fixed_rows=>true
			= link_to '', {}, class: 'show_idea_help_popup', tabindex: 1000
			
			
		%p.form_controls
			= submit_tag "Add my idea", :name=>'add_idea', wait: 'gif'
			%span.char_ctr 200 characters
			= link_to 'Clear', '#', {:class=>'clear', :rel=>'nofollow'}

		%p.clear

