%div.worksheet.page_content_div
	%div.question_worksheet.notebookX.corner{:id=>question.id, :ans_criteria=>question.answer_criteria, :talking_point_criteria=>question.talking_point_criteria}

		- if question.inactive
			%h2.warn This question has been marked as inactive
			%p.warn 
				Please return to the 
				= link_to 'proposal summary', plan_path(question.team.id)
		- else
			
			- if request.xhr?
				%div
				
					= render :partial => 'plan/question_contents', :locals => {:question => question, :questions => questions, :question_counter => question.order_id }
					%p.clear_both
			- else
				= form_tag update_worksheet_ratings_path(question), :class=>'update_worksheet' do
					= hidden_field_tag :tp_ids, "#{ question['talking_points_to_display'].map(&:id).join(',') }"

					= render :partial => 'plan/question_contents', :locals => {:question => question, :questions => questions, :question_counter => question.order_id }
					= submit_tag "Save your ratings and preferences", :class=>'submit_ratings'
					%p.clear_both
					
			-#= add_call_to_action(:id=>'worksheet_cta')			
			
			= render :partial => 'plan/talking_point_form', :locals => {:question_id=>question.id}
			
			%div.ques_discussion.discussion{:id=>question.id}
				- if @question.show_new && question['comments_to_display'].length > 0
					%h4.ques_sub_hdg New comments about this question and talking points
				- elsif !@question.show_new
					%h4.ques_sub_hdg Latest comments about this question and talking points
					- if question.coms > question['comments_to_display'].length
						= link_to "Show #{ pluralize((question.coms - question['comments_to_display'].length), 'more comment')}", question_all_comments_path(question), { :class=> 'show_new_comments', :id=>question.id, :remote => true }
					

				- if question['comments_to_display'].size > 0
					= render :partial=> 'plan/comment', :collection => question['comments_to_display'].select{|c| c.parent_type == 1}.sort{|a,b| a.id<=>b.id}
				- else
					%div.Comment.hide
						
				-# if question.coms == 0
					%div.question_discussion_placeholder
						%p Please start the conversation about this question.
						%p Click "Add a comment" in the form above and type your comment.
	
		%div.question_com_form
			= render :partial => 'plan/comment_form', :locals => {:id=>question.id, :type => 'question', :criteria => '5..1500', :text => ''}
				
		-#= render :partial => 'plan/question_navigation', :locals=>{:question=>question, :questions=>questions, :counter => question_counter}
		
		- if request.xhr?
			%p.worksheet_intro
				= link_to image_tag('close_corner.gif',{:title=>'Click to close worksheet', :class=>'close_worksheet'}), question_summary_path(question.id), :remote=>true, :class=>'close_worksheet'
			