%tr.question
	%td{:colspan=>3}
		%p{:id=>question.id}
			= link_to "Q#{question.order_id}: #{question.text}", question_worksheet_path(question), {:class=> 'display_worksheet', :remote => true}

- talking_points = @talking_points.find_all{|tp| tp.question_id == question.id}.sort{|a,b| a.id<=>b.id}
- talking_points.each do |talking_point|
	%tr.talking_point
		%td.level1.talking_point_entry{:colspan=>2, :id=>talking_point.id}
		
			= link_to question_worksheet_path(question, :t=>'tp', :id=>talking_point.id), :class=>'display_talking_point', :id => talking_point.id, :q_id=>question.id, :remote => true do
				= talking_point.text
				-# if talking_point['new'].nil?
					%span.tp_reference For reference
			
			= render :partial => 'talking_point_acceptable_ratings/rating', :locals => {:talking_point => talking_point, :mode => 'new_'}	
			= render :partial => 'talking_point_preferences/preference', :locals => {:talking_point => talking_point, :show_results => false}
					
			-#%div.talking_point_acceptable						
				%div.my_rating		
					%p.title My rating
					%div.radios
						- TALKING_POINT_RATING_OPTIONS.sort.each do |value ,title|


							-#= label_tag "tp_rating_#{talking_point.id}_#{value}" do
							%div{:class=> value<3 ? 'good' :value==3 ? 'neutral' : 'bad'}
								- if value.to_i == talking_point.my_rating
									%input.rating{:name => "tp_rating_#{talking_point.id}", :id => "tp_rating_#{talking_point.id}_#{value}", :type => 'radio', :value => "#{value}", :title => "#{title}", :checked => 'true'}
								- else
									%input.rating{:name => "tp_rating_#{talking_point.id}", :id => "tp_rating_#{talking_point.id}_#{value}", :type => 'radio', :value => "#{value}", :title => "#{title}"}
								-#%span.option= title
								= label_tag "tp_rating_#{talking_point.id}_#{value}", title

					%p.clear_both
					- if talking_point.my_rating.nil?
						%p.option.please_rate{:title=>"Please rate"} Please rate
					- else
						%p.option{:title=>"#{TALKING_POINT_RATING_OPTIONS[talking_point.my_rating]}"}= TALKING_POINT_RATING_OPTIONS[talking_point.my_rating]
				
		%td
			%abbr.timeago{:title=>talking_point.created_at}= time_ago_in_words(talking_point.created_at) + ' ago'

	- stripe = false
	- comments = @comments.find_all{|c| c.parent_id == talking_point.id && c.parent_type == 13}.sort{|a,b| a.id<=>b.id}.each do |comment|
		- stripe = !stripe
		= render :partial=>'plan/comment_compressed', :locals=>{:comment=>comment, :indent=>2, :stripe => stripe, :q_id=>question.id }

- question_coms = @comments.find_all{|c| c['question_id'] == question.id}
- children_to_delete = []
- stripe = false
- @comments.find_all{|c| c.parent_id == question.id && c.parent_type == 1}.sort{|a,b| a.id<=>b.id}.each do |comment|
	- stripe = !stripe
	= render :partial=>'plan/comment_compressed', :locals=>{:comment=>comment, :indent=>1, :stripe => stripe, :q_id=>question.id }

	- question_coms.find_all{|c| c.parent_id == comment.id && c.parent_type == 3}.sort{|a,b| a.id<=>b.id}.each do |child_comment|
		- stripe = !stripe
		= render :partial=>'plan/comment_compressed', :locals=>{:comment=>child_comment, :indent=>2, :stripe => stripe, :q_id=>question.id }
		- children_to_delete.push(child_comment)
		
- children_to_delete.each{|c| question_coms.delete(c) }	

- stripe = false
- question_coms.sort{|a,b| a.id<=>b.id}.each do |comment|
	- stripe = !stripe
	= render :partial=>'plan/comment_compressed', :locals=>{:comment=>comment, :indent=>1, :stripe => stripe, :q_id=>question.id }
