%div.worksheet.page_content_div
	%div.spiral
	%div.question_worksheet.notebook{:id=>question.id, :ans_criteria=>question.answer_criteria, :talking_point_criteria=>question.talking_point_criteria}
	
		= render :partial => 'plan/question_navigation', :locals=>{:question=>question, :questions=>questions, :counter => question_counter}

		%h2.question{:id=>question.id} Q#{question.order_id}: #{question.text}
		%div.talking_point_sec
			%h3.ques_sub_hdg Talking points suggested and rated by your community
			%div.talking_points_list{:id=>question.id}
	
	
				%div.talking_point_entry.header
					%div.talking_point_body
						%div.instr
							= image_tag('red_arrow.gif', :class=>'red_arrow')		
							%p.instr
								The goal is to reach agreement on the most preferred talking points that are acceptable to most of your community. 
								= link_to "Learn more"

					%div.talking_point_acceptable
						%p.title Acceptable

					%div.talking_point_preferable
						%p.title Preferable
		
					%p.clear_both
				

				= render :partial=> 'plan/talking_point', :collection => question['talking_points_to_display']
				
				%p.clear_both
				%p.show_more_link
					- if question.num_new_talking_points > 0
						= link_to "Show #{ pluralize(question.num_new_talking_points, 'more new talking point')}", question_new_talking_points_path(question, :ids => question['talking_points_to_display'].map(&:id).join('-') ), { :class=> 'show_new_talking_points', :id=>question.id, :remote => true }
					- if question.num_talking_points > question['talking_points_to_display'].length
						= link_to "Show #{ pluralize(question.num_talking_points - question['talking_points_to_display'].length, 'more talking point')}", question_all_talking_points_path(question, :ids => question['talking_points_to_display'].map(&:id).join('-') ), { :class=> 'show_all_talking_points', :id=>question.id, :remote => true }
					- if question.num_talking_points == 0
						There are no talking points for this question, please add one with the form below.
				

		= link_to "Tell us what you think and learn more", {}, {:class=> 'open_worksheet'}
		= render :partial => 'plan/what_do_you_think', :locals => {:question_id=>question.id}


		%div.ques_discussion.discussion{:id=>question.id}
			%h3.ques_sub_hdg Comments posted by your community

			- if question['comments_to_display'].size > 0
				= render :partial=> 'plan/comment', :collection => question['comments_to_display'].sort{|a,b| a.id<=>b.id}
			- else
				%div.Comment.hide
				
			%p.clear_both



			%p.show_more_link
			
				- if question.new_coms > 0
					= link_to "Show #{ pluralize(question.new_coms, 'more new comment')}", question_new_comments_path(question, :ids => question['comments_to_display'].map(&:id).join('-') ), { :class=> 'show_new_comments', :id=>question.id, :remote => true }
										
				- if question.coms > question['comments_to_display'].length
					= link_to "Show #{ pluralize(question.coms - question['comments_to_display'].length, 'more comment')}", question_all_comments_path(question, :ids => question['comments_to_display'].map(&:id).join('-') ), { :class=> 'show_all_comments', :id=>question.id, :remote => true }
					
				- if question.coms == 0
					Question has no comments yet, please start the conversation
					
		= render :partial => 'plan/question_navigation', :locals=>{:question=>question, :questions=>questions, :counter => question_counter}
