%div.talking_point_sec
	%h3.ques_sub_hdg 
		Talking points suggested and rated by your community
		- if question.answers.size > 0 || question.bs_ideas.size > 0
			= link_to 'Show old answers and ideas', question_old_data_path(question.id), {:remote=>true}

	- if flash[:unrecorded_talking_point_preferences]
		%p.warn You checked "I prefer this" on more than 5 talking points
		%p.warn Each participant is limited to 5 preferences per question
		%p.warn Please review your preferences and try again


	%div.talking_points_list{:id=>question.id}

		%div.talking_point_entry.header
			%div.talking_point_body
				%div.instr.arrow
					%p.instr
						The goal is to reach agreement on the most preferred talking points that are acceptable to most of your community. 
						= link_to "Learn more", visual_help_path, {:remote=>true}
						

			%div.talking_point_acceptable.corner
				%p.title Acceptable

			%div.talking_point_preferable.corner
				%p.title Preferable

			%p.clear_both


		= render :partial=> 'plan/talking_point', :collection => question['talking_points_to_display']

		%p.clear_both.new_tp_insert_point
		%p.show_more_link
			- if question.num_new_talking_points > 0
				= link_to "Show #{ pluralize(question.num_new_talking_points, 'more new talking point')}", question_new_talking_points_path(question, :ids => question['talking_points_to_display'].map(&:id).join('-') ), { :class=> 'show_new_talking_points', :id=>question.id, :remote => true }
			- if question.num_talking_points > question['talking_points_to_display'].length
				= link_to "Show #{ pluralize(question.num_talking_points - question['talking_points_to_display'].length, 'more talking point')}", question_all_talking_points_path(question, :ids => question['talking_points_to_display'].map(&:id).join('-') ), { :class=> 'show_all_talking_points', :id=>question.id, :remote => true }
			- if question.num_talking_points == 0
				%div.talking_point_placeholder.corner
					%p Your community should work together to answer this question by suggesting talking points.
					%p A talking point is a short sentence that clearly states a single idea to be considered, discussed and rated by community members.
				
					%p 
						Please be the first person to suggest a talking point by typing it in the form below.
					%p	
						Learn more by watching 
						#{link_to 'our intro video', {},:rel=>'prettyPhoto', :href=>'http://vimeo.com/29348381', :title=>'2029 CivicEvolution Intro'}, 
						reading our #{link_to "short intro", help_develop_path, {:remote=>true}}, 
						or #{link_to "browsing the visual help", visual_help_path, {:remote=>true}}.
