- question['talking_points_to_display'] ||= question.top_talking_points
%div.question_summary{:id=>question.id}
	%p.question
		= link_to "Q#{question.order_id}: #{question.text}", question_worksheet_path(question), {:class=> 'display_worksheet', :remote => true}
		
	%div.talking_point_sec
		%div.talking_points_list.summary.corner{:id=>question.id}
			%ul.talking_points
				- if question['talking_points_to_display'].size == 0
					%p.example
						Here are some
						%b example 
						talking points that describe CivicEvolution
					%li Your community works together to create talking points to answer each question
					%li A talking point is a short sentence that clearly states a single idea
					%li We discuss, rate and refine the talking points to find those that are acceptable to most of our community
					%li Anyone can suggest a talking point
					-#%li Everyone should review, rate and discuss the talking points
					%li Each time you return to this proposal, you will see the talking points that have been added or edited since your last visit
				
					%div#add_tp.talking_point_form.hint.corner
						%div.form.cta
							%p 
								Click to 
								#{link_to 'suggest a talking point', question_worksheet_path(question), {:remote=> true}} or
								#{link_to 'discuss this question', question_worksheet_path(question), {:remote=> true}}
								-# by opening the talking points worksheet
						%div.instr
							%p 
						%p.clear_both

				- else
					- question['talking_points_to_display'].each do |talking_point|
						%li.talking_point= talking_point.text
					- if question.talking_points.size - question['talking_points_to_display'].size > 0
						%div#add_tp.talking_point_form.hint.corner
							%div.form.cta
								%p Click here to display #{link_to pluralize( question.talking_points.size - question['talking_points_to_display'].size, 'more talking point'), question_summary_path(question.id, :all=>'t'), :remote=>true}
							%div.instr
								%p 
							%p.clear_both
						
					
						-#%li= link_to pluralize( question.talking_points.size - question['talking_points_to_display'].size, 'more talking point'), question_summary_path(question.id, :all=>'t'), :remote=>true						
			
			
					%div#add_tp.talking_point_form.hint.corner
						%div.form.cta
							%p 
								We need to hear from you. Please 
								= link_to 'rate', question_worksheet_path(question), {:class=> 'open_worksheet', :remote => true}
								these talking points and 
								= link_to 'tell us', question_worksheet_path(question), {:class=> 'open_worksheet', :remote => true}
								what you think
						%div.instr
							%p 
						%p.clear_both
					
				-# if question.answers.size > 0 || question.bs_ideas.size > 0
					%p= link_to 'Show old answers and ideas', question_old_data_path(question.id), {:remote=>true}
			
		
			-#
				- if question.num_new_talking_points > 0
					%p #{question.num_new_talking_points} new talking points
				- elsif question.num_talking_points > question.top_talking_points.length
					%p.show_more_link= link_to "Show #{question.num_talking_points - question.top_talking_points.length} more talking points", {}, { :class=> 'question_show_talking_points', :id=>question.id }
				- elsif question.num_talking_points == 0
					%p There are no talking points for this question, please add one with the form below.
