%div.question_summary{:id=>question.id}
	%h2.question Q#{question.order_id}: #{question.text}
	- if true
		= link_to "Theme this question", theme_question_ideas_path(question.id), {class: 'theme_question_ideas', rel: 'nofollow', remote: true }
	- if question.unrated_ideas_count > 0 
		= link_to "Review and rate #{pluralize(question.unrated_ideas_count, 'idea')}", view_idea_details_path(0, question_id: question.id, act: 'review_unrated_ideas' ), {class: 'view_unrated_ideas', rel: 'nofollow', remote: true }
		
	- else
		%p There are no unrated ideas for this question
	- if question.themes.empty?
		%p Please create at least one theme
	- else
		- question.themes.sort {|a,b| a.order_id <=> b.order_id }.each do |theme|
			%h3.theme= theme.text
	
	= form_tag add_idea_path(question.id), :class=>'std_form suggest_idea', :remote=>true do 
		%div.add_idea
			= text_area_tag :text, '', :class=>'answer autosize', :size=>"1x2", :fixed_rows=>true
			
			
			
		%p.form_controls
			= submit_tag "Add my idea", :name=>'endorse', 'data-disable-with'=>'Submitting...'
			%span.char_ctr 200 characters
			= link_to 'Clear', '#', {:class=>'clear', :rel=>'nofollow'}

		%p.clear

