%div.talking_point_sec
	%h3.ques_sub_hdg 
		Talking points suggested and rated by your community
		= link_to 'Show old answers and ideas', question_old_data_path(question.id), {:remote=>true}

	- if flash[:unrecorded_talking_point_preferences]
		%p.warn You checked "I prefer this" on more than 5 talking points
		%p.warn Each participant is limited to 5 preferences per question
		%p.warn Please review your preferences and try again


	%div.talking_points_list{:id=>question.id}

		%div.talking_point_entry.header
			%div.talking_point_body
				%div.instr.arrow
					%p.instr
						The goal is to reach agreement on the most preferred talking points that are acceptable to most of your community. 
						= link_to "Learn more", visual_help_path, {:remote=>true}

			%div.talking_point_acceptable.corner
				%p.title Acceptable

			%div.talking_point_preferable.corner
				%p.title Preferable

			%p.clear_both


		= render :partial=> 'plan/talking_point', :collection => question['talking_points_to_display']

		%p.clear_both
		%p.show_more_link
			- if question.num_new_talking_points > 0
				= link_to "Show #{ pluralize(question.num_new_talking_points, 'more new talking point')}", question_new_talking_points_path(question, :ids => question['talking_points_to_display'].map(&:id).join('-') ), { :class=> 'show_new_talking_points', :id=>question.id, :remote => true }
			- if question.num_talking_points > question['talking_points_to_display'].length
				= link_to "Show #{ pluralize(question.num_talking_points - question['talking_points_to_display'].length, 'more talking point')}", question_all_talking_points_path(question, :ids => question['talking_points_to_display'].map(&:id).join('-') ), { :class=> 'show_all_talking_points', :id=>question.id, :remote => true }
			- if question.num_talking_points == 0
				There are no talking points for this question, please add one with the form below.
