%div.worksheet.page_content_div
	%div.question_worksheet.notebookX.corner{:id=>question.id, :ans_criteria=>question.answer_criteria, :talking_point_criteria=>question.talking_point_criteria}
	
		-#%h2.worksheet_team= question.team.title
		-#= render :partial => 'plan/question_navigation', :locals=>{:question=>question, :questions=>questions, :counter => question_counter}

		-#%h2.question{:id=>question.id} Q#{question.order_id}: #{question.text}
		
		- if question.inactive
			%h2.warn This question has been marked as inactive
			%p.warn 
				Please return to the 
				= link_to 'proposal summary', plan_path(question.team.id)
		- else
			
			- if request.xhr?
				%div#add_tp.talking_point_form.hint.corner
					%div.form.cta
						%p Please create, discuss, rate and refine the talking points below to answer this question and find those that are acceptable to most of our community
					%div.instr.icon
						%p= link_to image_tag('close_icon_16.gif',{:title=>'Click to close worksheet', :class=>'close_worksheet'}) + "Close this talking points worksheet", question_summary_path(question.id), :remote=>true, :class=>'close_worksheet'
						
					%p.clear_both
				
				-#%p.worksheet_intro Please create, discuss, rate and refine talking points to answer this question and find those that are acceptable to most of our community. #{link_to "Close talking points worksheet", question_summary_path(question.id), :remote=>true}
				%div
				
					= render :partial => 'plan/question_contents', :locals => {:question => question, :questions => questions, :question_counter => question.order_id }
					%p.clear_both
			- else
				= form_tag update_worksheet_ratings_path(question), :class=>'update_worksheet' do
					= hidden_field_tag :tp_ids, "#{ question['talking_points_to_display'].map(&:id).join(',') }"

					= render :partial => 'plan/question_contents', :locals => {:question => question, :questions => questions, :question_counter => question.order_id }
					= submit_tag "Save your ratings and preferences", :class=>'submit_ratings'
					%p.clear_both
					
			-# Calls to action
			- if @add_tp
				%div#add_tp.talking_point_form.hint.corner
					%div.form.cta
						%p If you have a specific idea for answering this question, please add a talking point in the form below 
					%div.instr
						%p Or you can share your thoughts in a comment
						
					%p.clear_both
				
			- if @rate_tp
				%div#rate_tp.talking_point_form.hint.corner
					%div.form.cta
						%p Click the circle below the colored bar to indicate how you feel about each talking point. Your choices range from perfectly acceptable (dark green) to completely unacceptable (dark red)
					%div.instr
						%p 

					%p.clear_both

			- if @fav_tp
				%div#fav_tp.talking_point_form.hint.corner
					%div.form.cta
						%p Click the star to mark the talking points your prefer. If you click more than 5 talking points for one question, you will be prompted to choose your 5 most favorite.
					%div.instr
						%p 

					%p.clear_both

			- if @com_tp
				%div#com_tp.talking_point_form.hint.corner
					%div.form.cta
						%p You can comment on the talking points by clicking the Reply/Comments under each talking point
					%div.instr
						%p Add questions and offer suggestions

					%p.clear_both

					

			= render :partial => 'plan/talking_point_form', :locals => {:question_id=>question.id}
			
			%div.ques_discussion.discussion{:id=>question.id}
				-#%h3.ques_sub_hdg Recent comments posted by your community

				- if question['comments_to_display'].size > 0
					= render :partial=> 'plan/comment', :collection => question['comments_to_display'].sort{|a,b| a.id<=>b.id}
				- else
					%div.Comment.hide
			
			%p.show_more_link.clear_both
				- if question.new_coms > 0
					= link_to "Show #{ pluralize(question.new_coms, 'more new comment')}", question_new_comments_path(question, :ids => question['comments_to_display'].map(&:id).join('-') ), { :class=> 'show_new_comments', :id=>question.id, :remote => true }
								
				- if question.coms > question['comments_to_display'].length
					= link_to "Show #{ pluralize(question.coms - question['comments_to_display'].length, 'earlier comment')}", question_all_comments_path(question, :ids => question['comments_to_display'].map(&:id).join('-') ), { :class=> 'show_all_comments', :id=>question.id, :remote => true }
			
				-# if question.coms == 0
					%div.question_discussion_placeholder
						%p Please start the conversation about this question.
						%p Click "Add a comment" in the form above and type your comment.
	
		%div.question_com_form
			= render :partial => 'plan/comment_form', :locals => {:id=>question.id, :type => 'question', :criteria => '5..1500', :text => ''}
				
		-#= render :partial => 'plan/question_navigation', :locals=>{:question=>question, :questions=>questions, :counter => question_counter}
		
		- if request.xhr?
			%p.worksheet_intro
				= link_to image_tag('close_icon_16.gif',{:title=>'Click to close worksheet', :class=>'close_worksheet'}) + "Close this talking points worksheet", question_summary_path(question.id), :remote=>true, :class=>'close_worksheet'
			