%div.question_summary{:id=>question.id}
	%p.question
		= link_to "Q#{question.order_id}: #{question.text}", question_worksheet_path(question, :date=>params[:date]), {:class=> 'display_worksheet', :remote => true, 'data-disable-with'=>'<img src="/assets/wait3.gif"/>'}
	
	%div.talking_point_sec
		%div.talking_points_list.summary.corner{:id=>question.id}
			- if question.curated_talking_points.size == 0 # show the default talking points
				-#= add_call_to_action(:id=>'question_summary_above_default_list', :question=>question)	
				%ul.talking_points{:id=>question.id, :curated_tp_ids=>question.curated_tp_ids, :auto_curated=> question.auto_curated ? 't' : 'f'}
					- da = @default_answers.detect{|da| da.id == question.default_answer_id}
					- if da
						- da.checklist.split(/\n/).each do |point|
							%li.checklist= point
					- else
						%li Click the question link above to help answer this question
				
			- else # show the curated talking points
				-#= add_call_to_action(:id=>'question_summary_above_curated_list', :question=>question)
				%ul.talking_points{:id=>question.id, :curated_tp_ids=>question.curated_tp_ids, :auto_curated=> question.auto_curated ? 't' : 'f'}
					- question.curated_talking_points.each do |talking_point|
						- if !talking_point.nil?
							%li.talking_point{:id=>talking_point.id}
								= talking_point.text
							
				
					