- link ||= 'yes'
%div.question_summary{:id=>question.id}
	%h2.question Q#{question.order_id}: #{question.text}
			
	%h3.summary 
		%span Answer composed from ideas

		= link_to 'Rate new ideas', view_idea_details_path(0, question_id: question.id, act: 'review_unrated_ideas' ), {class: 'view_unrated_ideas hide', rel: 'nofollow', remote: true, wait: 'gif' }
		
		= link_to 'View all ideas', question_view_path(question.id, page: 'theming'), {class: 'view_all_ideas hide', rel: 'nofollow', remote: true, wait: 'gif', title: 'Click to view the theming page for this question' }
				
	%ul.themes
		- no_themes = true
		- question.themes.sort {|a,b| a.order_id <=> b.order_id }.each do |theme|
			- if theme.version > 0 && theme.visible
				- no_themes = false
				%li.theme{id: theme.id}	
					= link_to view_idea_details_path(theme.id), {class: 'view_theme', rel: 'nofollow', remote: true, wait: 'gif', title: 'Click to discuss and rate this answer' } do
						%div.answer
							:markdown
								#{theme.text}
										
						%div.comments
							= image_tag('comment-sketch.gif', title: 'Number of comments')
							%div.counts
								%div.new
									0 new
								%div.total
									0 total
						-#%p.clear_both
	
		- if no_themes
			%li.theme No answers have been composed yet
	
	%div.form_help_slide.collapsed
		= link_to 'close', {}, class: 'close'
		%div.help_header
			%h3.label Please share your ideas
		%div.help_body
			%ul.instructions
				%li.emphasis Each idea should clearly and briefly state a single point to be considered in answering this question
			
			- if !question.prompt.nil?
				%h3.framing Framing issues for you to consider for this question
				%ul.framing_questions
					- question.prompt.checklist.split(/\n/).each do |issue|
						%li= issue
			
	= form_tag add_idea_path(question.id), :class=>'std_form suggest_idea', :remote=>true do 
		%div.add_idea
			%div.form
				= hidden_field_tag :attachments
				= text_area_tag :text, '', :class=>'answer autosize', :size=>"1x2", :fixed_rows=>true, placeholder: 'Write your idea...'
				
				%div.attachments
					%p.clear_both
			= link_to '', {}, class: 'show_idea_help_popup', tabindex: 1000
			%div.attachment_btn
				%div.inner
					%input.attachment-upload{type: "file", name: "attachment", tabindex: 1000, 'data-url'=>question_attachment_path(question.id) }
			%div.attachment_upload_progress
				%div.bar{style: "width: 0%;"}
			
		%p.form_controls
			= submit_tag "Add my idea", :name=>'add_idea', wait: 'gif'
			%span.char_ctr 200 characters
			= link_to 'Clear', '#', {:class=>'clear', :rel=>'nofollow'}

		%p.clear_both
		
	- if !question.themes.empty?
		= render( partial: 'ideas/rating', locals: { idea: question } )
		
	%h3.label.discussion{idea_id: question.id}
		= link_to view_idea_details_path(question.id), {class: 'view_all_ideas', rel: 'nofollow', remote: true, wait: 'gif', title: 'Click to view the discussion for this question', orig_text: "What comments or questions do you have?" } do
			%span What comments or questions do you have?
			%div.comments
				= image_tag('comment-sketch.gif', title: 'Number of comments')
				%div.counts
					%div.new
						0 new
					%div.total
						0 total
		%p.clear_both
	%div.discussion
		

		

