%p.clear_both
%div.talking_point_form.corner
	%div.form
		%h4 Share a new talking point
	
		- if flash[:worksheet_error]
			- flash[:worksheet_error].full_messages.each do |e|
				%p.warn= e
		- if flash[:params]
			- text = flash[:params][:text] ? flash[:params][:text] : ''
			- type = flash[:params][:input_type] ? flash[:params][:input_type] : ''
		- else
			- text = ''
			- type = ''
		
		= form_tag(add_talking_point_path(question_id), :remote=>true, :id=>'talking_point_form', :class=>'talking_point_form std_form') do
		
			= text_area_tag :text, text, {:class=>'autosize'}

			%div.form_controls
				= submit_tag "Share", :name=>'sign_in', 'data-disable-with'=>'Submitting...'
		
				%span.char_ctr
					-#= @team.com_criteria.match(/..(\d+)/)[1]
					200
					characters

				- if 	params[:action] == "what_do_you_think_form"
					= link_to 'Cancel', question_worksheet_path(question_id), {:class=>'clear', :rel=>'nofollow'}
				- else
					= link_to 'Clear', {:action => 'index'}, {:class=>'clear', :rel=>'nofollow'}
			
				-#
					= image_tag('icon_linkc.gif',{:class=>'show_add_link',:title=>'Add a link'})
					= image_tag('icon_upload.gif',{:class=>'show_attach_file',:title=>'Attach a file'})

	%div.instr
		%p 
			Clearly state a single idea to be rated. It must be less than 200 characters long and will be posted anonymously.
			= link_to "Help", visual_help_path, {:remote=>true}
		
	%p.clear_both
	

-#%div.talking_point_form.disc.corner
	%div.form
		%h4 What do you think?
		%p Discuss this question and the talking points listed above

	%div.instr
		%p 
			Comments can be up to 1500 characters long and will be posted with your name.
			= link_to "Help", visual_help_path, {:remote=>true}
				
	%p.clear_both
	

