%div.talking_point_entry.corner{:id=>talking_point.id, :class => talking_point['highlight'] ? 'highlight' : ''}
	%div.talking_point_body
		%p.talking_point= talking_point.text

		%div.talking_point_controls
			- if talking_point['comments']
				- link_text = "Hide discussion"
			- elsif talking_point.new_coms > 0
				- link_text = "Show #{pluralize(talking_point.new_coms, 'new comment')}"
			- elsif talking_point.coms > 0
				- link_text = "Show #{pluralize(talking_point.coms, 'comment')}"
			- else
				- link_text = "Reply"
			%p.coms
				= link_to link_text, talking_point_comments_path(talking_point), { :class=> 'tp_show_coms', :remote=>true}
			%p.other
				= link_to "Edit", edit_talking_point_path(talking_point), {:class => 'edit', :rel=>'nofollow', :remote=>true}
				- if talking_point.version > 1
					= link_to "#{pluralize(talking_point.version - 1, ' version')}", talking_point_versions_path(talking_point), {:class => 'versions', :rel=>'nofollow', :remote=>true}
				-# else
					= link_to "View 1 old version", talking_point_versions_path(talking_point), {:class => 'versions hide', :rel=>'nofollow', :remote=>true}
				= link_to "Report", report_talking_point_path(talking_point), {:class=>'report', :rel=>'nofollow', :remote=>true}

	= render :partial => 'talking_point_acceptable_ratings/rating', :locals => {:talking_point => talking_point}
	= render :partial => 'talking_point_preferences/preference', :locals => {:talking_point => talking_point}
	
	
	%p.clear_both
- if talking_point['comments']
	= render :partial => 'comments/talking_point_comments.html', :locals => { :talking_point => talking_point, :comments => talking_point['comments'], :com_criteria => @team.com_criteria }
