- no_com_link ||= false
- classes = (talking_point['highlight'] ? 'highlight' : '') + (talking_point.selected ? ' selected' : '')
%div.talking_point_post_it{:id=>talking_point.id, :class => classes}
	%div.visibility
	%p.talking_point{:id=>talking_point.id,:tp_id=>talking_point.id}= talking_point.text

	%div.details
		- if @edit_tps_allowed
			= link_to edit_talking_point_path(talking_point), {:remote=>true, :class=>'edit', 'data-disable-with'=>'<img src="/images/wait3.gif"/>'} do
				%div.edit.img{:title=>'Click to edit this talking point'}
				-#= image_tag 'pencil_edit.gif', {:title=>'Click to edit this talking point'}
		- else
			%div.edit
			
		%div.com_edit
			- if no_com_link
				-#= link_to talking_point_comments_path(talking_point), {:remote=>true, :class=>'tp_show_coms', 'data-disable-with'=>'<img src="/images/wait3.gif"/>'} do
				%div.talking_point_com_count
					- if talking_point.coms > 0
						%p{:title => "Click to see #{pluralize(talking_point.coms, 'comment')}"}= talking_point.coms
					- else
						%p{:title => 'Click to add a comment'} +
			
			- else
				= link_to talking_point_comments_path(talking_point), {:remote=>true, :class=>'tp_show_coms', 'data-disable-with'=>'<img src="/images/wait3.gif"/>'} do
					%div.talking_point_com_count.pointer
						- if talking_point.coms > 0
							%p{:title => "Click to see #{pluralize(talking_point.coms, 'comment')}"}= talking_point.coms
						- else
							%p{:title => 'Click to add a comment'} +

			= link_to "v#{talking_point.version}", talking_point_versions_path(talking_point), {:class => talking_point.version > 1 ? 'versions' : 'versions hide', :title => "Click to view #{pluralize(talking_point.version-1, 'older version')}", :rel=>'nofollow', :remote=>true}
	

		
		= render :partial => 'talking_point_acceptable_ratings/rating_post_it', :locals => {:talking_point => talking_point}
	
		%div.favorite{:id => talking_point.id}
			%input.fav_button{:class=> talking_point.my_preference ? 'fav' : '', :type=>"button", :name=>"btnFav", :title=>"Click to add or remove as favorite"}
			- if talking_point.my_rating.nil?
				%p Fav
			- elsif talking_point.preference_votes.nil? 
				%p 0
			- else 
				%p= talking_point.preference_votes
		
	
	%p.clear_both
