%div.talking_point_entry{:id=>talking_point.id, :class => talking_point['highlight'] ? 'highlight' : ''}
	%div.talking_point_body
		%p.talking_point= talking_point.text

		%div.talking_point_controls
			- if talking_point['comments']
				- link_text = "Hide discussion"
			- elsif talking_point.new_coms > 0
				- link_text = "Show #{pluralize(talking_point.new_coms, 'new comment')}"
			- elsif talking_point.coms > 0
				- link_text = "Show #{pluralize(talking_point.coms, 'comment')}"
			- else
				- link_text = "Reply"
			%p.coms
				= link_to link_text, talking_point_comments_path(talking_point), { :class=> 'tp_show_coms', :id=>talking_point.id, :remote=>true}
			%p.other
				= link_to "Edit", edit_talking_point_path(talking_point), {:class => 'edit', :rel=>'nofollow', :remote=>true}
				- if talking_point.version == 2
					= link_to "View old version"
				- elsif talking_point.version > 2
					= link_to "View #{pluralize(talking_point.version - 1, 'old version')}"
				= link_to "Report", report_talking_point_path(talking_point), {:class=>'report', :rel=>'nofollow', :remote=>true}

	%div.talking_point_acceptable
		%div.my_rating
			%p.title My rating
			= form_tag( {:controller => 'idea', :action => 'answer_rating'} ) do
				%div.radios
					- TALKING_POINT_RATING_OPTIONS.sort.each do |value ,title|
					
						= label_tag "tp_rating_#{talking_point.id}_#{value}" do
							%div{:class=> value<3 ? 'good' :value==3 ? 'neutral' : 'bad'}
								- if value.to_i == talking_point.my_rating
									%input.rating{:name => "tp_rating_#{talking_point.id}", :id => "tp_rating_#{talking_point.id}_#{value}", :type => 'radio', :value => "#{value}", :title => "#{title}", :checked => 'true'}
								- else
									%input.rating{:name => "tp_rating_#{talking_point.id}", :id => "tp_rating_#{talking_point.id}_#{value}", :type => 'radio', :value => "#{value}", :title => "#{title}"}
			%p.clear_both
			- if talking_point.my_rating.nil?
				%p.please_rate Please rate
			- else
				%p.option= TALKING_POINT_RATING_OPTIONS[talking_point.my_rating]
				

		-#talking_point.rating_votes = [5,3,1,4,2]
		- vote_max = 0
		- num_votes = 0

		- talking_point.rating_votes.each{ |v| num_votes += v; vote_max = v unless vote_max > v }
		- barw = 16
		%div.community_rating
			%p.talking_point_ratings= "#{num_votes} ratings"
			%div.graph 
				- talking_point.rating_votes.each_index do |i|
					%div.bar.zero{:style=>"left: #{barw * i}px; height: 100%"}
					- if talking_point.rating_votes[i] > 0
						%div{:class=> i<2 ? 'bar' : i==2 ? 'bar neutral' : 'bar bad',  :style=>"left: #{barw * i}px; height: #{talking_point.rating_votes[i].to_f/vote_max * 100}%"}
					
			-#%p.talking_point_ratings= talking_point.rating_votes				
	
	
	%div.talking_point_preferable

		- if !talking_point.preference_votes.nil?
			%p.total_preference #{talking_point.preference_votes} people prefer this
			%p.my_preference
				= label_tag "preference{talking_point.id}" do
					- if talking_point.my_preference
						%input{:name=>"preference_#{talking_point.id}", :id=>"preference_#{talking_point.id}", :type=>'checkbox', :checked => true}
					- else
						%input{:name=>"preference_#{talking_point.id}", :id=>"preference_#{talking_point.id}", :type=>'checkbox'}
					I prefer this

		- else
			%p.total_preference No one prefers this
			%p.my_preference 
				= label_tag "preference_#{talking_point.id}" do
					%input{:name=>"preference_#{talking_point.id}", :id=>"preference_#{talking_point.id}", :type=>'checkbox'}
					I prefer this
	%p.clear_both
- if talking_point['comments']
	= render :partial => 'comments/talking_point_comments.html', :locals => { :talking_point => talking_point, :comments => talking_point['comments'], :com_criteria => @team.com_criteria }
