%div.talking_point_entry.corner{:id=>talking_point.id, :class => talking_point['highlight'] ? 'highlight' : ''}
	%div.talking_point_icon{:class => talking_point['new'] ? 'new' : ''}
		= link_to edit_talking_point_path(talking_point), {:remote=>true, :class=>'edit'} do
			= image_tag 'pencil_edit.gif', {:title=>'Click to edit this talking point'}
	%div.talking_point_body{:class => talking_point['new'] ? 'new' : ''}
		- if talking_point.id == 0
			%p.talking_point
				%b This is an example of a talking point
			
		%p.talking_point{:id=>talking_point.id,:tp_id=>talking_point.id}= talking_point.text

	%div.talking_point_details
		= link_to talking_point_comments_path(talking_point.id), {:remote=>true, :class=>'tp_show_coms'} do
			%div.talking_point_com_count
				- if talking_point.coms > 0
					%p{:title => "Click to see #{pluralize(talking_point.coms, 'comment')}"}= talking_point.coms
				- else
					%p{:title => 'Click to add a comment'} +

			- if talking_point.version > 1
				= link_to "v#{talking_point.version}", talking_point_versions_path(talking_point), {:class => 'versions', :title => "Click to view #{pluralize(talking_point.version-1, 'older version')}", :rel=>'nofollow', :remote=>true}
	

		
	= render :partial => 'talking_point_acceptable_ratings/rating', :locals => {:talking_point => talking_point}
	= render :partial => 'talking_point_preferences/preference', :locals => {:talking_point => talking_point}
	
	
	%p.clear_both
- if talking_point['comments']
	= render :partial => 'comments/talking_point_comments', :formats => [:html], :locals => { :talking_point => talking_point, :comments => talking_point['comments'], :com_criteria => @team.com_criteria }
