%div.what_do_you_think
	%h3.ques_sub_hdg What do you think?
	
	- if flash[:worksheet_error]
		- flash[:worksheet_error].full_messages.each do |e|
			%p.warn= e
	- if flash[:params]
		- text = flash[:params][:text] ? flash[:params][:text] : ''
		- type = flash[:params][:input_type] ? flash[:params][:input_type] : ''
	- else
		- text = ''
		- type = ''
		
	-#= form_tag("/questions/#{question_id}/what_do_you_think", :remote=>true, :id=>'what_do_you_think_form', :class=>'what_do_you_think') do
	= form_tag(what_do_you_think_path(question_id), :remote=>true, :id=>'what_do_you_think_form', :class=>'what_do_you_think') do
		
		%table{:border=>0}
			%tbody
				%tr
					%td
						= radio_button_tag :input_type, 'talking_point', type == 'talking_point' ? true : false
					%td.icon
						= label_tag :input_type_talking_point do
							%div.talking_point.icon
								= image_tag('white_bulb.gif')						
							%p Add a talking point
					%td
						%ul
							%li Clearly state a single idea to be rated
							%li This will appear in a blue box above
							%li Must be less than 200 characters long

				%tr
					%td
						= radio_button_tag :input_type, "comment", type == 'comment' ? true : false 
					%td.icon
						= label_tag :input_type_comment do
							%div.comment.icon
								= image_tag('user.gif')						
							%p Add a comment
					%td
						%ul
							%li Discuss this question and talking points
							%li This will appear as a comment below
							%li Must be less than 1500 characters long

		= text_area_tag :text, text, {:class=>'autosize'}

		%div.form_controls
			%button 
				Share
			
			%span.char_ctr
				-#= @team.com_criteria.match(/..(\d+)/)[1]
				200
				characters

			- if 	params[:action] == "what_do_you_think_form"
				= link_to 'Cancel', question_worksheet_path(question_id), {:class=>'clear', :rel=>'nofollow'}
			- else
				= link_to 'Clear', {:action => 'index'}, {:class=>'clear', :rel=>'nofollow'}
				
			-#
				= image_tag('icon_linkc.gif',{:class=>'show_add_link',:title=>'Add a link'})
				= image_tag('icon_upload.gif',{:class=>'show_attach_file',:title=>'Attach a file'})
				
	%p.clear_both
	
	%div.instr
		%p 
			Pick the way you want to share with your community.
			= link_to "Help me"

