%div.new_content
	%table#new_content{:cellspacing=> 0}
		%tbody
			- if @team.new_content.empty?
				%tr.title
					%td No updates since last visit
			- else
				%tr.title
					%td
						- if @member.id == 0
							Recent since #{@last_visit.strftime('%a %b %d, %Y')}
						- else
							Updates since #{@last_visit.strftime('%a %b %d, %Y')}
						
				- @team.new_content.each_value do |question|
					- if !question[:talking_points].empty?
						%tr.question{:id=>question[:id]}
							%td
								Q#{question[:order_id]} #{question[:text]}
					
						- question[:talking_points].each_value do |tp|
							%tr.talking_point{:tp_id=>tp.id}
								- if tp.is_new 
									%td{:title => 'Click here to rate this talking point'}
										%span.rate Rate:
										= tp.text
								- elsif tp['updated']
									%td
										!= tp.text
										%span.edited (Edited)
								- else
									%td
										= tp.text
								
							- tp.tp_comments.each_value do |com|
								- pcs = com.text.split('[/quote]')
								- if pcs.size > 1
									- text = 're... ' + pcs.last.gsub(/[\r\n]/,'')
								- else
									- text = com.text
								%tr.comment{:com_id=>com.id, :tp_id=>com.parent_id}
									%td{:title=>text}
										= truncate(text, :length => 100)
			%tr.title
				%td New updates
			
							
