%div.new_content
	%table#new_content{:cellspacing=> 0}
		%tbody
			- if @team.new_content.empty?
				%tr.title
					%td No updates since last visit
			- else
				%tr.title
					%td
						- if @member.id == 0
							Recent since #{@last_visit.strftime('%a %b %d, %Y')}
						- else
							Updates since #{@last_visit.strftime('%a %b %d, %Y')}
						
				- @team.new_content.each_value do |question|
					- if !question[:talking_points].empty?
						%tr.question
							%td
								Q#{question[:order_id]} #{question[:text]}
					
						- question[:talking_points].each_value do |tp|
							%tr.talking_point{:tp_id=>tp.id}
								- if tp['new'] 
									%td{:title => 'Click here to rate this talking point'}
										%span.rate Rate:
										= tp.text
								- elsif tp['updated']
									%td
										!= tp.text
										%span.edited (Edited)
								- else
									%td
										= tp.text
								
							- tp[:comments].each_value do |com|
								%tr.comment{:com_id=>com.id, :tp_id=>com.parent_id}
									%td{:title=>com.text}
										= truncate(com.text, :length => 100)
			%tr.title
				%td New updates
			
							
	%style
		:sass
			table#new_content
				width: 100%
				margin: 0
				
				font-size: .8em
				td
					position: relative
					img
						position: absolute
						top: 0
						left: 100px
				tr.title
					font-style: italic
				tr.striped
					background-color: #eee
				tr.question
					font-size: 1em
					font-variant: small-caps
					padding-top: 10px
					padding-bottom: 4px
					
				tr.talking_point
					font-size: 1em
					span.rate
						color: red
					span.edited
						color: blue
					ins
						color: green
					del 
						color: red
					td
						padding: 3px 0 3px 6px
					cursor: pointer
				tr.comment
					font-size: 1em
					font-style: italic
					td
						padding: 3px 0 3px 12px
					cursor: pointer
					