- logger.debug "\n\n*************** Begin to render the plan page\n\n"
%div.page_content_div
	:javascript
		var pub_sub_channels = #{@channels}
	%div.talking_points_page
		%div.left_side
			%div.logo
				%a{ :href=> '/'}
					= image_tag("2029_logo_tag.gif")
			%hr.top
			
			%div.notebook.corner
				%div.intro
					%div.suggest_title
						%img{:src=>@team.organizer.photo.url('36'),:class=>'i36'}
						%h3 #{@team.organizer.first_name} #{@team.organizer.last_name} suggested this idea for change:
					%h2.home_title 
						%span #{@team.title}
						- if @member.id == @team.org_id
							= link_to "edit", edit_plan_summary_path(@team), {:class => "edit_summary"}

					%div.summary
						- if @member.id == @team.org_id
							= simple_format( h @team.solution_statement ).sub(/<\/p>$/, ' ' + (link_to "edit", edit_plan_summary_path(@team), {:class => "edit_summary"} ) + '</p>')
						- else
							= simple_format h @team.solution_statement

					- pics_array = ['beach','cathedral','dock','HMAS','tree','lake','turbine','island'].shuffle
					%div.resources
						= link_to proposal_pic_path(@team.id), {:rel=>'nofollow'} do
							- pics_array.each do |pic|
								%div= image_tag("misc/48/#{pic}.jpg")
					%p.clear_both

				- questions = @team.questions.sort {|a,b| a.order_id <=> b.order_id }
				%div.proposal
					-#%h3 Current proposal details
					= render :partial=> 'question_summary', :collection => questions, :as => :question, :locals => {:questions => questions}

			= render :partial => 'endorsements/endorsements', :locals=> {:print=>false}
			
			- if @team.org_id == @member.id || @participant_stats.level >= 4
				= render :partial => 'submit'
				
			= add_call_to_action(:id=>'end_summary_print')	
			
			%hr.bottom

			%div.ce_credit
				%div.powered
					= link_to :ce_home do
						%h3 Powered by
						= image_tag("ce_logo_20c.gif")
						%p.tag_line Think together to act together
				%div.lottery
					= image_tag("Lottwest_sup_col_pos.gif")
			
				
		%div.right_side
			= render :partial => 'accordion/accordion'

	%p.clear_both
	
	