%h3.tagline Think together to act together

%p We're co-creating a community written and supported plan to put this idea into action.
%p The answers to the questions on the left outline a concrete action plan that can be shared with the community and its decision makers.

%div.progress
	%div.leaderboard	
		%h3 Leaderboard
		%table
			%tbody
				- @team.participants.each do |participant|
					%tr
						%td
							%img{:src=>participant.photo.url('36'),:class=>'i36'}	
						%td 
							Citizen Level
							%br
							130 points
							%br
							7 contributions

	%div.participants
		%h3 Thinking together
	
		-#%p These community members are already involved in creating this proposal

		- @team.participants.each do |participant|
			%img{:src=>participant.photo.url('36'),:class=>'i36'}

		-#%h3 They've made great progress
		%ul
			%li 153 views
			%li 53 ratings
			%li 37 comments
			%li 17 talking points
			%li 8 preferred talking points
			%li 9 endorsements
	
	%p.clear_both	
	
%h3 We need your help	
-#Stage/momentum/trend

-#%p Here are ways you can participate
%ul
	%li= link_to "Follow this idea",{},{:class=>'follow'}
	%li= link_to "Invite friends",{},{:class=>'invite'}
	%li= link_to "Read this proposal",{},{:class=>'invite'}
	%li= link_to "Tell us what you think",{},{:class=>'invite'}
	%li= link_to "Help write this proposal",{},{:class=>'invite'}
	%li= link_to "Endorse this proposal",{},{:class=>'invite'}
	- if @member.id == @team.org_id || @team.participants.detect{|m| m.id == @member.id}
		%li= link_to "Email participants",{},{:class=>'email_participants'}

	%li
		%a{:rel=>'prettyPhoto', :href=>'http://vimeo.com/22311078', :title=>'2029 CivicEvolution Demo', :id=>'play_intro_video'} 
			Watch our 60 second intro video
