- content_for (:script) do
	:javascript
	%style
		:sass
			$question_bg: rgb(245,230,190)
			$stats_background: #BCC3D0
			$stat_cta_background: #C8BCD1
			$tools_info_bg: #B4BED0
			$stats_stripe: #B4BED0
			$endorsements_bg: #F9F2D4


			=radius
				-webkit-border-radius: 10px
				-moz-border-radius: 10px
				border-radius: 1-0px

			div.talking_points_page
				position: relative
				padding-top: 30px
			p.question
				font-weight: bold
				margin-left: 20px
				cursor: pointer
			div.intro

			div.right_side
				//border: 1px solid #CCC
				//position: absolute
				//top: 0
				//left: 560px
				float: right
				width: 420px
				margin-left: 60px
				//padding-top: 20px
				
			div.left_side
				width: 500px
				float: left
				//border: 1px solid red
				position: relative
				
			div.talking_points_list
				li
					padding-left: 1em
					text-indent: -1em
					margin-bottom: 8px
			div.resources
				margin-left: 40px
				margin-top: -10px
				div 
					width: 48px
					height: 48px
					border: 1px solid #ccc
					float: left
					cursor: pointer
			div.proposal
				margin-top: 40px
				padding-right: 20px
			div.endorsements
				position: relative
				margin-top: 80px
				width: 600px
				table
					margin-right: 1em
				h3
					width: 100%
					text-align: center
			div.progress
				+radius
				//border: 1px solid #ccc
				padding: 1em
				margin: 40px 0
				background-color: $stats_background
				h3
					font-size: 1em
					margin: 0 0 8px 0
				div.participants
					float: right
					//border: 1px solid green
					width: 194px
					tr.stripe						
						background-color: $stats_stripe
					img
						padding: 0 8px 8px 0
				div.leaderboard
					float: left
					margin-right: 20px
					//border: 1px solid blue
					width: 180px
					td
						padding: 0 8px 8px 0
						font-size: .8em
			div.tools_info
				+radius
				background-color: $tools_info_bg
				//width: 100%
				padding: 1em
				div.tools
					float: left
					iframe
						width: 50px
					p,div
						margin: 10px 0 0 0
						//white-space: nowrap
					a
						height: 16px
				div.videos
					float: left
					//margin-top: 40px
					img
						width: 135px
						height: 105px
						margin-top: 10px
					p
						font-weight: bold
			div.cta_block
				+radius
				background-color: $stat_cta_background
				//height: 100px
				width: 100%
				margin-bottom: 20px
				padding-bottom: 10px
				div.text
					float: left
					width: 76%
					//border: 1px solid green
					padding-right: 10px
					h3
						margin-bottom: 0
					p
						margin-top: 8px
					p.cta
						font-weight: bold
				div.num
					//order: 1px solid blue
					float: left
					width: 18%
					color: white
					font-size: 80px
					text-align: center
				
					
- logger.debug "\n\n*************** Begin to render the plan page\n\n"
%div.talking_points_page
	%div.left_side
		%div.spiral
		%div.notebook
			%div.intro
				%div.suggest_title
					%img{:src=>@team.organizer.photo.url('36'),:class=>'i36'}
					%h3 #{@team.organizer.first_name} #{@team.organizer.last_name} suggested this idea for change:
				%h2.home_title 
					%span #{@team.title}
					- if @member.id == @team.org_id
						= link_to "edit", {:action => "edit_proposal_idea", :id => @team.id}, {:class => "edit_in_place [{form_tgt_selector: '.closest(\\'h2\\')', selector: '.parent().find(\\'span\\')', chr_cnt: 255, label: 'Please edit the title', url: '/idea/inline_edit?model=team&field=title&id=#{@team_id}' }]"}

				%div.summary
					- if @member.id == @team.org_id
						= simple_format( h @team.solution_statement ).sub(/<\/p>$/, ' ' + (link_to "edit", {:action => "edit_proposal_idea", :id => @team.id}, {:class => "edit_in_place [{selector: '.closest(\\\\'div.summary\\\\')', chr_cnt: 1000, label: 'Please edit the summary', url: '/team/inline_edit?model=team&field=solution_statement&id=#{@team_id}' }]"} ) + '</p>')
					- else
						= simple_format h @team.solution_statement


				%div.resources
					%div= image_tag('misc/images-1.jpeg')
					%div= image_tag('misc/images-2.jpeg')
					%div= image_tag('misc/images-3.jpeg')
					%div= image_tag('misc/images-4.jpeg')
					%div= image_tag('misc/images-5.jpeg')
					%div= image_tag('misc/images-6.jpeg')
					%div= image_tag('misc/images-7.jpeg')
					%div= image_tag('misc/images-8.jpeg')
				%p.clear_both
		

			- questions = @team.questions.sort {|a,b| a.order_id <=> b.order_id }
			%div.proposal
				%h3 Current proposal details
				= render :partial=> 'question_summary', :collection => questions, :as => :question, :locals => {:questions => questions}
	
			= render :partial => 'submit'

	%div.right_side
		= render :template => 'plan/summary_stats'

%p.clear_both
= render :partial => 'endorsements', :locals=> {:print=>false}