- logger.debug "\n\n*************** Begin to render the plan theme_summary page\n\n"
%div.page_content_div
	%div.left_side
		= render :partial=> 'proposal_header'	
		%hr.top
		
		%div.notebook.corner
			%div.intro
				%h2.home_title
					%span= @team.title
				- if @member.id == @team.org_id
					= link_to "edit", team_edit_path(@team.id, target: 'title'), class: "edit_title edit", remote: true
							
				%div.summary_block
					%div.summary.text
						%h3.label.discussion Executive Summary
						
						%div.idea_summary
							- @team.solution_statement.split(/[\r\n]+/).each do |para|
								%p.summary= auto_link(para, :html => { :target => '_blank' })
							- if @member.id == @team.org_id
								= link_to "edit", team_edit_path(@team.id, target: 'summary'), class: "edit_summary edit", remote: true
								
						- if @team.id == 10096	
							= render partial: 'embedded_video'
							
						= render( partial: 'ideas/rating', locals: { idea: @team.idea } )

						%h3.label.discussion{idea_id: @team.idea.id}
							= link_to view_idea_details_path(@team.idea.id), {class: 'view_all_ideas', rel: 'nofollow', remote: true, wait: 'gif', title: 'Click to view the discussion for this proposal' } do
								%span Discuss this question
								%div.comments
									= image_tag('comment-sketch.gif', title: 'Number of comments')
									%div.counts
										%div.new
											0 new
										%div.total
											0 total
							%p.clear_both
						%div.discussion
					

						%p.clear_both

					= render :partial => 'plan/proposal_tools'
					%p.clear_both
				%p.clear_both
			%p.clear_both

			- questions = @team.question_ideas.sort {|a,b| a.order_id <=> b.order_id }
			%div.proposal
				= render :partial=> 'question_theme_summary', :collection => questions, :as => :question, :locals => { questions: questions, team: @team}

		= render :partial => 'endorsements/endorsements', :locals=> {:print=>false}
		
		- if [1,2].include?( params[:_initiative_id] )
			= render :partial => 'submit'
		
		%hr.bottom	
		= render :partial=> 'proposal_footer'	
			
	%div.right_side
		= render :partial => 'right_panel/master'

%p.clear_both
:javascript
	var pub_sub_channels = #{@channels}
	var theming_auth = #{@team.org_id == @member.id}
	if(typeof stat_data == 'undefined'){
		var stat_data = {
			last_visit: #{@last_visit.to_f},
			coms: #{@com_data.to_json},
			ideas: #{@idea_data.to_json},
			ratings: #{@rating_data.to_json}
		}
	}

