- logger.debug "\n\n*************** Begin to render the plan theme_summary page\n\n"
%div.page_content_div
	%div.left_side
		= render :partial=> 'proposal_header'	
		%hr.top
		
		%div.notebook.corner
			%div.intro
				%h2.home_title= @team.title
						
				%div.summary_block
					%div.summary.text
						%div.call-to-action.summary
						
							%div.explore
								= link_to image_tag('magnify.gif', title: 'Click here to discuss and rate this proposal'), view_idea_details_path(@team.idea.id, act: 'view_team'), {class: 'view_team', rel: 'nofollow', remote: true, wait: 'gif' }
						
							%div.custom
							-# if question.unrated_ideas.count > 0 
								%div.comments
									= link_to image_tag('comment-sketch.gif'), view_idea_details_path(@team.idea.id, act: 'view_team' ), {class: 'view_unrated_ideas', rel: 'nofollow', remote: true, wait: 'gif' }
									%span.cnt
										5
										-#{question.unrated_ideas.count} new
						
						- @team.solution_statement.split(/[\r\n]+/).each do |para|
							%p= para
						- if @team.id == 10096	
							= render partial: 'embedded_video'

						%p.clear_both

					= render :partial => 'plan/proposal_tools'
					%p.clear_both
				%p.clear_both
			%p.clear_both

			- questions = @team.question_ideas.sort {|a,b| a.order_id <=> b.order_id }
			%div.proposal
				= render :partial=> 'question_theme_summary', :collection => questions, :as => :question, :locals => { questions: questions, team: @team}

		= render :partial => 'endorsements/endorsements', :locals=> {:print=>false}
		
		-#= render :partial => 'submit'
		
		%hr.bottom	
		= render :partial=> 'proposal_footer'	
			
	%div.right_side
		= render :partial => 'right_panel/master'

%p.clear_both
:javascript
	var pub_sub_channels = #{@channels}
	var theming_auth = #{@team.org_id == @member.id}
	if(typeof stat_data == 'undefined'){
		var stat_data = {
			last_visit: #{@last_visit.to_f},
			coms: #{@com_data.to_json},
			ideas: #{@idea_data.to_json},
			ratings: #{@rating_data.to_json}
		}
	}

