The following content has been reported by a #{@app} visitor on #{@host}
~ ''
Report type: #{@report.report_type}
~''
Message: 
#{@report.text}
~''
Text:
#{@target.text}
~''
Report id: #{@report.id}
Type: #{@report.content_type}
Id:   #{@report.content_id}
-#Team: http://#{@host}/idea/#{@item.team_id}?item=#{@item.id}
~''
Sender: #{@report.sender_name}, #{@report.sender_email}
