- @member ||= Member.new :first_name=>'Unknown', :last_name=>'Visitor', :ape_code =>'unknown'
- title ||= @title.nil? ? 'CivicEvolution Live' : @title
- inc_js ||= 'all'
!!!
%html{html_attrs('en-en')}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
		= csrf_meta_tag
		
		- if !defined?(redirect_url).nil?
			%meta{'http-equiv' => "refresh", :content=> "5;#{redirect_url}" }
		
		
		%title= title
		=	stylesheet_link_tag 'plan.css', 'talking_point.css', 'ce_live.css'
			
	%body
		%div.page

			- if !@live_node.nil? && !@live_node.id.nil? 
				%h3.session_title 
					Comments/changes or additions to online proposals
					%span.remaining_time.label
						Time remaining: 
					%span.remaining_time.time
						12:14
				
				%div.join_com
					%span.role
						Role: #{role}
					#{@live_node.name} -  
					= link_to 'Sign out', {:action=>'sign_out'}, {:class=>'sign_in', :id=>'sign_in_link', :rel=>'nofollow', :remote=>false}
				%p.clear_both
					
			- else
				%div.logo
					%a{ :href=> '/'}
						= image_tag("ce_logo_20c.gif")
				%div.tagline
					%h3 Think together to Act together
				
				%div.join_com
					#{link_to 'Sign in', {:action=>'sign_out'}, {:class=>'sign_in', :id=>'sign_in_link', :rel=>'nofollow', :remote=>false}}
				%hr.top
			

			= yield
			
			-#%hr.bottom

			-#%div.ce_credit
				%div.powered
					= link_to :ce_home do
						%h3 Powered by
						= image_tag("ce_logo_20c.gif")
						%p.tag_line Think together to act together
				
		:javascript
			var client;
			var member = {first_name: "#{@member.first_name}", last_name: "#{@member.last_name}", ape_code: "#{@member.ape_code}" }
			var page_channel = '#{@page_channel}';
	
		= javascript_include_tag :defaults

		- if inc_js == 'all'
			= javascript_include_tag 'app_live_realtime.js','app_ce_live.js','jquery.scrollTo-min.js','jquery.autogrow.js','jquery.isonscreen.js',"jquery.show_char_limit-1.1.1.js", '../plugins/prettyPhoto/js/jquery.prettyPhoto.js',"jquery.timeago.js"
	
		= stylesheet_link_tag 'cupertino/jquery-ui-1.8.17.custom.css'
		-# stylesheet_link_tag '../plugins/prettyPhoto/css/prettyPhoto.css'

		= yield :script
