- @member ||= Member.new :first_name=>'Unknown', :last_name=>'Visitor', :ape_code =>'unknown'
- title ||= !@team.nil? ? "#{@team.title}" : title || params[:_app_page_title]
!!!
%html{html_attrs('en-en')}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
		= csrf_meta_tag
		
		- if !defined?(redirect_url).nil?
			%meta{'http-equiv' => "refresh", :content=> "5;#{redirect_url}" }
		
		
		%title= title
		:javascript
			var am_curator = #{(!@team.nil? && @team.org_id == @member.id || (!@participant_stats.nil? && @participant_stats.level >= 3)) ? true : false};
		=	stylesheet_link_tag 'home.css'
		- if params[:monitor] != 'true'
			:javascript
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', "#{GOOGLE_ANALYTICS_ACCOUNT}"]);
				_gaq.push(['_setDomainName', "#{GOOGLE_ANALYTICS_DOMAIN}"]);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			
	%body
		%div.page
			= render :partial=> 'plan/proposal_header'	

			- if !@member.nil? && !@member.id.nil? && @member.id != 0	
				= render :partial => 'sign_in/member_info'		
			- else
				%div.join_com
					#{link_to 'Sign in', sign_in_path, {:class=>'sign_in', :id=>'sign_in_link', :rel=>'nofollow', :remote=>true}} /
					= link_to 'Join', sign_in_path, {:class=>'sign_in', :id=>'sign_in_link', :rel=>'nofollow', :remote=>true}
					
			%hr.top
			
			= yield
			
			%hr.bottom

			= render :partial=> 'plan/proposal_footer'	
				
		:javascript
			//_load_times.page_loaded = new Date()
			var client;
			var member = {first_name: "#{@member.first_name}", last_name: "#{@member.last_name}", ape_code: "#{@member.ape_code}" }
			var page_channel = '#{@page_channel}';
		- if !@team.nil?
			:javascript
				var team_id = #{@team.id};
				var com_criteria = Number('#{@team.com_criteria}'.match(/\d+$/));
				var res_criteria = Number('#{@team.res_criteria}'.match(/\d+$/));
			
	
		= javascript_include_tag :defaults
		
		= javascript_include_tag 'app_ce_realtime.js','jquery.scrollTo-min.js','jquery.autogrow.js','jquery.isonscreen.js',"jquery.show_char_limit-1.1.1.js", '../plugins/prettyPhoto/js/jquery.prettyPhoto.js',"jquery.timeago.js", "jquery.multi-open-accordion-1.5.3.js"
		
		
		= stylesheet_link_tag 'cupertino/jquery-ui-1.8.17.custom.css', '../plugins/prettyPhoto/css/prettyPhoto.css'

		= yield :script
		
		
		-# 'jquery.MetaData.js', "pure.js", "jquery.timeago.js", "jquery.json-2.2.min.js"
		