- @member ||= Member.new :first_name=>'Unknown', :last_name=>'Visitor', :ape_code =>'unknown'
- title ||= !@team.nil? ? "#{@team.title}" : title || params[:_app_page_title]
- inc_js ||= 'all'
- get_templates ||= 'true'
!!!
%html{html_attrs('en-en')}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
		= csrf_meta_tag
		
		- if !defined?(redirect_url).nil?
			%meta{'http-equiv' => "refresh", :content=> "5;#{redirect_url}" }
		
		
		%title= title
		:javascript
			var am_curator = #{(!@team.nil? && @team.org_id == @member.id || (!@participant_stats.nil? && @participant_stats.level >= 3)) ? true : false};
		
		= stylesheet_link_tag "application_ce"
		
		- if params[:monitor] != 'true'
			:javascript
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', "#{GOOGLE_ANALYTICS_ACCOUNT}"]);
				_gaq.push(['_setDomainName', "#{GOOGLE_ANALYTICS_DOMAIN}"]);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			
	%body

		%div.page
			= yield
		
		- @participant_stats ||= ParticipantStats.new
		- @notification_setting ||= NotificationRequest.new
		:javascript
			//_load_times.page_loaded = new Date()
			var client;
			var member = {first_name: "#{@member.first_name}", last_name: "#{@member.last_name}", ape_code: "#{@member.ape_code}", ror_session_id: "#{request.session_options[:id]}", follow_set: #{@participant_stats.set_following || false}, follow_freq: "#{@notification_setting.follow_freq}", active_participant: #{@active_participant} }
			var participant_stats = #{@participant_stats.to_json}.participant_stats;
			var page_channel = '#{@page_channel}';
		- if !@team.nil?
			:javascript
				var team_id = #{@team.id};
				var com_criteria = Number('#{@team.com_criteria}'.match(/\d+$/));
				var res_criteria = Number('#{@team.res_criteria}'.match(/\d+$/));
				var get_templates = #{get_templates};

		- if inc_js == 'all'
			= javascript_include_tag 'application_ce'
		- else
			= javascript_include_tag 'application_ce_no_js'

		= yield :script
		
