- title = !@team.nil? ? @team.title : title || 'CivicEvolution'
!!!
%html{html_attrs('en-en')}
	%head
		%meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=UTF-8'}
		= csrf_meta_tag
		
		- if !defined?(redirect_url).nil?
			%meta{'http-equiv' => "refresh", :content=> "5;#{redirect_url}" }
		
		
		%title Plan: #{title}
		-#:javascript
			var _load_times = { start: new Date()}	
			var AUTH_TOKEN = #{protect_against_forgery? ? form_authenticity_token.inspect : ''}
		=	stylesheet_link_tag 'plan.css', 'talking_point.css'
		-params[:monitor] = 'true'
		- if params[:monitor] != 'true'
			-#logger.debug "add google analytics code"
			-#:javascript
				var _gaq = _gaq || [];
				_gaq.push(['_setAccount', "#{GOOGLE_ANALYTICS_ACCOUNT}"]);
				_gaq.push(['_setDomainName', "#{GOOGLE_ANALYTICS_DOMAIN}"]);
				_gaq.push(['_trackPageview']);
				(function() {
					var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
					ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
					var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
				})();
			
	%body
		= link_to "Help", request_help_path, {:class=>'help_tag request_help', :remote => true}
		- if !@team.nil?
			= link_to "New", new_content_path(@team),{:class=>'new_tag request_new', :remote => true}
		
		%div#load_mask
	
		%div.page
			%div.logo
				%a{ :href=> '/'}
					= image_tag("2029_logo_tag.gif")

			- if !@member.nil? && @member.id != 0	
				= render :partial => 'sign_in/member_info'		
			- else
				%div.join_com
					#{link_to 'Sign in', sign_in_path, {:class=>'sign_in', :id=>'sign_in_link', :rel=>'nofollow', :remote=>true}} /
					= link_to 'Join', sign_in_path, {:class=>'sign_in', :id=>'sign_in_link', :rel=>'nofollow', :remote=>true}
					
			%hr.top
			%h2#load_message
				%img{:src=>"/images/rotating_arrow.gif"}
				Please wait while the page finishes loading

			-#:javascript
				var mask = document.getElementById('load_mask');
				mask.style.width = (document.width ? document.width : document.body.clientWidth) 	+ 'px';
				mask.style.display = 'block';
				document.getElementById('load_message').style.display = 'block';
			
			= yield
			
			%hr.bottom

			%div.ce_credit
				%div.powered
					= link_to :ce_home do
						%h3 Powered by
						= image_tag("ce_logo_20c.gif")
						%p.tag_line Think together to act together
				%div.lottery
					= image_tag("Lottwest_sup_col_pos.gif")
				
		-#:javascript
			var mask = document.getElementById('load_mask');
			mask.style.width = (document.width ? document.width : document.body.clientWidth) 	+ 'px';
			mask.style.height = (document.height ? document.height : document.body.clientHeight) + 'px';
		
		:javascript
			//_load_times.page_loaded = new Date()
			var client;
			var member = {first_name: "#{@member.first_name}", last_name: "#{@member.last_name}", ape_code: "#{@member.ape_code}" }
			var page_channel = '#{@page_channel}';
		- if !@team.nil?
			:javascript
				var team_id = #{@team.id};
				var com_criteria = Number('#{@team.com_criteria}'.match(/\d+$/));
				var res_criteria = Number('#{@team.res_criteria}'.match(/\d+$/));
			
	
		= javascript_include_tag :defaults
		
		= javascript_include_tag 'jquery.scrollTo-min.js','jquery.autogrow.js','jquery.isonscreen.js',"jquery.show_char_limit-1.1.1.js"
		
		= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.9.custom.css'
		
		= yield :script
		
		-#= javascript_include_tag "jquery-1.6.2.min.js", "jquery.rating.js", 'jquery.form.js', 'jquery.MetaData.js', 'jquery-ui-1.8.14.custom.min.js','jquery.scrollTo-min.js', "jquery.autogrow.js", "jquery.show_char_limit-1.1.1.js", "jquery.cookies.2.2.0.min.js", "pure.js", "jquery.timeago.js", "jquery.json-2.2.min.js"
		
	-#	
		= javascript_include_tag "idea/activate/idea.js", "idea/gen/forms.js","idea/gen/notifier.js", "idea/gen/dispatch.js", "idea/idea.js", "idea/Ideas.js", "idea/activate/act_welcome_layout.js"
		= stylesheet_link_tag 'ui-lightness/jquery-ui-1.8.9.custom.css','jquery.rating.css'
		
		= yield :script

		= javascript_include_tag '../plugins/jquery.hoverIntent.minified.js','../plugins/cluetip-1.0.6/jquery.cluetip.js', '../plugins/prettyPhoto/js/jquery.prettyPhoto.js'
		=	stylesheet_link_tag '../plugins/cluetip-1.0.6/jquery.cluetip.css', '../plugins/prettyPhoto/css/prettyPhoto.css'
	