%div#invite_friends
	%style
		:sass
			div#invite_friends
				p.subject
					margin: 4em 0 2em 0
				p.instr
					margin: 0 0 0 1em
					font-size: .8em
					color: #444
	
	%h2 Please tell your friends about this proposal
	- if @member.id == 0
		- if team.nil?
			%p You can email them this link: #{home_url}
		- else
			%p You can email them this link: #{plan_url(team)}
			
		%p If you #{link_to 'sign in or join', sign_in_path}, we can send this link directly to your friends for you and you'll get the credit and recognition for supporting this proposal.
	- else
		%p 
			The email addresses you enter here will be used just one time to send this email.
			- if !team.nil? && team.initiative_id == 1
				%i Please note, only City of Geraldton-Greenough staff can access CGG proposals. Please contact us to make an exception.
				
		= render( :partial => 'shared/error_messages', :locals => {:errors => @form_errors}) unless @form_errors.nil?
				
		= form_tag( invite_friends_preview_path(team.nil? ? 0 : team.id), {:class=>'invite_friends std_form', :remote=>true} ) do
			= hidden_field_tag :send_now
			= hidden_field_tag :recaptcha_challenge
			= hidden_field_tag :recaptcha_response
		
			%label 
				Please enter your friend's names and email addresses
				%p.instr One friend per line, the name is optional:
				%p.instr Joe Public joe@public.com
				%p.instr mary@public.com
				-#= link_to "How", {:id=>'invite_emails'}, {:class=>'show_me_how', :rel=>'nofollow'}

			- recipient_emails = params[:recipient_emails] || ''
			= text_area_tag :recipient_emails, recipient_emails, {:class=>'autosize'}

			%div.form_controls
				%span.char_ctr
					1000
					characters
			
			%p.subject Subject: #{@member.first_name} #{@member.last_name} thinks you should check out this community proposal
		
			%label Please write a short message that will encourage them to visit the site
			
			- message = params[:message]|| ''
			= text_area_tag :message, message, {:class=>'autosize'}

			%div.form_controls
				%button 
					Preview and send

				%span.char_ctr
					1000
					characters
					
				- if team.nil?
					= link_to 'Cancel', home_path, {:class=>'clear', :rel=>'nofollow'}
					%p You can email them this link: #{home_url(team)}
				- else
					= link_to 'Cancel', plan_path(team), {:class=>'clear', :rel=>'nofollow'}
